{% include 'partial/header.html' %}
        <div id="window"></div>

        <div class="actions block">
            <div class="col col-l">
                <a class="item" href="#">资金汇总</a> 
                <a class="item highlight" href="#">充值管理</a> 
                <a class="item" href="#">提现管理</a> 
                <a class="item" href="#">授信管理</a> 
                <a class="item" href="#">押金管理</a> 
                <a class="item" href="#">冻结管理</a> 
                <a class="item" href="#">收支明细</a> 
                <a class="item" href="#">交易明细</a> 
            </div>
            <div class="col col-r sep-l">
                <button class="btns btn-blue">新增充值</button>
                <button class="btns btn-blue">新增扣款</button>
                <button class="btns btn-blue">充值单管理</button>
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户简称</label>
                    <input style="width:80px">
                    <button class="btns btn-search">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">充值方式</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部','支付宝']">
                    </li>
                    <li>
                    <label class="vertical-head">操作人</label>
                    <input style="width:100px">
                    <button class="btns btn-search">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">充值日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">到帐日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核状态</label>
                    <input data-role="dropdownlist" data-source="['等待审核']" style="width:100px">
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                <ul class="flat-list">
                    <li>
                    <button class="btns btn-ac-blue">导出Excel</button> 
                    </li>
                </ul>
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th data-field="c1">客户</th>
                    <th data-field="c2">扣款金额</th>
                    <th data-field="c3">充值金额</th>
                    <th data-field="c4">账户余额</th>
                    <th data-field="c5">充值方式</th>
                    <th data-field="c6">充值时间</th>
                    <th data-field="c7">到帐时间</th>
                    <th data-field="c8">摘要</th>
                    <th data-field="c9">操作人</th>
                </tr>
                <tr>
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>2013-04-01 15:30</td>
                  <td>2013-04-01 15:30</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
                <tr class="highlight">
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>2013-04-01 15:30</td>
                  <td>2013-04-01 15:30</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
                <tr>
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>2013-04-01 15:30</td>
                  <td>2013-04-01 15:30</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
                <tr>
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>2013-04-01 15:30</td>
                  <td>2013-04-01 15:30</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
                <tr>
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>2013-04-01 15:30</td>
                  <td>2013-04-01 15:30</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
            </table>
            <div class="grid-table-pagination">
                <span class="grid-table-count">
                    共 <em>132</em> 条记录 
                </span> 
                <span>
                    <a class="prev" href="#">&nbsp;</a> 
                </span>
                <span class="links">
                    <a href="#">1</a> 
                    <a href="#">2</a> 
                    <a class="current" href="#">3</a> 
                    <a href="#">4</a> 
                    <a href="#">5</a> 
                    <a href="javascript:;">...</a>
                    <a href="#">50</a> 
                </span>
                <span>
                    <a class="next" href="#">&nbsp;</a> 
                </span>
            </div>
            <div style="height:0px;position:relative;" class="extra">
                <div style="position:absolute;top:-30px;left:20px;">
                    扣款金额：
               <span class="text1">42141</span> &nbsp;
                充值金额：
               <span class="text1">57.22亿</span> &nbsp; 
               账户余额：
               <span class="text1">999</span>  
                </div>
            </div>
        </div>

{% include 'partial/footer.html' %}
