{% extends 'frame/layout.html' %}
{%block pagename %}{{title}}{%endblock%}

{% block js %}
<script type="text/javascript" src="/static/js/finance.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/finance.css" />
{% endblock %}

{% block main %}

        <div class="actions block">
            <div class="col col-l sep-r">
                <button class="btns btn-return">返回</button>
            </div>
            <div class="col col-l" style="margin-left:10px;">
                <a class="item highlight" href="#">充值单管理</a> 
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户名称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">充值方式</label>
                    <input style="width:50px" data-role="dropdownlist" data-source="['刷卡','支付宝']">
                    <input style="width:80px" data-role="dropdownlist" data-source="['中国银行','支付宝']">
                    </li>
                    <li>
                    <label class="vertical-head">申请人</label>
                    <input style="width:100px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">申请日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核状态</label>
                    <input data-role="dropdownlist" data-source="['等待审核','已审核']" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核人</label>
                    <input style="width:100px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                    <button class="btns btn-ac-blue ac-pass">审核通过</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue ac-decline">审核退回</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">导出Excel</button> 
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th> <input type="checkbox" /> </th>    
                    <th>凭单号</th>
                    <th>客户</th>
                    <th>银行</th>
                    <th>银行卡号</th>
                    <th>付款人</th>
                    <th>充值金额</th>
                    <th>账户余额</th>
                    <th>审核状态</th>
                    <th>摘要</th>
                    <th>申请时间</th>
                    <th>审核时间</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>

<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"11,321,321.00",
            c4:"xxx",
            c5:"xxx",
            c6:"2013-12-12",
            c7:"张三",
            c8:"2013-12-12",
            c9:"张三",
            c10:"11,321,321.00",
            c11:"xxx",
            c12:"xxx",
            c13:"xxx"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
    <tr>
        <td>
            <input type="checkbox"> 
        </td>
        # kendo.logToConsole(data) #
        <td>#= data.c1 #</td>
        <td>#= data.c2 #</td>
        <td>#= data.c3 #</td>
        <td>#= data.c4 #</td>
        <td>#= data.c5 #</td>
        <td><span class="text1">#= data.c10 #</span></td>
        <td>#= data.c11 #</td>
        <td>#= data.c12 #</td>
        <td>#= data.c13 #</td>
        <td>#= data.c6 #<br>#= data.c7 #</td>
        <td>#= data.c8 #<br>#= data.c9 #</td>
                  <td class="grid-row-ac">
                        <button class="btns ac-pass">通过</button> 
                        <button class="btns ac-return">退回</button> 
                  </td>
 
    </tr>
</script>

<script type="text/x-kendo-template" id="ac-decline-template">

<div class="ac-new-window-container">
<div style="font-size:14px;">
进行该操作将驳回选中的<span class="text1">5</span>个账户充值请求，驳回的原因是？
<textarea style="width:100%;margin-top:10px;"></textarea>
</div>

        <div style="text-align:right;margin-top:20px;">
            <button class="btns button_1_2">确 认</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
        </div>
</script>

<script type="text/x-kendo-template" id="ac-pass-template">

<div class="ac-new-window-container">
<div style="font-size:14px;">
该操作将给选中的<span class="text1">5</span>个账户进行充值，是否确认？
</div>

        <div style="text-align:right;margin-top:20px;">
            <button class="btns button_1_2">确 认</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
        </div>
</script>


<script type="text/javascript">

$(function(){
    new PopWindow('.ac-pass', {
        template:'#ac-pass-template',
        title:'操作提示',
        width:'470'
    }).init();

    new PopWindow('.ac-decline', {
        template:'#ac-decline-template',
        title:'操作提示',
        width:'470'
    }).init();
});

</script>


{% include 'finance/partial/footer.htm'%}
{% endblock %}
