{% include 'partial/header.html' %}
        <div id="window"></div>

        <div class="actions block">
            <div class="col col-l sep-r">
                <button class="btns btn-return">返回</button>
            </div>
            <div class="col col-l" style="margin-left:10px;">
                <a class="item highlight" href="#">充值单管理</a> 
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户简称</label>
                    <input style="width:80px">
                    <button class="btns btn-search">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">充值方式</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部','支付宝']">
                    </li>
                    <li>
                    <label class="vertical-head">审核人</label>
                    <input style="width:100px">
                    <button class="btns btn-search">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">申请日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核状态</label>
                    <input data-role="dropdownlist" data-source="['等待审核','已审核']" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">申请人</label>
                    <input style="width:100px">
                    <button class="btns btn-search">查询</button>
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                <ul class="flat-list">
                    <li>
                    <button class="btns btn-ac-blue">审核通过</button> 
                    </li> 
                    <li>
                    <button class="btns">审核退回</button> 
                    </li>
                    <li>
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    </li>
                    <li>
                    <button class="btns">导出Excel</button> 
                    </li>
                </ul>
            </div> 
            <table class="grid-table" data-role="grid">
                <tr class="thead">
                    <th data-field="c1"> <input type="checkbox" /> </th>    
                    <th data-field="c2">凭单号</th>
                    <th data-field="c3">客户</th>
                    <th data-field="c4">银行</th>
                    <th data-field="c5">银行卡号</th>
                    <th data-field="c6">账户余额</th>
                    <th data-field="c7">充值金额</th>
                    <th data-field="c8">付款人</th>
                    <th data-field="c9">审核状态</th>
                    <th data-field="c10">摘要</th>
                    <th data-field="c11">申请时间</th>
                    <th data-field="c12">审核时间</th>
                    <th data-field="c13">操作</th>
                </tr>
                <tr>
                <td>
                <input type="checkbox" /> 
                </td>
                  <td>123</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>123</td>
                  <td>180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td class="grid-row-ac">
                        <button class="btns ac-pass">通过</button> 
                        <button class="btns ac-return">退回</button> 
                  </td>
                </tr>
                <tr class="highlight">
                <td>
                <input type="checkbox" /> 
                </td>
                  <td>123</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>123</td>
                  <td>180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td class="grid-row-ac">
                        <button class="btns ac-pass">通过</button> 
                        <button class="btns ac-return">退回</button> 
                  </td>
                </tr>
                <tr>
                <td>
                <input type="checkbox" /> 
                </td>
                  <td>123</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>123</td>
                  <td>180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td class="grid-row-ac">
                        <button class="btns ac-pass">通过</button> 
                        <button class="btns ac-return">退回</button> 
                  </td>
                </tr>
                <tr>
                <td>
                <input type="checkbox" /> 
                </td>
                  <td>123</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>123</td>
                  <td>180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td class="grid-row-ac">
                        <button class="btns ac-pass">通过</button> 
                        <button class="btns ac-return">退回</button> 
                  </td>
                </tr>
                <tr>
                <td>
                <input type="checkbox" /> 
                </td>
                  <td>123</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>123</td>
                  <td>180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td class="grid-row-ac">
                        <button class="btns ac-pass">通过</button> 
                        <button class="btns ac-return">退回</button> 
                  </td>
                </tr>
                <tr>
                <td>
                <input type="checkbox" /> 
                </td>
                  <td>123</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>123</td>
                  <td>180,000,000.00</td>
                  <td class="text1">180,000,000.00</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td class="grid-row-ac">
                        <button class="btns ac-pass">通过</button> 
                        <button class="btns ac-return">退回</button> 
                  </td>
                </tr>
            </table>
            <div class="grid-table-pagination">
                <span class="grid-table-count">
                    共 <em>132</em> 条记录 
                </span> 
                <span>
                    <a class="prev" href="#">&nbsp;</a> 
                </span>
                <span class="links">
                    <a href="#">1</a> 
                    <a href="#">2</a> 
                    <a class="current" href="#">3</a> 
                    <a href="#">4</a> 
                    <a href="#">5</a> 
                    <a href="javascript:;">...</a>
                    <a href="#">50</a> 
                </span>
                <span>
                    <a class="next" href="#">&nbsp;</a> 
                </span>
            </div>
        </div>

{% include 'partial/footer.html' %}
