{% extends 'frame/layout.html' %}
{%block pagename %}{{title}}{%endblock%}

{% block js %}
<script type="text/javascript" src="/static/js/finance.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/finance.css" />
{% endblock %}

{% block main %}

        <div class="actions block">
            <div class="col col-l">
                <a class="item" href="#">资金汇总</a> 
                <a class="item highlight" href="#">充值管理</a> 
                <a class="item" href="#">提现管理</a> 
                <a class="item" href="#">授信管理</a> 
                <a class="item" href="#">押金管理</a> 
                <a class="item" href="#">冻结管理</a> 
                <a class="item" href="#">收支明细</a> 
                <a class="item" href="#">支票管理</a> 
                <a class="item" href="#">交易明细</a> 
            </div>
            <div class="col col-r sep-l">
                <button class="btns btn-blue ac-new" data-template="#ac-new-template" data-options="{
                    title:'新增充值' 
                    }">新增充值</button>
                <button class="btns btn-blue ac-new2" data-template="#ac-new2-template" data-options="{
                    title:'新增扣款' 
                    }">新增扣款</button>
                <a href="充值单管理.html"><button class="btns btn-blue">充值单管理</button></a>
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户名称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li style="width:250px;">
                    <label class="vertical-head">充值方式</label>
                    <input style="width:80px" data-role="dropdownlist" data-source="['刷卡','支付宝']">
                    <input style="width:80px" data-role="dropdownlist" data-source="['中国银行','支付宝']">
                    </li>
                    <li>
                    <label class="vertical-head">审核状态</label>
                    <input data-role="dropdownlist" data-source="['等待审核']" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">操作人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li style="width:453px;">
                    <select data-role="dropdownlist" style="width:100px;" id="" name="">
                        <option value="">充值日期</option>
                        <option value="">到帐日期</option>
                    </select>
                    <input data-role="datepicker" style="width:100px">
                    至
                    <input data-role="datepicker" style="width:100px">
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                    <button class="btns btn-ac-blue">导出Excel</button> 
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th>客户</th>
                    <th>充值金额</th>
                    <th>扣款金额</th>
                    <th>账户余额</th>
                    <th>充值/扣款方式</th>
                    <th>到帐时间</th>
                    <th>摘要</th>
                    <th>操作人</th>
                </tr>
            </table>
            <div style="height:0px;position:relative;" class="extra">
                <div style="position:absolute;top:-30px;left:20px;">
                充值总金额：
               <span class="text1">231321321321321</span> &nbsp; 
                </div>
            </div>
        </div>

<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"11,321,321.00",
            c4:"xxx",
            c5:"xxx",
            c6:"2013-12-12",
            c7:"张三",
            c8:"2013-12-12",
            c9:"张三"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
                <tr>
                    <td>xxx</td>
                  <td class="text1">#= data.c3 #</td>
                  <td class="text1">#= data.c3 #</td>
                  <td class="text1">#= data.c3 #</td>
                  <td>xxx</td>
                  <td>2013-04-01 15:30</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>#= data.c9 #</td>
                </tr>
</script>

<!-- 新增充值模板 -->
<script type="text/x-kendo-template" id="ac-new-template">
<div class="ac-new-window-container">
<ul class="flat-list">
<li>
<label class="vertical-head">选择客户：</label>
<input style="width:100px">
<button class="btns btn-search ac-search-customer">查询</button>
</li>
<li>
<label class="vertical-head">可用余额：</label>
<span>231321</span>
</li>
<li style="width:510px;">
<label class="vertical-head">充值方式</label>
<input data-role="dropdownlist" data-index="0" data-value-field="value" data-text-field="text" data-source="[{value:1,text:'现金'}, {value:2,text:'刷卡'}, {value:3,text:'支票'}, {value:4,text:'汇款'}, {value:5,text:'网上支付'}, {value:6,text:'电话支付'}, {value:6,text:'其它'}]" style="width:80px;">
<input style="width:120px">
添加：
<button class="btns btn-ac-blue ac-add-row" data-index="0">现金</button>
<button class="btns btn-ac-blue ac-add-row" data-index="1">刷卡</button>
<button class="btns btn-ac-blue ac-add-row" data-index="2">支票</button>
<button class="btns btn-ac-blue ac-add-row" data-index="3">汇款</button>
</li>
<li style="width:400px;">
<label style="vertical-align:top;" class="vertical-head">摘要：</label>
<textarea></textarea>
</li>
</ul>
</div>
        <div style="text-align:right;">
            <button class="btns button_1_2 ac-submit">提 交</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<!-- 新增扣款模板 -->
<script type="text/x-kendo-template" id="ac-new2-template">
<div class="ac-new-window-container">
<ul class="flat-list">
<li>
<label class="vertical-head">选择客户：</label>
<input style="width:100px">
<button class="btns btn-search ac-search-customer">查询</button>
</li>
<li>
<label class="vertical-head">可用余额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">扣款金额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">确认金额：</label>
<input style="width:100px">
</li>
<li style="width:400px;">
<label style="vertical-align:top;" class="vertical-head">备注：</label>
<textarea></textarea>
</li>
</ul>
</div>
        <div style="text-align:right;">
            <button class="btns button_1_2 ac-submit2">提 交</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<!-- 新增充值确认模板 -->
<script type="text/x-kendo-template" id="ac-submit-template">
<div class="ac-new-window-container">
<ul class="flat-list">
                    <li>
                    <label class="vertical-head">用户：</label>
                    <span>fdsa</span>
                    </li>
                    <li style="width:300px">
                    <label class="vertical-head">充值方式：</label>
                    <span>fdafds</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label style="width:40px;" class="vertical-head">金额：</label>
                    <strong class="text1">12,313,213</strong>
                    </li>
                    <li style="width:300px">
                    <label class="vertical-head">充值方式：</label>
                    <span>fdafds</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label style="width:40px;" class="vertical-head">金额：</label>
                    <strong class="text1">12,313,213</strong>
                    </li>
                    <li style="width:300px">
                    <label class="vertical-head">充值方式：</label>
                    <span>fdafds</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label style="width:40px;" class="vertical-head">金额：</label>
                    <strong class="text1">12,313,213</strong>
                    </li>
                    <li style="width:300px">
                    <label class="vertical-head">充值方式：</label>
                    <span>fdafds</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label style="width:40px;" class="vertical-head">金额：</label>
                    <strong class="text1">12,313,213</strong>
                    </li>
    </div>
        <div style="text-align:right;">
            <button class="btns button_1_2">确 认</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<!-- 新增扣款 -->
<script type="text/x-kendo-template" id="ac-submit2-template">
<div class="ac-new-window-container">
<ul class="flat-list">
                    <li>
                    <label class="vertical-head">用户：</label>
                    <span>fdsa</span>
                    </li>
                    <li>
                    <label class="vertical-head">扣款金额：</label>
                    <strong class="text1">12,313,213</strong>
                    </li>
    </div>
        <div style="text-align:right;">
            <button class="btns button_1_2">确 认</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<script type="text/x-kendo-template" id="ac-add-row-template">
<li style="width:400px;">
<label class="vertical-head">&nbsp;</label>
<input data-role="dropdownlist" data-index="#= data.index #" data-value-field="value" data-text-field="text" data-source="[{value:1,text:'现金'}, {value:2,text:'刷卡'}, {value:3,text:'支票'}, {value:4,text:'汇款'}, {value:5,text:'网上支付'}, {value:6,text:'电话支付'}, {value:6,text:'其它'}]" style="width:80px;">
<input style="width:120px" name="item-#= kendo.toString(new Date()-0) #" #= data.validation#>
<button class="btns btn-ac-blue ac-del-row">删除</button>
</li>
</script>

<script type="text/javascript">

$(function(){
    var ac_new = new PopWindow('.ac-new').init();

    ac_new.bind('open',function(e){
        var container = e.sender.element;
        container.kendoValidator();
    })

    var ac_new2 = new PopWindow('.ac-new2').init();

    new PopWindow('.ac-submit', {
        template:'#ac-submit-template',
        title:'确认充值',
        width:'470'
    }).init();

    new PopWindow('.ac-submit2', {
        template:'#ac-submit2-template',
        title:'确认扣款',
        width:'470'
    }).init();

    $('body').delegate('.ac-add-row', 'click', function(){
        var validationHTML;
        var that = $(this);
        switch(that.data('index')){
            case 0: 
                validationHTML = 'required data-required-msg="金额必填"';
                break;
            case 2: 
                validationHTML = 'disabled';
                break;
            default:
                validationHTML = 'disabled';
                break;
        }

        var html = kendo.template($('#ac-add-row-template').html())({
            index:that.data('index'),
            validation: validationHTML
        }); 
        that.closest('li').after(html);
           kendo.init(that.closest('ul')); 
    });

    $('body').delegate('.ac-del-row', 'click', function(){
        var that = $(this);
        that.closest('li').remove();
    });

});

</script>



{% include 'finance/partial/footer.htm'%}
{% endblock %}
