{% include 'partial/header.html' %}
        <div id="window"></div>

        <div class="actions block">
            <div class="col col-l">
                <a class="item" href="#">资金汇总</a> 
                <a class="item highlight" href="#">充值管理</a> 
                <a class="item" href="#">提现管理</a> 
                <a class="item" href="#">授信管理</a> 
                <a class="item" href="#">押金管理</a> 
                <a class="item" href="#">冻结管理</a> 
                <a class="item" href="#">收支明细</a> 
                <a class="item" href="#">交易明细</a> 
            </div>
            <div class="col col-r sep-l">
                <button class="btns btn-blue ac-new" data-template="#ac-new-template" data-options="{
                    title:'新增充值' 
                    }">新增充值</button>
                <button class="btns btn-blue ac-new2" data-template="#ac-new2-template" data-options="{
                    title:'新增扣款' 
                    }">新增扣款</button>
                <a href="充值单管理.html"><button class="btns btn-blue">充值单管理</button></a>
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户名称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">充值方式</label>
                    <input style="width:50px" data-role="dropdownlist" data-source="['刷卡','支付宝']">
                    <input style="width:80px" data-role="dropdownlist" data-source="['中国银行','支付宝']">
                    </li>
                    <li>
                    <label class="vertical-head">操作人</label>
                    <input style="width:100px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">充值日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">到帐日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核状态</label>
                    <input data-role="dropdownlist" data-source="['等待审核']" style="width:100px">
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                <ul class="flat-list">
                    <li>
                    <button class="btns btn-ac-blue">导出Excel</button> 
                    </li>
                </ul>
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th>客户</th>
                    <th>充值金额</th>
                    <th>扣款金额</th>
                    <th>账户余额</th>
                    <th>充值/扣款方式</th>
                    <th>到帐时间</th>
                    <th>摘要</th>
                    <th>操作人</th>
                </tr>
            </table>
            <div style="height:0px;position:relative;" class="extra">
                <div style="position:absolute;top:-30px;left:20px;">
                充值总金额：
               <span class="text1">231321321321321</span> &nbsp; 
                </div>
            </div>
        </div>

<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"11,321,321.00",
            c4:"xxx",
            c5:"xxx",
            c6:"2013-12-12",
            c7:"张三",
            c8:"2013-12-12",
            c9:"张三"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
                <tr>
                    <td>xxx</td>
                  <td class="text1">#= data.c3 #</td>
                  <td class="text1">#= data.c3 #</td>
                  <td class="text1">#= data.c3 #</td>
                  <td>xxx</td>
                  <td>2013-04-01 15:30</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>#= data.c9 #</td>
                </tr>
</script>

<!-- 新增充值模板 -->
<script type="text/x-kendo-template" id="ac-new-template">
<div class="ac-new-window-container">
<ul class="flat-list">
<li>
<label class="vertical-head">选择客户：</label>
<input style="width:100px">
<button class="btns btn-search ac-search-customer">查询</button>
</li>
<li>
<label class="vertical-head">可用余额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">充值金额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">确认金额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">充值方式</label>
<input style="width:50px" data-role="dropdownlist" data-source="['刷卡','支付宝']">
<input style="width:80px" data-role="dropdownlist" data-source="['中国银行','支付宝']">
</li>
<li>
<label class="vertical-head"> 到账日期：</label>
<input style="width:100px;" data-role="datepicker">
</li>
<li style="width:400px;">
<label style="vertical-align:top;" class="vertical-head">摘要：</label>
<textarea></textarea>
</li>
</ul>
</div>
        <div style="text-align:right;">
            <button class="btns button_1_2 ac-submit">提 交</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<!-- 新增扣款模板 -->
<script type="text/x-kendo-template" id="ac-new2-template">
<div class="ac-new-window-container">
<ul class="flat-list">
<li>
<label class="vertical-head">选择客户：</label>
<input style="width:100px">
<button class="btns btn-search ac-search-customer">查询</button>
</li>
<li>
<label class="vertical-head">可用余额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">扣款金额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">确认金额：</label>
<input style="width:100px">
</li>
<li style="width:400px;">
<label style="vertical-align:top;" class="vertical-head">摘要：</label>
<textarea></textarea>
</li>
</ul>
</div>
        <div style="text-align:right;">
            <button class="btns button_1_2 ac-submit2">提 交</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<!-- 新增充值确认模板 -->
<script type="text/x-kendo-template" id="ac-submit-template">
<div class="ac-new-window-container">
<ul class="flat-list">
                    <li>
                    <label class="vertical-head">用户：</label>
                    <span>fdsa</span>
                    </li>
                    <li>
                    <label class="vertical-head">充值方式：</label>
                    <span>fdafds</span>
                    </li>
                    <li>
                    <label class="vertical-head">金额：</label>
                    <strong class="text1">12,313,213</strong>
                    </li>
    </div>
        <div style="text-align:right;">
            <button class="btns button_1_2">确 认</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<!-- 新增扣款 -->
<script type="text/x-kendo-template" id="ac-submit2-template">
<div class="ac-new-window-container">
<ul class="flat-list">
                    <li>
                    <label class="vertical-head">用户：</label>
                    <span>fdsa</span>
                    </li>
                    <li>
                    <label class="vertical-head">扣款金额：</label>
                    <strong class="text1">12,313,213</strong>
                    </li>
    </div>
        <div style="text-align:right;">
            <button class="btns button_1_2">确 认</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>

<script type="text/javascript">

$(function(){
    var ac_new = new PopWindow('.ac-new').init();
    var ac_new2 = new PopWindow('.ac-new2').init();

    new PopWindow('.ac-submit', {
        template:'#ac-submit-template',
        title:'确认充值',
        width:'470'
    }).init();

    new PopWindow('.ac-submit2', {
        template:'#ac-submit2-template',
        title:'确认扣款',
        width:'470'
    }).init();

});

</script>
{% include 'partial/footer.html' %}
