{% extends 'frame/layout.html' %}
{%block pagename %}{{title}}{%endblock%}

{% block js %}
<script type="text/javascript" src="/static/js/finance.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/finance.css" />
{% endblock %}

{% block main %}

        <div class="actions block">
            <div class="col col-l">
                <a class="item" href="#">资金汇总</a> 
                <a class="item" href="#">充值管理</a> 
                <a class="item" href="#">提现管理</a> 
                <a class="item" href="#">授信管理</a> 
                <a class="item" href="#">押金管理</a> 
                <a class="item highlight" href="#">冻结管理</a> 
                <a class="item" href="#">收支明细</a> 
                <a class="item" href="#">支票管理</a> 
                <a class="item" href="#">交易明细</a> 
            </div>
            <div class="col col-r sep-l">
                <button class="btns btn-blue ac-new">新增冻结</button>
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label style="width:65px;" class="vertical-head">客户名称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">账户类型</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">关联订单号</label>
                    <input data-role="dropdownlist" data-source="['全部']" style="width:100px">
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">冻结操作人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">冻结类型</label>
                    <input data-role="dropdownlist" data-source="['全部']" style="width:100px">
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">解冻操作人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li>
                    <input type="checkbox" /> 
                    显示已删除冻结
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                    <button class="btns btn-ac-blue">支出</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">解冻</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">删除</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">导出Excel</button> 
                </ul>
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th> <input type="checkbox"> </th>
                    <th>冻结号</th>
                    <th>客户名称</th>
                    <th>冻结金额</th>
                    <th>冻结类型</th>
                    <th>摘要</th>
                    <th>冻结时间</th>
                    <th>解冻时间</th>
                    <th>操作</th>
                </tr>
            </table>

        </div>
<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"11,321,321.00",
            c4:"xxx",
            c5:"xxx",
            c6:"2013-12-12",
            c7:"张三",
            c8:"2013-12-12",
            c9:"张三"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
    <tr>
        <td>
            <input type="checkbox"> 
        </td>
        # kendo.logToConsole(data) #
        <td>#= data.c1 #</td>
        <td>#= data.c2 #</td>
        <td><span class="text1">#= data.c3 #</span></td>
        <td>#= data.c4 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c6 #<br>#= data.c7 #</td>
        <td>#= data.c8 #<br>#= data.c9 #</td>
        <td>
            <span class="grid-row-ac">
                <button class="btns ac-purchase">支出</button> 
                <button class="btns ac-unfreeze">解冻</button> 
                <button class="btns ac-delete">删除</button> 
            </span>
        </td>
    </tr>
</script>

<script type="text/x-kendo-template" id="ac-new-template">
<div class="ac-new-window-container">
<ul class="flat-list">
<li>
<label class="vertical-head">选择客户：</label>
<input style="width:100px">
<button class="btns btn-search ac-search-customer">查询</button>
</li>
<li>
<label class="vertical-head">可用余额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">冻结余额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">确认金额：</label>
<input style="width:100px">
</li>
<li>
<label class="vertical-head">冻结类型：</label>
<input style="width:100px" data-role="dropdownlist" data-source="['选择']">
</li>
<li>&nbsp;</li>
<li>
<label class="vertical-head">操作人：</label>
<span>xxx</span>
</li>
<li style="width:400px;">
<label style="vertical-align:top;" class="vertical-head">摘要：</label>
<textarea></textarea>
</li>
</ul>
</div>
        <div style="text-align:right;">
            <button class="btns button_1_2 ac-submit">提 交</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>



<script type="text/x-kendo-template" id="ac-submit-template">
<div class="row">
<ul style="font-size:14px;line-height:30px;">
                    <li style="display:inline-block;width:190px">
                    <strong>用户：</strong>
                    <span>fdsa</span>
                    </li>
                    <li style="display:inline-block;width:190px">
                    <strong>冻结金额：</strong>
                    <strong class="text1">12,313,213</strong>
                    </li>
                    <li style="display:inline-block;width:190px">
                    <strong>用于：</strong>
                    <span>123132</span>
                    </li>
                    </ul>
</div>

        <div class="row" style="text-align:right;">
            <button class="btns button_1_2">确 认</button> 
            <button class="btns button_2_2">取 消</button> 
        </div>
</script>


<script type="text/javascript">

$(function(){
    new PopWindow('.ac-new',{
        template:"#ac-new-template",
        title:'新增冻结' 
    }).init();

    new PopWindow('.ac-submit', {
        template:'#ac-submit-template',
        title:'确认冻结',
        width:'470'
    }).init();
});

</script>

{% include 'finance/partial/footer.htm'%}
{% endblock %}
