{% include 'partial/header.html' %}
        <div id="window"></div>

        <div class="actions block">
            <div class="col col-l">
                <a class="item" href="#">资金汇总</a> 
                <a class="item" href="#">充值管理</a> 
                <a class="item" href="#">提现管理</a> 
                <a class="item highlight" href="#">授信管理</a> 
                <a class="item" href="#">押金管理</a> 
                <a class="item" href="#">冻结管理</a> 
                <a class="item" href="#">收支明细</a> 
                <a class="item" href="#">交易明细</a> 
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户简称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head" style="width:65px;">状态</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li>
                    <label class="vertical-head">授信类型</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li>
                    <label class="vertical-head">申请人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">审核领导</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">财务审核人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>&nbsp;</li>
                    <li>
                    <label class="vertical-head">申请日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head">审核日期</label>
                    <input data-role="datepicker" style="width:100px">
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                <ul class="flat-list">
                    <li>
                    <button class="btns btn-ac-blue">审核通过</button> 
                    </li> 
                    <li>
                    <button class="btns">审核拒绝</button> 
                    </li>
                    <li>
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    </li>
                    <li>
                    <button class="btns">导出Excel</button> 
                    </li>
                </ul>
            </div> 
            <table data-role="grid" class="grid-table">
                <tr class="thead">
                    <th data-field="c1"> <input type="checkbox"> </th>
                    <th data-field="c2">客户简称</th>
                    <th data-field="c3">账户类型</th>
                    <th data-field="c4">特殊客户</th>
                    <th data-field="c5" width="65">合同类型/支票号/欠款</th>
                    <th data-field="c6">授信金额</th>
                    <th data-field="c7">当前信用额度</th>
                    <th data-field="c8">授信类型</th>
                    <th data-field="c9">账期</th>
                    <th data-field="c10">领导审核</th>
                    <th data-field="c11">财务审核</th>
                    <th data-field="c12">摘要</th>
                    <th data-field="c13">申请日期</th>
                    <th data-field="c14">财务审核日期</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox"> 
                    </td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td>180,000,000.00</td>
                  <td>xxx</td>
                  <td>T+10</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
                <tr class="highlight">
                    <td>
                        <input type="checkbox"> 
                    </td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td>180,000,000.00</td>
                  <td>xxx</td>
                  <td>T+10</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox"> 
                    </td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                  <td class="text1">180,000,000.00</td>
                  <td>180,000,000.00</td>
                  <td>xxx</td>
                  <td>T+10</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>2012-04-23<br>张小黑</td>
                  <td>2012-04-23<br>张小黑</td>
                </tr>
            </table>
        </div>

<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"11,321,321.00",
            c4:"xxx",
            c5:"xxx",
            c6:"2013-12-12",
            c7:"张三",
            c8:"2013-12-12",
            c9:"张三"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
    <tr>
        <td>
            <input type="checkbox"> 
        </td>
        # kendo.logToConsole(data) #
        <td>#= data.c1 #</td>
        <td>#= data.c2 #</td>
        <td>#= data.c2 #</td>
        <td>#= data.c2 #</td>
        <td><span class="text1">#= data.c3 #</span></td>
        <td>#= data.c4 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c6 #<br>#= data.c7 #</td>
        <td>#= data.c8 #<br>#= data.c9 #</td>
    </tr>
</script>
{% include 'partial/footer.html' %}
