{% include 'partial/header.html' %}
        <div id="window"></div>

        <div class="actions block">
            <div class="col col-l sep-r">
                <button class="btns btn-return">返回</button>
            </div>
            <div class="col col-l" style="margin-left:10px;">
                <a class="item highlight" href="#">账期预警</a>
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label style="width:65px;" class="vertical-head">客户名称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li style="width:235px;">
                    <label style="width:40px;" class="vertical-head">状态</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li>
                    <label class="vertical-head">客户类型</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">还款操作人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li>
                    <label style="width:65px;" class="vertical-head">延时操作人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li style="width:230px;">
                    <label style="width:40px;" class="vertical-head">账期日</label>
                    <input data-role="datepicker" style="width:80px">至
                    <input data-role="datepicker" style="width:80px">
                    </li>
                    <li>
                    <input style="width:100px" data-role="dropdownlist" data-source="['最后还款日','实际还款日']">
                    <input data-role="datepicker" style="width:80px">
                    </li>
                    <li>
                    <label class="vertical-head" style="width:65px;">延长审核</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部']">
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                    <button class="btns btn-ac-blue">已还款</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">延长还款日</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">延长通过</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">延长拒绝</button> 
                    <span style="color:#aaa">&nbsp;|&nbsp;</span>
                    <button class="btns btn-ac-blue">导出Excel</button> 
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th> <input type="checkbox"> </th>
                    <th>客户名称</th>
                    <th>授信类型</th>
                    <th>账期</th>
                    <th>授信日期</th>
                    <th>账期日</th>
                    <th>最后还款日</th>
                    <th>授信金额</th>
                    <th>当前信用额度</th>
                    <th>当前可用额度</th>
                    <th>已使用信用金额</th>
                    <th>延迟原因</th>
                    <th>还款状态</th>
                    <th>还款日期</th>
                </tr>
            </table>
        </div>

<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:"2013-12-12 15:00",
            c2:"临时/欠款",
            c3:"11,321,321.00",
            c4:"苏宁",
            c5:"张三",
            c6:"2013-12-12",
            c7:"13800138000"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
    <tr>
        <td>
            <input type="checkbox"> 
        </td>
       <td>#=data.c4#</td> 
       <td>#=data.c2#</td> 
       <td>xxx</td>
       <td>#=data.c1#<br>#= data.c5 #</td>
       <td>#=data.c6#</td>
       <td>#=data.c6#</td>
       <td><span class="text1">#=data.c3#</td>
       <td>#=data.c3#</td>
       <td>#=data.c3#</td>
       <td>#=data.c3#</td>
       <td></td>
       <td>xxx</td>
       <td>#=data.c6#<br>#=data.c5#</td>
    </tr>
</script>
{% include 'partial/footer.html' %}
