{% extends 'frame/layout.html' %}
{%block pagename %}{{title}}{%endblock%}

{% block js %}
<script type="text/javascript" src="/static/js/finance.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/finance.css" />
{% endblock %}

{% block main %}

        <div class="actions block">
            <div class="col col-l">
                <a class="item" href="#">资金汇总</a> 
                <a class="item" href="#">充值管理</a> 
                <a class="item highlight" href="#">提现管理</a> 
                <a class="item" href="#">授信管理</a> 
                <a class="item" href="#">押金管理</a> 
                <a class="item" href="#">冻结管理</a> 
                <a class="item" href="#">收支明细</a> 
                <a class="item" href="#">支票管理</a> 
                <a class="item" href="#">交易明细</a> 
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户名称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">帐号</label>
                    <input style="width:100px">
                    </li>
                    <li>
                    <label class="vertical-head" style="width:40px;">状态</label>
                    <input style="width:100px" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li style="width:120px;">
                    <label class="vertical-head" style="width:40px;">渠道</label>
                    <input style="width:60px;" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li style="width:110px;">
                    <label class="vertical-head" style="width:40px;">类型</label>
                    <input style="width:60px;" data-role="dropdownlist" data-source="['全部']">
                    </li>
                    <li>
                    <label class="vertical-head">申请日期</label>
                    <input style="width:100px;" data-role="datepicker"> 
                    </li>
                    <li>
                    <label class="vertical-head">到帐日期</label>
                    <input style="width:100px;" data-role="datepicker"> 
                    </li>
                    <li>
                    <label class="vertical-head" style="width:40px;">申请人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head" style="width:40px;">审核人</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-user">查询</button>
                    </li>
                </ul>
            </div>
            <div class="col col-r" style="padding-top:10px;">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                <button class="btns btn-ac-blue">确认提取</button> 
                <span style="color:#aaa">&nbsp;|&nbsp;</span>
                <button class="btns btns-ac-blue">拒绝提取</button> 
                <span style="color:#aaa">&nbsp;|&nbsp;</span>
                <button class="btns btns-ac-blue">导出Excel</button> 
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th> <input type="checkbox"> </th>
                    <th>客户名称</th>
                    <th>提现金额</th>
                    <th>渠道</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>备注</th>
                    <th>申请时间</th>
                    <th>审核时间</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>

<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"11,321,321.00",
            c4:"xxx",
            c5:"xxx",
            c6:"2013-12-12",
            c7:"张三",
            c8:"2013-12-12",
            c9:"张三"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
    <tr>
        <td>
            <input type="checkbox"> 
        </td>
        # kendo.logToConsole(data) #
        <td>#= data.c2 #</td>
        <td><span class="text1">#= data.c3 #</span></td>
        <td>#= data.c4 #</td>
        <td>#= data.c4 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c5 #</td>
        <td>#= data.c6 #<br>#= data.c7 #</td>
        <td>#= data.c8 #<br>#= data.c9 #</td>
        <td class="grid-row-ac">
        <button class="btns ac-confirm">确认</button>
        <button class="btns ac-delete">删除</button>
        </td>
    </tr>
</script>

{% include 'finance/partial/footer.html'%}
{% endblock %}
