{% extends 'frame/layout.html' %}
{%block pagename %}{{title}}{%endblock%}

{% block js %}
<script type="text/javascript" src="/static/js/finance.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/finance.css" />
{% endblock %}

{% block main %}

        <div class="actions block">
            <div class="col col-l sep-r">
                <button class="btns btn-return">返回</button>
            </div>
            <div class="col col-l" style="margin-left:10px;">
                <span class="page-title">支付提示</span>
            </div>
        </div>

        <div class="block block-redirect">
            <div class="block-redirect-header">
                <u>
                <s><span class="icon icon-no">&nbsp;</span> MMNNEIT888客户</s> , 
订单支付失败，请重新支付。
                </u> 
            </div>
            <div class="row">
                请稍等，5秒后自动跳转至订单管理页     <a href="#">立即跳转</a>
            </div>
        <div class="row" style="margin-top:40px;">
            <a href="javascript:;" class="button_secondary adaptiveButton medium">
                <span class="left"></span>
                <span class="center">订单详情页</span>
                <span class="right"></span>
            </a>

            <a href="javascript:;" class="button_secondary adaptiveButton medium">
                <span class="left"></span>
                <span class="center">订单管理页</span>
                <span class="right"></span>
            </a>

        </div>
        </div>


{% include 'finance/partial/footer.htm'%}
{% endblock %}
