{% extends 'frame/layout.html' %}
{%block pagename %}{{title}}{%endblock%}

{% block js %}
<script type="text/javascript" src="/static/js/finance.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/finance.css" />
{% endblock %}

{% block main %}

        <div class="actions block">
            <div class="col col-l">
                <a class="item highlight" href="#">资金汇总</a> 
                <a class="item" href="#">充值管理</a> 
                <a class="item" href="#">提现管理</a> 
                <a class="item" href="#">授信管理</a> 
                <a class="item" href="#">押金管理</a> 
                <a class="item" href="#">冻结管理</a> 
                <a class="item" href="#">收支明细</a> 
                <a class="item" href="#">支票管理</a> 
                <a class="item" href="#">交易明细</a> 
            </div>
        </div>

        <div class="block block1 clearfix">
            <div class="col col-l">
                <ul class="flat-list">
                    <li>
                    <label class="vertical-head">客户名称</label>
                    <input style="width:80px">
                    <button class="btns btn-search ac-search-customer">查询</button>
                    </li>
                    <li>
                    <label class="vertical-head">账户类型</label>
                        <select style="width:100px;" data-role="dropdownlist">
                        <option selected="" value="全部">全部</option>
                        <option value="预存客户">预存客户</option>
                        <option value="信用客户">信用客户</option>
                        <option value="单笔客户">单笔客户</option>
                        </select>
                    </li>
                    <li>
                    <label class="vertical-head">截止时间</label>
                    <input style="width:100px" data-role="datepicker">
                    </li>
                    <li>
                        <input type="checkbox" /> 
                        显示已删除客户
                    </li>
                </ul>
            </div>
            <div class="col col-r">
                <button class="btns btn-orange-s">查询</button> 
            </div>
        </div>

        <div class="block block2">
            <div class="block-header">
                    <button class="btns btn-ac-blue">导出Excel</button> 
            </div> 
            <table class="grid-table">
                <tr class="thead">
                    <th>客户名称</th>
                    <th>帐号</th>
                    <th>账户余额</th>
                    <th>可用余额</th>
                    <th>信用额度</th>
                    <th>佣金金额</th>
                    <th>押金金额</th>
                    <th>冻结金额</th>
                </tr>
            </table>
            <div style="height:0px;position:relative;" class="extra">
                <div style="position:absolute;top:-30px;left:20px;">
                    账户余额：
               <span class="text1">42141</span>&nbsp;
                    可用余额：
               <span class="text1">42141</span>&nbsp;
                    信用额度：
               <span class="text1">42141</span>&nbsp;
                    佣金金额：
               <span class="text1">42141</span>&nbsp;
                    冻结金额：
               <span class="text1">42141</span>&nbsp;
                </div>
            </div>
        </div>

<script type="text/javascript">
$(function(){
    new GridTable('.block2 .grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"11,321,321.00",
            c4:"xxx",
            c5:"xxx",
            c6:"2013-12-12",
            c7:"张三",
            c8:"2013-12-12",
            c9:"张三"
        }], 
        rowTemplate: kendo.template($("#block2-grid-row-template").html())
    }).init(); 
});
</script>
<script type="text/x-kendo-template" id="block2-grid-row-template">
    <tr>
        # kendo.logToConsole(data) #
        <td>#= data.c1 #</td>
        <td>#= data.c2 #</td>
        <td><span class="text1">#= data.c3 #</span></td>
        <td>#= data.c3 #</td>
        <td>#= data.c3 #</td>
        <td>#= data.c3 #</td>
        <td>#= data.c3 #</td>
        <td>#= data.c3 #</td>
    </tr>
</script>

{% include 'finance/partial/footer.htm'%}
{% endblock %}
