body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../订单详情-派送_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1050px;
    height:1020px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:1026px;
}

.u1 {
    position:absolute;
    left:2px;
    top:502px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1050px;
    height:1020px
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:478px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:478px;
}

.u3 {
    position:absolute;
    left:2px;
    top:231px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:478px
}

.u4 {
    position:absolute;
    left:150px;
    top:204px;
    width:170px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_text_sketch {
    font-family: '应用字体';
}

#u5 {
    position:absolute;
    left:61px;
    top:504px;
    width:784px;
    height:411px
}

.u5_table {
    background-image: url('../订单详情-派送_files/u5_table.png');
}

.u5_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:788px;
    height:415px;
}

.u6_original {
    background-image: url('../订单详情-派送_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px
}

.u8_original {
    background-image: url('../订单详情-派送_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px
}

.u10_original {
    background-image: url('../订单详情-派送_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px
}

.u12_original {
    background-image: url('../订单详情-派送_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px
}

.u14_original {
    background-image: url('../订单详情-派送_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:80px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:80px
}

.u16_original {
    background-image: url('../订单详情-派送_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:80px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:80px
}

.u18_original {
    background-image: url('../订单详情-派送_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:80px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:80px
}

.u20_original {
    background-image: url('../订单详情-派送_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:80px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:80px
}

.u22_original {
    background-image: url('../订单详情-派送_files/u14_original.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:105px;
    width:100px;
    height:80px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:0px;
    top:105px;
    width:100px;
    height:80px
}

.u24_original {
    background-image: url('../订单详情-派送_files/u16_original.png');
}

.u24_container {
    position:absolute;
    left:100px;
    top:105px;
    width:200px;
    height:80px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:100px;
    top:105px;
    width:200px;
    height:80px
}

.u26_original {
    background-image: url('../订单详情-派送_files/u18_original.png');
}

.u26_container {
    position:absolute;
    left:300px;
    top:105px;
    width:284px;
    height:80px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:300px;
    top:105px;
    width:284px;
    height:80px
}

.u28_original {
    background-image: url('../订单详情-派送_files/u20_original.png');
}

.u28_container {
    position:absolute;
    left:584px;
    top:105px;
    width:195px;
    height:80px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:584px;
    top:105px;
    width:195px;
    height:80px
}

.u30_original {
    background-image: url('../订单详情-派送_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:185px;
    width:100px;
    height:156px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:185px;
    width:100px;
    height:156px
}

.u32_original {
    background-image: url('../订单详情-派送_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:100px;
    top:185px;
    width:200px;
    height:156px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:100px;
    top:185px;
    width:200px;
    height:156px
}

.u34_original {
    background-image: url('../订单详情-派送_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:300px;
    top:185px;
    width:284px;
    height:156px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:300px;
    top:185px;
    width:284px;
    height:156px
}

.u36_original {
    background-image: url('../订单详情-派送_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:584px;
    top:185px;
    width:195px;
    height:156px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:152px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:584px;
    top:185px;
    width:195px;
    height:156px
}

.u38_original {
    background-image: url('../订单详情-派送_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:341px;
    width:100px;
    height:42px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:0px;
    top:341px;
    width:100px;
    height:42px
}

.u40_original {
    background-image: url('../订单详情-派送_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:100px;
    top:341px;
    width:200px;
    height:42px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:100px;
    top:341px;
    width:200px;
    height:42px
}

.u42_original {
    background-image: url('../订单详情-派送_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:300px;
    top:341px;
    width:284px;
    height:42px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:300px;
    top:341px;
    width:284px;
    height:42px
}

.u44_original {
    background-image: url('../订单详情-派送_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:584px;
    top:341px;
    width:195px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:584px;
    top:341px;
    width:195px;
    height:42px
}

.u46_original {
    background-image: url('../订单详情-派送_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:383px;
    width:100px;
    height:23px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:0px;
    top:383px;
    width:100px;
    height:23px
}

.u48_original {
    background-image: url('../订单详情-派送_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:100px;
    top:383px;
    width:200px;
    height:23px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:100px;
    top:383px;
    width:200px;
    height:23px
}

.u50_original {
    background-image: url('../订单详情-派送_files/u50_original.png');
}

.u50_container {
    position:absolute;
    left:300px;
    top:383px;
    width:284px;
    height:23px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:300px;
    top:383px;
    width:284px;
    height:23px
}

.u52_original {
    background-image: url('../订单详情-派送_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:584px;
    top:383px;
    width:195px;
    height:23px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:584px;
    top:383px;
    width:195px;
    height:23px
}

