body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../功能结构图（不分角色）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:385px;
    top:23px;
    width:133px;
    height:37px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:43px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../功能结构图（不分角色）_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:252px;
    height:3px;
}

.u2 {
    position:absolute;
    left:55px;
    top:108px;
    width:252px;
    height:10px;
    
}

.u3_line {
    background-image: url('../功能结构图（不分角色）_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:572px;
    height:3px;
}

.u3 {
    position:absolute;
    left:285px;
    top:108px;
    width:572px;
    height:10px;
    
}

.u4_line {
    background-image: url('../功能结构图（不分角色）_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u4 {
    position:absolute;
    left:50px;
    top:113px;
    width:10px;
    height:26px;
    
}

.u5_normal {
    background-image: url('../功能结构图（不分角色）_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:42px;
    top:139px;
    width:26px;
    height:137px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:143px;
}

.u6 {
    position:absolute;
    left:2px;
    top:20px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../功能结构图（不分角色）_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:24px;
    top:331px;
    width:26px;
    height:144px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:150px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../功能结构图（不分角色）_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:32px;
    height:3px;
}

.u9 {
    position:absolute;
    left:38px;
    top:299px;
    width:32px;
    height:10px;
    
}

.u10_line {
    background-image: url('../功能结构图（不分角色）_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:29px;
}

.u10 {
    position:absolute;
    left:50px;
    top:276px;
    width:10px;
    height:29px;
    
}

.u11_line {
    background-image: url('../功能结构图（不分角色）_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u11 {
    position:absolute;
    left:32px;
    top:304px;
    width:10px;
    height:26px;
    
}

.u12_line {
    background-image: url('../功能结构图（不分角色）_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u12 {
    position:absolute;
    left:63px;
    top:305px;
    width:10px;
    height:26px;
    
}

.u13_normal {
    background-image: url('../功能结构图（不分角色）_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:55px;
    top:331px;
    width:26px;
    height:144px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:150px;
}

.u14 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../功能结构图（不分角色）_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u15 {
    position:absolute;
    left:161px;
    top:113px;
    width:10px;
    height:26px;
    
}

.u16_normal {
    background-image: url('../功能结构图（不分角色）_files/u5_normal.png');
}

.u16_container {
    position:absolute;
    left:153px;
    top:139px;
    width:26px;
    height:137px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:143px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../功能结构图（不分角色）_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:91px;
    top:324px;
    width:26px;
    height:150px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:156px;
}

.u19 {
    position:absolute;
    left:2px;
    top:27px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../功能结构图（不分角色）_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:134px;
    height:3px;
}

.u20 {
    position:absolute;
    left:103px;
    top:293px;
    width:134px;
    height:10px;
    
}

.u21_line {
    background-image: url('../功能结构图（不分角色）_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:22px;
}

.u21 {
    position:absolute;
    left:158px;
    top:276px;
    width:10px;
    height:22px;
    
}

.u22_line {
    background-image: url('../功能结构图（不分角色）_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u22 {
    position:absolute;
    left:99px;
    top:298px;
    width:10px;
    height:26px;
    
}

.u23_line {
    background-image: url('../功能结构图（不分角色）_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u23 {
    position:absolute;
    left:135px;
    top:300px;
    width:10px;
    height:26px;
    
}

.u24_normal {
    background-image: url('../功能结构图（不分角色）_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:127px;
    top:326px;
    width:26px;
    height:149px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:155px;
}

.u25 {
    position:absolute;
    left:2px;
    top:42px;
    width:22px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../功能结构图（不分角色）_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u26 {
    position:absolute;
    left:168px;
    top:298px;
    width:10px;
    height:26px;
    
}

.u27_normal {
    background-image: url('../功能结构图（不分角色）_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:160px;
    top:324px;
    width:26px;
    height:151px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:157px;
}

.u28 {
    position:absolute;
    left:2px;
    top:44px;
    width:22px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../功能结构图（不分角色）_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:193px;
    top:324px;
    width:26px;
    height:151px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:157px;
}

.u30 {
    position:absolute;
    left:2px;
    top:44px;
    width:22px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../功能结构图（不分角色）_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u31 {
    position:absolute;
    left:201px;
    top:298px;
    width:10px;
    height:26px;
    
}

.u32_line {
    background-image: url('../功能结构图（不分角色）_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u32 {
    position:absolute;
    left:233px;
    top:299px;
    width:10px;
    height:26px;
    
}

.u33_normal {
    background-image: url('../功能结构图（不分角色）_files/u24_normal.png');
}

.u33_container {
    position:absolute;
    left:226px;
    top:325px;
    width:26px;
    height:149px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:155px;
}

.u34 {
    position:absolute;
    left:2px;
    top:42px;
    width:22px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../功能结构图（不分角色）_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u35 {
    position:absolute;
    left:287px;
    top:113px;
    width:10px;
    height:26px;
    
}

.u36_normal {
    background-image: url('../功能结构图（不分角色）_files/u5_normal.png');
}

.u36_container {
    position:absolute;
    left:279px;
    top:139px;
    width:26px;
    height:137px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:143px;
}

.u37 {
    position:absolute;
    left:2px;
    top:36px;
    width:22px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../功能结构图（不分角色）_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:264px;
    top:330px;
    width:26px;
    height:145px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:151px;
}

.u39 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../功能结构图（不分角色）_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:31px;
    height:3px;
}

.u40 {
    position:absolute;
    left:275px;
    top:300px;
    width:31px;
    height:10px;
    
}

.u41_line {
    background-image: url('../功能结构图（不分角色）_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:29px;
}

.u41 {
    position:absolute;
    left:287px;
    top:276px;
    width:10px;
    height:29px;
    
}

.u42_line {
    background-image: url('../功能结构图（不分角色）_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u42 {
    position:absolute;
    left:269px;
    top:304px;
    width:10px;
    height:26px;
    
}

.u43_line {
    background-image: url('../功能结构图（不分角色）_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u43 {
    position:absolute;
    left:379px;
    top:113px;
    width:10px;
    height:26px;
    
}

.u44_normal {
    background-image: url('../功能结构图（不分角色）_files/u5_normal.png');
}

.u44_container {
    position:absolute;
    left:371px;
    top:139px;
    width:26px;
    height:137px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:143px;
}

.u45 {
    position:absolute;
    left:2px;
    top:20px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../功能结构图（不分角色）_files/u38_normal.png');
}

.u46_container {
    position:absolute;
    left:341px;
    top:329px;
    width:26px;
    height:145px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:151px;
}

.u47 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_line {
    background-image: url('../功能结构图（不分角色）_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:0px;
    top:4px;
    width:57px;
    height:3px;
}

.u48 {
    position:absolute;
    left:357px;
    top:299px;
    width:57px;
    height:10px;
    
}

.u49_line {
    background-image: url('../功能结构图（不分角色）_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:29px;
}

.u49 {
    position:absolute;
    left:379px;
    top:276px;
    width:10px;
    height:29px;
    
}

.u50_line {
    background-image: url('../功能结构图（不分角色）_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u50 {
    position:absolute;
    left:349px;
    top:303px;
    width:10px;
    height:26px;
    
}

.u51_line {
    background-image: url('../功能结构图（不分角色）_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u51 {
    position:absolute;
    left:379px;
    top:305px;
    width:10px;
    height:26px;
    
}

.u52_normal {
    background-image: url('../功能结构图（不分角色）_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:371px;
    top:331px;
    width:26px;
    height:143px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:149px;
}

.u53 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_line {
    background-image: url('../功能结构图（不分角色）_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u54 {
    position:absolute;
    left:412px;
    top:304px;
    width:10px;
    height:26px;
    
}

.u55_normal {
    background-image: url('../功能结构图（不分角色）_files/u38_normal.png');
}

.u55_container {
    position:absolute;
    left:404px;
    top:330px;
    width:26px;
    height:145px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:151px;
}

.u56 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../功能结构图（不分角色）_files/u5_normal.png');
}

.u57_container {
    position:absolute;
    left:500px;
    top:140px;
    width:26px;
    height:137px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:143px;
}

.u58 {
    position:absolute;
    left:2px;
    top:12px;
    width:22px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:456px;
    top:330px;
    width:26px;
    height:146px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u60 {
    position:absolute;
    left:2px;
    top:33px;
    width:22px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_line {
    background-image: url('../功能结构图（不分角色）_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:0px;
    top:4px;
    width:103px;
    height:3px;
}

.u61 {
    position:absolute;
    left:468px;
    top:300px;
    width:103px;
    height:10px;
    
}

.u62_line {
    background-image: url('../功能结构图（不分角色）_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:29px;
}

.u62 {
    position:absolute;
    left:508px;
    top:277px;
    width:10px;
    height:29px;
    
}

.u63_line {
    background-image: url('../功能结构图（不分角色）_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u63 {
    position:absolute;
    left:464px;
    top:304px;
    width:10px;
    height:26px;
    
}

.u64_line {
    background-image: url('../功能结构图（不分角色）_files/u64_line.png');
}

.u64_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u64 {
    position:absolute;
    left:500px;
    top:306px;
    width:10px;
    height:26px;
    
}

.u65_normal {
    background-image: url('../功能结构图（不分角色）_files/u7_normal.png');
}

.u65_container {
    position:absolute;
    left:492px;
    top:332px;
    width:26px;
    height:144px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:150px;
}

.u66 {
    position:absolute;
    left:2px;
    top:32px;
    width:22px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_line {
    background-image: url('../功能结构图（不分角色）_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u67 {
    position:absolute;
    left:536px;
    top:305px;
    width:10px;
    height:26px;
    
}

.u68_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u68_container {
    position:absolute;
    left:528px;
    top:331px;
    width:26px;
    height:146px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u69 {
    position:absolute;
    left:2px;
    top:41px;
    width:22px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../功能结构图（不分角色）_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u70 {
    position:absolute;
    left:571px;
    top:306px;
    width:10px;
    height:26px;
    
}

.u71_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u71_container {
    position:absolute;
    left:563px;
    top:332px;
    width:26px;
    height:146px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u72 {
    position:absolute;
    left:2px;
    top:17px;
    width:22px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_line {
    background-image: url('../功能结构图（不分角色）_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u73 {
    position:absolute;
    left:508px;
    top:115px;
    width:10px;
    height:26px;
    
}

.u74_normal {
    background-image: url('../功能结构图（不分角色）_files/u5_normal.png');
}

.u74_container {
    position:absolute;
    left:685px;
    top:140px;
    width:26px;
    height:137px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:143px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u76_container {
    position:absolute;
    left:596px;
    top:330px;
    width:26px;
    height:146px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u77 {
    position:absolute;
    left:2px;
    top:17px;
    width:22px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../功能结构图（不分角色）_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:0px;
    top:4px;
    width:175px;
    height:3px;
}

.u78 {
    position:absolute;
    left:610px;
    top:300px;
    width:175px;
    height:10px;
    
}

.u79_line {
    background-image: url('../功能结构图（不分角色）_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:29px;
}

.u79 {
    position:absolute;
    left:693px;
    top:277px;
    width:10px;
    height:29px;
    
}

.u80_line {
    background-image: url('../功能结构图（不分角色）_files/u80_line.png');
}

.u80_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u80 {
    position:absolute;
    left:604px;
    top:304px;
    width:10px;
    height:26px;
    
}

.u81_line {
    background-image: url('../功能结构图（不分角色）_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u81 {
    position:absolute;
    left:639px;
    top:306px;
    width:10px;
    height:26px;
    
}

.u82_normal {
    background-image: url('../功能结构图（不分角色）_files/u7_normal.png');
}

.u82_container {
    position:absolute;
    left:631px;
    top:332px;
    width:26px;
    height:144px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:150px;
}

.u83 {
    position:absolute;
    left:2px;
    top:16px;
    width:22px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../功能结构图（不分角色）_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u84 {
    position:absolute;
    left:676px;
    top:305px;
    width:10px;
    height:26px;
    
}

.u85_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u85_container {
    position:absolute;
    left:668px;
    top:331px;
    width:26px;
    height:146px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u86 {
    position:absolute;
    left:2px;
    top:9px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../功能结构图（不分角色）_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u87 {
    position:absolute;
    left:714px;
    top:306px;
    width:10px;
    height:26px;
    
}

.u88_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u88_container {
    position:absolute;
    left:706px;
    top:332px;
    width:26px;
    height:146px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u89 {
    position:absolute;
    left:2px;
    top:9px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_line {
    background-image: url('../功能结构图（不分角色）_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u90 {
    position:absolute;
    left:693px;
    top:115px;
    width:10px;
    height:26px;
    
}

.u91_line {
    background-image: url('../功能结构图（不分角色）_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u91 {
    position:absolute;
    left:747px;
    top:305px;
    width:10px;
    height:26px;
    
}

.u92_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u92_container {
    position:absolute;
    left:739px;
    top:331px;
    width:26px;
    height:146px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u93 {
    position:absolute;
    left:2px;
    top:1px;
    width:22px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_line {
    background-image: url('../功能结构图（不分角色）_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u94 {
    position:absolute;
    left:780px;
    top:306px;
    width:10px;
    height:26px;
    
}

.u95_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u95_container {
    position:absolute;
    left:772px;
    top:332px;
    width:26px;
    height:146px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u96 {
    position:absolute;
    left:2px;
    top:17px;
    width:22px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_line {
    background-image: url('../功能结构图（不分角色）_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u97 {
    position:absolute;
    left:306px;
    top:305px;
    width:10px;
    height:26px;
    
}

.u98_normal {
    background-image: url('../功能结构图（不分角色）_files/u52_normal.png');
}

.u98_container {
    position:absolute;
    left:300px;
    top:331px;
    width:26px;
    height:143px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:149px;
}

.u99 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../功能结构图（不分角色）_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u100 {
    position:absolute;
    left:854px;
    top:111px;
    width:10px;
    height:26px;
    
}

.u101_line {
    background-image: url('../功能结构图（不分角色）_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u101 {
    position:absolute;
    left:854px;
    top:111px;
    width:10px;
    height:26px;
    
}

.u102_normal {
    background-image: url('../功能结构图（不分角色）_files/u5_normal.png');
}

.u102_container {
    position:absolute;
    left:846px;
    top:137px;
    width:26px;
    height:137px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:143px;
}

.u103 {
    position:absolute;
    left:2px;
    top:20px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../功能结构图（不分角色）_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u104 {
    position:absolute;
    left:892px;
    top:308px;
    width:10px;
    height:26px;
    
}

.u105_line {
    background-image: url('../功能结构图（不分角色）_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u105 {
    position:absolute;
    left:892px;
    top:308px;
    width:10px;
    height:26px;
    
}

.u106_normal {
    background-image: url('../功能结构图（不分角色）_files/u7_normal.png');
}

.u106_container {
    position:absolute;
    left:884px;
    top:334px;
    width:26px;
    height:144px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:150px;
}

.u107 {
    position:absolute;
    left:2px;
    top:40px;
    width:22px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../功能结构图（不分角色）_files/u59_normal.png');
}

.u108_container {
    position:absolute;
    left:808px;
    top:332px;
    width:26px;
    height:146px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:152px;
}

.u109 {
    position:absolute;
    left:2px;
    top:17px;
    width:22px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_line {
    background-image: url('../功能结构图（不分角色）_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:0px;
    top:4px;
    width:78px;
    height:3px;
}

.u110 {
    position:absolute;
    left:821px;
    top:302px;
    width:78px;
    height:10px;
    
}

.u111_line {
    background-image: url('../功能结构图（不分角色）_files/u111_line.png');
}

.u111_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:29px;
}

.u111 {
    position:absolute;
    left:856px;
    top:276px;
    width:10px;
    height:29px;
    
}

.u112_line {
    background-image: url('../功能结构图（不分角色）_files/u112_line.png');
}

.u112_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u112 {
    position:absolute;
    left:816px;
    top:306px;
    width:10px;
    height:26px;
    
}

.u113_line {
    background-image: url('../功能结构图（不分角色）_files/u113_line.png');
}

.u113_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u113 {
    position:absolute;
    left:854px;
    top:308px;
    width:10px;
    height:26px;
    
}

.u114_normal {
    background-image: url('../功能结构图（不分角色）_files/u7_normal.png');
}

.u114_container {
    position:absolute;
    left:848px;
    top:334px;
    width:26px;
    height:144px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:150px;
}

.u115 {
    position:absolute;
    left:2px;
    top:16px;
    width:22px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_line {
    background-image: url('../功能结构图（不分角色）_files/u116_line.png');
}

.u116_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:53px;
}

.u116 {
    position:absolute;
    left:446px;
    top:62px;
    width:10px;
    height:53px;
    
}

