body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../改签审核退回订单详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:4px;
    top:897px;
    width:1069px;
    height:98px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1069px;
    height:98px;
}

.u1 {
    position:absolute;
    left:2px;
    top:41px;
    width:1065px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../改签审核退回订单详情_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:17px;
    top:73px;
    width:1119px;
    height:195px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1119px;
    height:195px;
}

.u3 {
    position:absolute;
    left:2px;
    top:90px;
    width:1115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../改签审核退回订单详情_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:8px;
    top:268px;
    width:1123px;
    height:352px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1123px;
    height:352px;
}

.u5 {
    position:absolute;
    left:2px;
    top:168px;
    width:1119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../改签审核退回订单详情_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:714px;
    top:499px;
    width:6px;
    height:78px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u7 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../改签审核退回订单详情_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:820px;
    top:499px;
    width:6px;
    height:78px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u9 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../改签审核退回订单详情_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:745px;
    top:501px;
    width:37px;
    height:76px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:76px;
}

.u11 {
    position:absolute;
    left:2px;
    top:30px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:743px;
    top:509px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:762px;
    top:544px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../改签审核退回订单详情_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:901px;
    top:499px;
    width:6px;
    height:78px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u15 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../改签审核退回订单详情_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:932px;
    top:501px;
    width:167px;
    height:76px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:76px;
}

.u17 {
    position:absolute;
    left:2px;
    top:30px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../改签审核退回订单详情_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:917px;
    top:502px;
    width:83px;
    height:68px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:68px;
}

.u19 {
    position:absolute;
    left:2px;
    top:26px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:1050px;
    top:509px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../改签审核退回订单详情_files/u6_normal.png');
}

.u21_container {
    position:absolute;
    left:1012px;
    top:499px;
    width:6px;
    height:78px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u22 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../改签审核退回订单详情_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:665px;
    top:78px;
    width:70px;
    height:29px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:35px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-2px;
    width:66px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../改签审核退回订单详情_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:244px;
    top:309px;
    width:137px;
    height:29px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:35px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../改签审核退回订单详情_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:420px;
    top:309px;
    width:137px;
    height:29px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:35px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../改签审核退回订单详情_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:318px;
    top:309px;
    width:98px;
    height:24px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:98px;
    height:24px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../改签审核退回订单详情_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:4px;
    top:1142px;
    width:1129px;
    height:62px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1129px;
    height:62px;
}

.u32 {
    position:absolute;
    left:2px;
    top:23px;
    width:1125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../改签审核退回订单详情_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:947px;
    top:384px;
    width:81px;
    height:77px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:81px;
    height:77px;
}

.u34 {
    position:absolute;
    left:2px;
    top:30px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../改签审核退回订单详情_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:852px;
    top:384px;
    width:95px;
    height:77px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:77px;
}

.u36 {
    position:absolute;
    left:2px;
    top:30px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../改签审核退回订单详情_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:960px;
    top:387px;
    width:66px;
    height:29px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../改签审核退回订单详情_files/u37_normal.png');
}

.u39_container {
    position:absolute;
    left:960px;
    top:426px;
    width:66px;
    height:29px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u40 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../改签审核退回订单详情_files/u37_normal.png');
}

.u41_container {
    position:absolute;
    left:867px;
    top:383px;
    width:66px;
    height:29px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../改签审核退回订单详情_files/u37_normal.png');
}

.u43_container {
    position:absolute;
    left:867px;
    top:425px;
    width:66px;
    height:29px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../改签审核退回订单详情_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:415px;
    top:309px;
    width:100px;
    height:29px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:35px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../改签审核退回订单详情_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:4px;
    top:1217px;
    width:298px;
    height:34px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:40px;
}

.u48 {
    position:absolute;
    left:2px;
    top:9px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../改签审核退回订单详情_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:224px;
    top:937px;
    width:136px;
    height:23px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:29px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../改签审核退回订单详情_files/u37_normal.png');
}

.u51_container {
    position:absolute;
    left:1046px;
    top:388px;
    width:66px;
    height:29px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../改签审核退回订单详情_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:1033px;
    top:428px;
    width:98px;
    height:29px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:35px;
}

.u54 {
    position:absolute;
    left:2px;
    top:6px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../改签审核退回订单详情_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:357px;
    top:582px;
    width:166px;
    height:33px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:33px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../改签审核退回订单详情_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:302px;
    top:1183px;
    width:342px;
    height:34px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:348px;
    height:40px;
}

.u58 {
    position:absolute;
    left:2px;
    top:9px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../改签审核退回订单详情_files/u57_normal.png');
}

.u59_container {
    position:absolute;
    left:302px;
    top:1217px;
    width:342px;
    height:34px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:348px;
    height:40px;
}

.u60 {
    position:absolute;
    left:2px;
    top:9px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../改签审核退回订单详情_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:644px;
    top:1183px;
    width:443px;
    height:34px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:449px;
    height:40px;
}

.u62 {
    position:absolute;
    left:2px;
    top:9px;
    width:439px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../改签审核退回订单详情_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:644px;
    top:1217px;
    width:443px;
    height:34px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:449px;
    height:40px;
}

.u64 {
    position:absolute;
    left:2px;
    top:9px;
    width:439px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../改签审核退回订单详情_files/u47_normal.png');
}

.u65_container {
    position:absolute;
    left:4px;
    top:1183px;
    width:298px;
    height:34px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:40px;
}

.u66 {
    position:absolute;
    left:2px;
    top:9px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../改签审核退回订单详情_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:58px;
    top:1053px;
    width:160px;
    height:34px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:40px;
}

.u68 {
    position:absolute;
    left:2px;
    top:9px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../改签审核退回订单详情_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:218px;
    top:1053px;
    width:819px;
    height:34px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:825px;
    height:40px;
}

.u70 {
    position:absolute;
    left:2px;
    top:9px;
    width:815px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../改签审核退回订单详情_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:779px;
    top:78px;
    width:195px;
    height:29px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:29px;
}

.u72 {
    position:absolute;
    left:2px;
    top:6px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../改签审核退回订单详情_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:6px;
    top:995px;
    width:1031px;
    height:58px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1031px;
    height:58px;
}

.u74 {
    position:absolute;
    left:2px;
    top:21px;
    width:1027px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../改签审核退回订单详情_files/u47_normal.png');
}

.u75_container {
    position:absolute;
    left:4px;
    top:1249px;
    width:298px;
    height:34px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:40px;
}

.u76 {
    position:absolute;
    left:2px;
    top:9px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../改签审核退回订单详情_files/u57_normal.png');
}

.u77_container {
    position:absolute;
    left:302px;
    top:1249px;
    width:342px;
    height:34px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:348px;
    height:40px;
}

.u78 {
    position:absolute;
    left:2px;
    top:9px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../改签审核退回订单详情_files/u61_normal.png');
}

.u79_container {
    position:absolute;
    left:644px;
    top:1249px;
    width:443px;
    height:34px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:449px;
    height:40px;
}

.u80 {
    position:absolute;
    left:2px;
    top:9px;
    width:439px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../改签审核退回订单详情_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:226px;
    top:585px;
    width:132px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u82 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../改签审核退回订单详情_files/u67_normal.png');
}

.u83_container {
    position:absolute;
    left:58px;
    top:1087px;
    width:160px;
    height:34px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:40px;
}

.u84 {
    position:absolute;
    left:2px;
    top:9px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../改签审核退回订单详情_files/u69_normal.png');
}

.u85_container {
    position:absolute;
    left:218px;
    top:1087px;
    width:819px;
    height:34px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:825px;
    height:40px;
}

.u86 {
    position:absolute;
    left:2px;
    top:9px;
    width:815px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../改签审核退回订单详情_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:355px;
    top:1087px;
    width:121px;
    height:34px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:40px;
}

.u88 {
    position:absolute;
    left:2px;
    top:9px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../改签审核退回订单详情_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:774px;
    top:1090px;
    width:208px;
    height:28px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:214px;
    height:34px;
}

.u90 {
    position:absolute;
    left:2px;
    top:6px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../改签审核退回订单详情_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:694px;
    top:26px;
    width:91px;
    height:27px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:27px;
}

.u92 {
    position:absolute;
    left:2px;
    top:6px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../改签审核退回订单详情_files/u91_normal.png');
}

.u93_container {
    position:absolute;
    left:467px;
    top:26px;
    width:91px;
    height:27px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:27px;
}

.u94 {
    position:absolute;
    left:2px;
    top:6px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../改签审核退回订单详情_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:506px;
    top:7px;
    width:73px;
    height:15px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:21px;
}

.u96 {
    position:absolute;
    left:2px;
    top:0px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../改签审核退回订单详情_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:520px;
    top:24px;
    width:29px;
    height:32px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u98 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../改签审核退回订单详情_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:816px;
    top:6px;
    width:91px;
    height:15px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:21px;
}

.u100 {
    position:absolute;
    left:2px;
    top:0px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../改签审核退回订单详情_files/u91_normal.png');
}

.u101_container {
    position:absolute;
    left:785px;
    top:26px;
    width:91px;
    height:27px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:27px;
}

.u102 {
    position:absolute;
    left:2px;
    top:6px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../改签审核退回订单详情_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:427px;
    top:25px;
    width:30px;
    height:28px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:28px;
}

.u104 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../改签审核退回订单详情_files/u95_normal.png');
}

.u105_container {
    position:absolute;
    left:413px;
    top:7px;
    width:73px;
    height:15px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:21px;
}

.u106 {
    position:absolute;
    left:2px;
    top:0px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../改签审核退回订单详情_files/u99_normal.png');
}

.u107_container {
    position:absolute;
    left:725px;
    top:6px;
    width:91px;
    height:15px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:21px;
}

.u108 {
    position:absolute;
    left:2px;
    top:0px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../改签审核退回订单详情_files/u99_normal.png');
}

.u109_container {
    position:absolute;
    left:594px;
    top:5px;
    width:91px;
    height:15px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:21px;
}

.u110 {
    position:absolute;
    left:2px;
    top:0px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../改签审核退回订单详情_files/u91_normal.png');
}

.u111_container {
    position:absolute;
    left:563px;
    top:25px;
    width:91px;
    height:27px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:27px;
}

.u112 {
    position:absolute;
    left:2px;
    top:6px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../改签审核退回订单详情_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:34px;
    top:856px;
    width:1130px;
    height:41px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1130px;
    height:41px;
}

.u114 {
    position:absolute;
    left:2px;
    top:12px;
    width:1126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:495px;
    top:1306px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116_normal {
    background-image: url('../改签审核退回订单详情_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:3px;
    top:668px;
    width:1066px;
    height:31px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1066px;
    height:31px;
}

.u117 {
    position:absolute;
    left:2px;
    top:8px;
    width:1062px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../改签审核退回订单详情_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:2px;
    top:673px;
    width:108px;
    height:21px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:27px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../改签审核退回订单详情_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:8px;
    top:697px;
    width:151px;
    height:42px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:42px;
}

.u121 {
    position:absolute;
    left:2px;
    top:13px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u122_container {
    position:absolute;
    left:39px;
    top:704px;
    width:110px;
    height:31px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:37px;
}

.u123 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../改签审核退回订单详情_files/u120_normal.png');
}

.u124_container {
    position:absolute;
    left:264px;
    top:697px;
    width:151px;
    height:42px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:42px;
}

.u125 {
    position:absolute;
    left:2px;
    top:13px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u126_container {
    position:absolute;
    left:295px;
    top:704px;
    width:110px;
    height:31px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:37px;
}

.u127 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:191px;
    top:711px;
    width:89px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../改签审核退回订单详情_files/u120_normal.png');
}

.u129_container {
    position:absolute;
    left:498px;
    top:699px;
    width:151px;
    height:42px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:42px;
}

.u130 {
    position:absolute;
    left:2px;
    top:13px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u131_container {
    position:absolute;
    left:529px;
    top:706px;
    width:110px;
    height:31px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:37px;
}

.u132 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:425px;
    top:716px;
    width:89px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:671px;
    top:713px;
    width:248px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../改签审核退回订单详情_files/u67_normal.png');
}

.u135_container {
    position:absolute;
    left:614px;
    top:1087px;
    width:160px;
    height:34px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:40px;
}

.u136 {
    position:absolute;
    left:2px;
    top:9px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../改签审核退回订单详情_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:476px;
    top:1087px;
    width:138px;
    height:34px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:40px;
}

.u138 {
    position:absolute;
    left:2px;
    top:9px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../改签审核退回订单详情_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:516px;
    top:508px;
    width:61px;
    height:18px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:24px;
}

.u140 {
    position:absolute;
    left:2px;
    top:1px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../改签审核退回订单详情_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:410px;
    top:508px;
    width:98px;
    height:18px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:24px;
}

.u142 {
    position:absolute;
    left:2px;
    top:1px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../改签审核退回订单详情_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:526px;
    top:547px;
    width:41px;
    height:18px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:24px;
}

.u144 {
    position:absolute;
    left:2px;
    top:1px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../改签审核退回订单详情_files/u145_normal.png');
}

.u145_container {
    position:absolute;
    left:509px;
    top:498px;
    width:7px;
    height:80px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:80px;
}

.u146 {
    position:absolute;
    left:2px;
    top:32px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:1018px;
    top:547px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../改签审核退回订单详情_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:2px;
    top:119px;
    width:16px;
    height:29px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:35px;
}

.u149 {
    position:absolute;
    left:2px;
    top:6px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../改签审核退回订单详情_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:1122px;
    top:382px;
    width:7px;
    height:79px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:79px;
}

.u151 {
    position:absolute;
    left:2px;
    top:32px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../改签审核退回订单详情_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:1129px;
    top:394px;
    width:66px;
    height:14px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:20px;
}

.u153 {
    position:absolute;
    left:2px;
    top:-1px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../改签审核退回订单详情_files/u152_normal.png');
}

.u154_container {
    position:absolute;
    left:1129px;
    top:436px;
    width:66px;
    height:14px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:20px;
}

.u155 {
    position:absolute;
    left:2px;
    top:-1px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../改签审核退回订单详情_files/u150_normal.png');
}

.u156_container {
    position:absolute;
    left:1195px;
    top:384px;
    width:7px;
    height:79px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:79px;
}

.u157 {
    position:absolute;
    left:2px;
    top:32px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../改签审核退回订单详情_files/u152_normal.png');
}

.u158_container {
    position:absolute;
    left:1216px;
    top:395px;
    width:66px;
    height:14px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:20px;
}

.u159 {
    position:absolute;
    left:2px;
    top:-1px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../改签审核退回订单详情_files/u152_normal.png');
}

.u160_container {
    position:absolute;
    left:1216px;
    top:437px;
    width:66px;
    height:14px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:20px;
}

.u161 {
    position:absolute;
    left:2px;
    top:-1px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../改签审核退回订单详情_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:10px;
    top:461px;
    width:1121px;
    height:197px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1121px;
    height:197px;
}

.u163 {
    position:absolute;
    left:2px;
    top:90px;
    width:1117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../改签审核退回订单详情_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:738px;
    top:618px;
    width:180px;
    height:27px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:33px;
}

.u165 {
    position:absolute;
    left:2px;
    top:6px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../改签审核退回订单详情_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:8px;
    top:745px;
    width:1142px;
    height:157px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1142px;
    height:157px;
}

.u167 {
    position:absolute;
    left:2px;
    top:70px;
    width:1138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../改签审核退回订单详情_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:73px;
    top:826px;
    width:107px;
    height:24px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:30px;
}

.u169 {
    position:absolute;
    left:2px;
    top:4px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../改签审核退回订单详情_files/u168_normal.png');
}

.u170_container {
    position:absolute;
    left:73px;
    top:863px;
    width:107px;
    height:24px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:30px;
}

.u171 {
    position:absolute;
    left:2px;
    top:4px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../改签审核退回订单详情_files/u168_normal.png');
}

.u172_container {
    position:absolute;
    left:274px;
    top:826px;
    width:107px;
    height:24px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:30px;
}

.u173 {
    position:absolute;
    left:2px;
    top:4px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../改签审核退回订单详情_files/u168_normal.png');
}

.u174_container {
    position:absolute;
    left:274px;
    top:863px;
    width:107px;
    height:24px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:30px;
}

.u175 {
    position:absolute;
    left:2px;
    top:4px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../改签审核退回订单详情_files/u168_normal.png');
}

.u176_container {
    position:absolute;
    left:442px;
    top:826px;
    width:107px;
    height:24px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:30px;
}

.u177 {
    position:absolute;
    left:2px;
    top:4px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../改签审核退回订单详情_files/u168_normal.png');
}

.u178_container {
    position:absolute;
    left:442px;
    top:863px;
    width:107px;
    height:24px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:30px;
}

.u179 {
    position:absolute;
    left:2px;
    top:4px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../改签审核退回订单详情_files/u180_normal.png');
}

.u180_container {
    position:absolute;
    left:620px;
    top:826px;
    width:140px;
    height:24px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:30px;
}

.u181 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../改签审核退回订单详情_files/u180_normal.png');
}

.u182_container {
    position:absolute;
    left:620px;
    top:863px;
    width:140px;
    height:24px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:30px;
}

.u183 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../改签审核退回订单详情_files/u184_normal.png');
}

.u184_container {
    position:absolute;
    left:793px;
    top:826px;
    width:67px;
    height:24px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:30px;
}

.u185 {
    position:absolute;
    left:2px;
    top:4px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../改签审核退回订单详情_files/u184_normal.png');
}

.u186_container {
    position:absolute;
    left:793px;
    top:863px;
    width:67px;
    height:24px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:30px;
}

.u187 {
    position:absolute;
    left:2px;
    top:4px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../改签审核退回订单详情_files/u188_normal.png');
}

.u188_container {
    position:absolute;
    left:1062px;
    top:826px;
    width:74px;
    height:24px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:30px;
}

.u189 {
    position:absolute;
    left:2px;
    top:4px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../改签审核退回订单详情_files/u188_normal.png');
}

.u190_container {
    position:absolute;
    left:1062px;
    top:863px;
    width:74px;
    height:24px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:30px;
}

.u191 {
    position:absolute;
    left:2px;
    top:4px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:633px;
    top:1306px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

