body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../空白行程单申请_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:890px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:896px;
}

.u1 {
    position:absolute;
    left:2px;
    top:437px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:890px
}

.u2_original {
    background-image: url('../空白行程单申请_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:780px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:10px;
    width:780px;
    height:40px
}

.u4 {
    position:absolute;
    left:250px;
    top:21px;
    width:400px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../空白行程单申请_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:10px;
    top:60px;
    width:780px;
    height:190px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:196px;
}

.u6 {
    position:absolute;
    left:2px;
    top:87px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:10px;
    top:60px;
    width:780px;
    height:190px
}

.u7 {
    position:absolute;
    left:20px;
    top:70px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_original {
    background-image: url('../空白行程单申请_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:260px;
    width:780px;
    height:350px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:356px;
}

.u9 {
    position:absolute;
    left:2px;
    top:167px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:10px;
    top:260px;
    width:780px;
    height:350px
}

.u10 {
    position:absolute;
    left:20px;
    top:270px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:40px;
    top:300px;
    width:710px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:40px;
    top:331px;
    width:340px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:40px;
    top:361px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_original {
    background-image: url('../空白行程单申请_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:110px;
    top:390px;
    width:660px;
    height:150px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:156px;
}

.u19 {
    position:absolute;
    left:2px;
    top:67px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:110px;
    top:390px;
    width:660px;
    height:150px
}

.u20 {
    position:absolute;
    left:120px;
    top:401px;
    width:190px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:400px;
    top:400px;
    width:190px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:120px;
    top:430px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:204px;
    top:430px;
    width:167px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: '应用字体';
}

.u24 {
    position:absolute;
    left:400px;
    top:430px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:480px;
    top:428px;
    width:167px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25_text_sketch {
    font-family: '应用字体';
}

.u26 {
    position:absolute;
    left:120px;
    top:460px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:205px;
    top:460px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_text_sketch {
    font-family: '应用字体';
}

.u28 {
    position:absolute;
    left:285px;
    top:460px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_text_sketch {
    font-family: '应用字体';
}

.u29 {
    position:absolute;
    left:360px;
    top:460px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_text_sketch {
    font-family: '应用字体';
}

.u30 {
    position:absolute;
    left:460px;
    top:460px;
    width:300px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_text_sketch {
    font-family: '应用字体';
}

.u31 {
    position:absolute;
    left:120px;
    top:490px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:620px;
    top:400px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:690px;
    top:400px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:210px;
    top:493px;
    width:550px;
    height:37px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_text_sketch {
    font-family: '应用字体';
}

#u35 {
    position:absolute;
    left:54px;
    top:555px;
    width:405px;
    height:51px
}

.u35_table {
    background-image: url('../空白行程单申请_files/u35_table.png');
}

.u35_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:409px;
    height:55px;
}

.u36_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px
}

.u38_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u38_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px
}

.u40_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u40_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px
}

.u42_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u42_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px
}

.u44_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:23px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:23px
}

.u46_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u46_container {
    position:absolute;
    left:100px;
    top:23px;
    width:100px;
    height:23px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:100px;
    top:23px;
    width:100px;
    height:23px
}

.u48_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u48_container {
    position:absolute;
    left:200px;
    top:23px;
    width:100px;
    height:23px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:200px;
    top:23px;
    width:100px;
    height:23px
}

.u50_original {
    background-image: url('../空白行程单申请_files/u36_original.png');
}

.u50_container {
    position:absolute;
    left:300px;
    top:23px;
    width:100px;
    height:23px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:300px;
    top:23px;
    width:100px;
    height:23px
}

.u52_original {
    background-image: url('../空白行程单申请_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:10px;
    top:620px;
    width:780px;
    height:120px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:126px;
}

.u53 {
    position:absolute;
    left:2px;
    top:52px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:10px;
    top:620px;
    width:780px;
    height:120px
}

.u54 {
    position:absolute;
    left:20px;
    top:631px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_original {
    background-image: url('../空白行程单申请_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:30px;
    top:655px;
    width:100px;
    height:25px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u56 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:30px;
    top:655px;
    width:100px;
    height:25px
}

.u57_original {
    background-image: url('../空白行程单申请_files/u55_original.png');
}

.u57_container {
    position:absolute;
    left:140px;
    top:655px;
    width:100px;
    height:25px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u58 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:140px;
    top:655px;
    width:100px;
    height:25px
}

.u59_original {
    background-image: url('../空白行程单申请_files/u55_original.png');
}

.u59_container {
    position:absolute;
    left:250px;
    top:655px;
    width:100px;
    height:25px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u60 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:250px;
    top:655px;
    width:100px;
    height:25px
}

.u61_original {
    background-image: url('../空白行程单申请_files/u55_original.png');
}

.u61_container {
    position:absolute;
    left:360px;
    top:655px;
    width:100px;
    height:25px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u62 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:360px;
    top:655px;
    width:100px;
    height:25px
}

.u63_original {
    background-image: url('../空白行程单申请_files/u55_original.png');
}

.u63_container {
    position:absolute;
    left:470px;
    top:655px;
    width:100px;
    height:25px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u64 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:470px;
    top:655px;
    width:100px;
    height:25px
}

.u65_original {
    background-image: url('../空白行程单申请_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:20px;
    top:680px;
    width:760px;
    height:50px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:766px;
    height:56px;
}

.u66 {
    position:absolute;
    left:2px;
    top:17px;
    width:756px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:20px;
    top:680px;
    width:760px;
    height:50px
}

.u67 {
    position:absolute;
    left:30px;
    top:690px;
    width:240px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:280px;
    top:690px;
    width:190px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:540px;
    top:690px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69_text_sketch {
    font-family: '应用字体';
}

.u70 {
    position:absolute;
    left:310px;
    top:270px;
    width:470px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:660px;
    top:690px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_text_sketch {
    font-family: '应用字体';
}

.u72 {
    position:absolute;
    left:20px;
    top:760px;
    width:760px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:50px;
    top:110px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:140px;
    top:105px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74_text_sketch {
    font-family: '应用字体';
}

