body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../单程搜索结果_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:47px;
    top:20px;
    width:773px;
    height:730px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:773px;
    height:730px;
}

.u1 {
    position:absolute;
    left:2px;
    top:357px;
    width:769px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../单程搜索结果_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:614px;
    top:290px;
    width:16px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../单程搜索结果_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:614px;
    top:330px;
    width:16px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../单程搜索结果_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:620px;
    top:370px;
    width:16px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../单程搜索结果_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:620px;
    top:410px;
    width:16px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../单程搜索结果_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:620px;
    top:460px;
    width:16px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../单程搜索结果_files/u2_normal.png');
}

.u12_container {
    position:absolute;
    left:614px;
    top:510px;
    width:16px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../单程搜索结果_files/u2_normal.png');
}

.u14_container {
    position:absolute;
    left:614px;
    top:610px;
    width:16px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../单程搜索结果_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:20px;
    top:690px;
    width:840px;
    height:100px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:846px;
    height:106px;
}

.u17 {
    position:absolute;
    left:2px;
    top:42px;
    width:836px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../单程搜索结果_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:584px;
    top:250px;
    width:36px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

