body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../退款订单_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:5px;
    top:50px;
    width:1125px;
    height:106px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1125px;
    height:106px;
}

.u1 {
    position:absolute;
    left:2px;
    top:45px;
    width:1121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../退款订单_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:117px;
    width:1126px;
    height:39px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1126px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:1122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../退款订单_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:5px;
    top:122px;
    width:743px;
    height:28px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:743px;
    height:28px;
}

.u5 {
    position:absolute;
    left:2px;
    top:6px;
    width:739px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../退款订单_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:142px;
    top:127px;
    width:58px;
    height:22px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:22px;
}

.u7 {
    position:absolute;
    left:2px;
    top:3px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../退款订单_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:5px;
    top:318px;
    width:1205px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1205px;
    height:35px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:1201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../退款订单_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:14px;
    top:127px;
    width:56px;
    height:23px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:29px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../退款订单_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:82px;
    top:124px;
    width:56px;
    height:23px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:29px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../退款订单_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:5px;
    top:156px;
    width:1216px;
    height:162px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1216px;
    height:162px;
}

.u15 {
    position:absolute;
    left:2px;
    top:73px;
    width:1212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../退款订单_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:1042px;
    top:194px;
    width:68px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:30px;
}

.u17 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../退款订单_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:1042px;
    top:236px;
    width:68px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:30px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../退款订单_files/u16_normal.png');
}

.u20_container {
    position:absolute;
    left:1042px;
    top:276px;
    width:68px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:30px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../退款订单_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:964px;
    top:236px;
    width:68px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:30px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../退款订单_files/u16_normal.png');
}

.u24_container {
    position:absolute;
    left:966px;
    top:276px;
    width:68px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:30px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../退款订单_files/u10_normal.png');
}

.u26_container {
    position:absolute;
    left:1054px;
    top:243px;
    width:56px;
    height:23px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:29px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../退款订单_files/u10_normal.png');
}

.u28_container {
    position:absolute;
    left:1054px;
    top:283px;
    width:56px;
    height:23px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:29px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../退款订单_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:23px;
    top:6px;
    width:67px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../退款订单_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:108px;
    top:36px;
    width:58px;
    height:44px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:44px;
}

.u33 {
    position:absolute;
    left:2px;
    top:14px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../退款订单_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:165px;
    top:38px;
    width:254px;
    height:41px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:254px;
    height:41px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../退款订单_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:458px;
    top:42px;
    width:502px;
    height:32px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:32px;
}

.u37 {
    position:absolute;
    left:2px;
    top:8px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:837px;
    top:44px;
    width:73px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39_normal {
    background-image: url('../退款订单_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:745px;
    top:41px;
    width:84px;
    height:27px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:33px;
}

.u40 {
    position:absolute;
    left:2px;
    top:6px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../退款订单_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:801px;
    top:155px;
    width:10px;
    height:162px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:162px;
}

.u42 {
    position:absolute;
    left:2px;
    top:73px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../退款订单_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:763px;
    top:160px;
    width:38px;
    height:157px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:157px;
}

.u44 {
    position:absolute;
    left:2px;
    top:70px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../退款订单_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:770px;
    top:167px;
    width:33px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../退款订单_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:813px;
    top:167px;
    width:45px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:-6px;
    width:41px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../退款订单_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:811px;
    top:194px;
    width:47px;
    height:34px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:40px;
}

.u50 {
    position:absolute;
    left:2px;
    top:1px;
    width:43px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../退款订单_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:811px;
    top:237px;
    width:47px;
    height:32px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:38px;
}

.u52 {
    position:absolute;
    left:2px;
    top:0px;
    width:43px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../退款订单_files/u49_normal.png');
}

.u53_container {
    position:absolute;
    left:811px;
    top:279px;
    width:47px;
    height:34px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:40px;
}

.u54 {
    position:absolute;
    left:2px;
    top:1px;
    width:43px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../退款订单_files/u10_normal.png');
}

.u55_container {
    position:absolute;
    left:1054px;
    top:198px;
    width:56px;
    height:23px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:29px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../退款订单_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:1126px;
    top:148px;
    width:180px;
    height:169px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:175px;
}

.u58 {
    position:absolute;
    left:2px;
    top:76px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../退款订单_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:940px;
    top:36px;
    width:77px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:77px;
    height:30px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../退款订单_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:5px;
    top:34px;
    width:1048px;
    height:83px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1048px;
    height:83px;
}

.u62 {
    position:absolute;
    left:2px;
    top:34px;
    width:1044px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../退款订单_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:8px;
    top:157px;
    width:1013px;
    height:193px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1013px;
    height:193px;
}

.u64 {
    position:absolute;
    left:2px;
    top:88px;
    width:1009px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

