body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../询价订单_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:970px;
    height:360px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:366px;
}

.u1 {
    position:absolute;
    left:2px;
    top:172px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:970px;
    height:360px
}

.u2_original {
    background-image: url('../订单管理-查询条件_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:800px;
    height:130px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:136px;
}

.u3 {
    position:absolute;
    left:2px;
    top:57px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:10px;
    width:800px;
    height:130px
}

.u4 {
    position:absolute;
    left:20px;
    top:20px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:220px;
    top:22px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:420px;
    top:20px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:50px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:220px;
    top:52px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:420px;
    top:50px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:602px;
    top:50px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:90px;
    top:20px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_text_sketch {
    font-family: '应用字体';
}

.u12 {
    position:absolute;
    left:90px;
    top:48px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_text_sketch {
    font-family: '应用字体';
}

.u13 {
    position:absolute;
    left:290px;
    top:21px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_text_sketch {
    font-family: '应用字体';
}

.u14 {
    position:absolute;
    left:290px;
    top:49px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_text_sketch {
    font-family: '应用字体';
}

.u15 {
    position:absolute;
    left:490px;
    top:20px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_text_sketch {
    font-family: '应用字体';
}

.u16 {
    position:absolute;
    left:490px;
    top:48px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: '应用字体';
}

.u17 {
    position:absolute;
    left:610px;
    top:21px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:669px;
    top:20px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_text_sketch {
    font-family: '应用字体';
}

.u19 {
    position:absolute;
    left:669px;
    top:48px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_text_sketch {
    font-family: '应用字体';
}

.u20 {
    position:absolute;
    left:20px;
    top:78px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:220px;
    top:80px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:290px;
    top:78px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_text_sketch {
    font-family: '应用字体';
}

.u23 {
    position:absolute;
    left:690px;
    top:107px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: '应用字体';
}

.u24 {
    position:absolute;
    left:423px;
    top:79px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:490px;
    top:78px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25_text_sketch {
    font-family: '应用字体';
}

.u26 {
    position:absolute;
    left:90px;
    top:78px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_text_sketch {
    font-family: '应用字体';
}

.u27 {
    position:absolute;
    left:603px;
    top:79px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:670px;
    top:78px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_text_sketch {
    font-family: '应用字体';
}

.u30 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_original {
    background-image: url('../询价订单_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:15px;
    top:160px;
    width:100px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:15px;
    top:160px;
    width:100px;
    height:25px
}

.u36_original {
    background-image: url('../询价订单_files/u34_original.png');
}

.u36_container {
    position:absolute;
    left:118px;
    top:160px;
    width:100px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:118px;
    top:160px;
    width:100px;
    height:25px
}

.u38_original {
    background-image: url('../询价订单_files/u34_original.png');
}

.u38_container {
    position:absolute;
    left:222px;
    top:160px;
    width:100px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:222px;
    top:160px;
    width:100px;
    height:25px
}

.u40_original {
    background-image: url('../询价订单_files/u34_original.png');
}

.u40_container {
    position:absolute;
    left:325px;
    top:160px;
    width:100px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:325px;
    top:160px;
    width:100px;
    height:25px
}

.u42_original {
    background-image: url('../询价订单_files/u34_original.png');
}

.u42_container {
    position:absolute;
    left:428px;
    top:160px;
    width:100px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:428px;
    top:160px;
    width:100px;
    height:25px
}

.u44_original {
    background-image: url('../询价订单_files/u34_original.png');
}

.u44_container {
    position:absolute;
    left:531px;
    top:160px;
    width:100px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:531px;
    top:160px;
    width:100px;
    height:25px
}

.u46_original {
    background-image: url('../询价_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:9px;
    top:185px;
    width:940px;
    height:130px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:136px;
}

.u47 {
    position:absolute;
    left:2px;
    top:57px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:9px;
    top:185px;
    width:940px;
    height:130px
}

#u48 {
    position:absolute;
    left:19px;
    top:198px;
    width:916px;
    height:112px
}

.u48_table {
    background-image: url('../询价_files/u48_table.png');
}

.u48_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:920px;
    height:116px;
}

.u49_original {
    background-image: url('../询价_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:23px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:23px
}

.u51_original {
    background-image: url('../询价_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:114px;
    top:0px;
    width:82px;
    height:23px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:114px;
    top:0px;
    width:82px;
    height:23px
}

.u53_original {
    background-image: url('../询价_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:196px;
    top:0px;
    width:120px;
    height:23px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:196px;
    top:0px;
    width:120px;
    height:23px
}

.u55_original {
    background-image: url('../询价_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:316px;
    top:0px;
    width:58px;
    height:23px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:316px;
    top:0px;
    width:58px;
    height:23px
}

.u57_original {
    background-image: url('../询价_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:374px;
    top:0px;
    width:36px;
    height:23px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:374px;
    top:0px;
    width:36px;
    height:23px
}

.u59_original {
    background-image: url('../询价_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:410px;
    top:0px;
    width:61px;
    height:23px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:410px;
    top:0px;
    width:61px;
    height:23px
}

.u61_original {
    background-image: url('../询价_files/u53_original.png');
}

.u61_container {
    position:absolute;
    left:471px;
    top:0px;
    width:120px;
    height:23px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:471px;
    top:0px;
    width:120px;
    height:23px
}

.u63_original {
    background-image: url('../询价_files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:591px;
    top:0px;
    width:100px;
    height:23px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:591px;
    top:0px;
    width:100px;
    height:23px
}

.u65_original {
    background-image: url('../询价_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:691px;
    top:0px;
    width:59px;
    height:23px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:691px;
    top:0px;
    width:59px;
    height:23px
}

.u67_original {
    background-image: url('../询价_files/u59_original.png');
}

.u67_container {
    position:absolute;
    left:750px;
    top:0px;
    width:61px;
    height:23px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:750px;
    top:0px;
    width:61px;
    height:23px
}

.u69_original {
    background-image: url('../询价_files/u63_original.png');
}

.u69_container {
    position:absolute;
    left:811px;
    top:0px;
    width:100px;
    height:23px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:811px;
    top:0px;
    width:100px;
    height:23px
}

.u71_original {
    background-image: url('../询价_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:23px;
    width:114px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:0px;
    top:23px;
    width:114px;
    height:42px
}

.u73_original {
    background-image: url('../询价_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:114px;
    top:23px;
    width:82px;
    height:42px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:114px;
    top:23px;
    width:82px;
    height:42px
}

.u75_original {
    background-image: url('../询价_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:196px;
    top:23px;
    width:120px;
    height:42px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:196px;
    top:23px;
    width:120px;
    height:42px
}

.u77_original {
    background-image: url('../询价_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:316px;
    top:23px;
    width:58px;
    height:42px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:316px;
    top:23px;
    width:58px;
    height:42px
}

.u79_original {
    background-image: url('../询价_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:374px;
    top:23px;
    width:36px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:374px;
    top:23px;
    width:36px;
    height:42px
}

.u81_original {
    background-image: url('../询价_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:410px;
    top:23px;
    width:61px;
    height:42px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:410px;
    top:23px;
    width:61px;
    height:42px
}

.u83_original {
    background-image: url('../询价_files/u75_original.png');
}

.u83_container {
    position:absolute;
    left:471px;
    top:23px;
    width:120px;
    height:42px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:471px;
    top:23px;
    width:120px;
    height:42px
}

.u85_original {
    background-image: url('../询价_files/u85_original.png');
}

.u85_container {
    position:absolute;
    left:591px;
    top:23px;
    width:100px;
    height:42px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:591px;
    top:23px;
    width:100px;
    height:42px
}

.u87_original {
    background-image: url('../询价_files/u87_original.png');
}

.u87_container {
    position:absolute;
    left:691px;
    top:23px;
    width:59px;
    height:42px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:691px;
    top:23px;
    width:59px;
    height:42px
}

.u89_original {
    background-image: url('../询价_files/u81_original.png');
}

.u89_container {
    position:absolute;
    left:750px;
    top:23px;
    width:61px;
    height:42px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:750px;
    top:23px;
    width:61px;
    height:42px
}

.u91_original {
    background-image: url('../询价_files/u85_original.png');
}

.u91_container {
    position:absolute;
    left:811px;
    top:23px;
    width:100px;
    height:42px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:811px;
    top:23px;
    width:100px;
    height:42px
}

.u93_original {
    background-image: url('../询价_files/u71_original.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:65px;
    width:114px;
    height:42px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:0px;
    top:65px;
    width:114px;
    height:42px
}

.u95_original {
    background-image: url('../询价_files/u73_original.png');
}

.u95_container {
    position:absolute;
    left:114px;
    top:65px;
    width:82px;
    height:42px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:114px;
    top:65px;
    width:82px;
    height:42px
}

.u97_original {
    background-image: url('../询价_files/u75_original.png');
}

.u97_container {
    position:absolute;
    left:196px;
    top:65px;
    width:120px;
    height:42px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:196px;
    top:65px;
    width:120px;
    height:42px
}

.u99_original {
    background-image: url('../询价_files/u77_original.png');
}

.u99_container {
    position:absolute;
    left:316px;
    top:65px;
    width:58px;
    height:42px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:316px;
    top:65px;
    width:58px;
    height:42px
}

.u101_original {
    background-image: url('../询价_files/u79_original.png');
}

.u101_container {
    position:absolute;
    left:374px;
    top:65px;
    width:36px;
    height:42px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:374px;
    top:65px;
    width:36px;
    height:42px
}

.u103_original {
    background-image: url('../询价_files/u81_original.png');
}

.u103_container {
    position:absolute;
    left:410px;
    top:65px;
    width:61px;
    height:42px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:410px;
    top:65px;
    width:61px;
    height:42px
}

.u105_original {
    background-image: url('../询价_files/u75_original.png');
}

.u105_container {
    position:absolute;
    left:471px;
    top:65px;
    width:120px;
    height:42px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:471px;
    top:65px;
    width:120px;
    height:42px
}

.u107_original {
    background-image: url('../询价_files/u85_original.png');
}

.u107_container {
    position:absolute;
    left:591px;
    top:65px;
    width:100px;
    height:42px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:591px;
    top:65px;
    width:100px;
    height:42px
}

.u109_original {
    background-image: url('../询价_files/u87_original.png');
}

.u109_container {
    position:absolute;
    left:691px;
    top:65px;
    width:59px;
    height:42px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:691px;
    top:65px;
    width:59px;
    height:42px
}

.u111_original {
    background-image: url('../询价_files/u81_original.png');
}

.u111_container {
    position:absolute;
    left:750px;
    top:65px;
    width:61px;
    height:42px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:750px;
    top:65px;
    width:61px;
    height:42px
}

.u113_original {
    background-image: url('../询价_files/u85_original.png');
}

.u113_container {
    position:absolute;
    left:811px;
    top:65px;
    width:100px;
    height:42px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:811px;
    top:65px;
    width:100px;
    height:42px
}

#u116 {
    position:absolute;
    left:10px;
    top:330px;
    width:784px;
    height:591px
}

.u116_table {
    background-image: url('../询价订单_files/u116_table.png');
}

.u116_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:788px;
    height:595px;
}

.u117_original {
    background-image: url('../询价订单_files/u117_original.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px
}

.u119_original {
    background-image: url('../询价订单_files/u119_original.png');
}

.u119_container {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px
}

.u121_original {
    background-image: url('../询价订单_files/u121_original.png');
}

.u121_container {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px
}

.u123_original {
    background-image: url('../询价订单_files/u123_original.png');
}

.u123_container {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px
}

.u125_original {
    background-image: url('../询价订单_files/u125_original.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:42px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:42px
}

.u127_original {
    background-image: url('../询价订单_files/u127_original.png');
}

.u127_container {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:42px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:42px
}

.u129_original {
    background-image: url('../询价订单_files/u129_original.png');
}

.u129_container {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:42px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:42px
}

.u131_original {
    background-image: url('../询价订单_files/u131_original.png');
}

.u131_container {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:42px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:42px
}

.u133_original {
    background-image: url('../询价订单_files/u125_original.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:67px;
    width:100px;
    height:42px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:0px;
    top:67px;
    width:100px;
    height:42px
}

.u135_original {
    background-image: url('../询价订单_files/u127_original.png');
}

.u135_container {
    position:absolute;
    left:100px;
    top:67px;
    width:200px;
    height:42px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:100px;
    top:67px;
    width:200px;
    height:42px
}

.u137_original {
    background-image: url('../询价订单_files/u129_original.png');
}

.u137_container {
    position:absolute;
    left:300px;
    top:67px;
    width:284px;
    height:42px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:300px;
    top:67px;
    width:284px;
    height:42px
}

.u139_original {
    background-image: url('../询价订单_files/u131_original.png');
}

.u139_container {
    position:absolute;
    left:584px;
    top:67px;
    width:195px;
    height:42px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:584px;
    top:67px;
    width:195px;
    height:42px
}

.u141_original {
    background-image: url('../询价订单_files/u141_original.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:109px;
    width:100px;
    height:23px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:0px;
    top:109px;
    width:100px;
    height:23px
}

.u143_original {
    background-image: url('../询价订单_files/u143_original.png');
}

.u143_container {
    position:absolute;
    left:100px;
    top:109px;
    width:200px;
    height:23px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:100px;
    top:109px;
    width:200px;
    height:23px
}

.u145_original {
    background-image: url('../询价订单_files/u145_original.png');
}

.u145_container {
    position:absolute;
    left:300px;
    top:109px;
    width:284px;
    height:23px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:300px;
    top:109px;
    width:284px;
    height:23px
}

.u147_original {
    background-image: url('../询价订单_files/u147_original.png');
}

.u147_container {
    position:absolute;
    left:584px;
    top:109px;
    width:195px;
    height:23px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:584px;
    top:109px;
    width:195px;
    height:23px
}

.u149_original {
    background-image: url('../询价订单_files/u149_original.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:132px;
    width:100px;
    height:213px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:0px;
    top:132px;
    width:100px;
    height:213px
}

.u151_original {
    background-image: url('../询价订单_files/u151_original.png');
}

.u151_container {
    position:absolute;
    left:100px;
    top:132px;
    width:200px;
    height:213px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:209px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:100px;
    top:132px;
    width:200px;
    height:213px
}

.u153_original {
    background-image: url('../询价订单_files/u153_original.png');
}

.u153_container {
    position:absolute;
    left:300px;
    top:132px;
    width:284px;
    height:213px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:300px;
    top:132px;
    width:284px;
    height:213px
}

.u155_original {
    background-image: url('../询价订单_files/u155_original.png');
}

.u155_container {
    position:absolute;
    left:584px;
    top:132px;
    width:195px;
    height:213px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:584px;
    top:132px;
    width:195px;
    height:213px
}

.u157_original {
    background-image: url('../询价订单_files/u141_original.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:345px;
    width:100px;
    height:23px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:0px;
    top:345px;
    width:100px;
    height:23px
}

.u159_original {
    background-image: url('../询价订单_files/u143_original.png');
}

.u159_container {
    position:absolute;
    left:100px;
    top:345px;
    width:200px;
    height:23px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:100px;
    top:345px;
    width:200px;
    height:23px
}

.u161_original {
    background-image: url('../询价订单_files/u145_original.png');
}

.u161_container {
    position:absolute;
    left:300px;
    top:345px;
    width:284px;
    height:23px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:300px;
    top:345px;
    width:284px;
    height:23px
}

.u163_original {
    background-image: url('../询价订单_files/u147_original.png');
}

.u163_container {
    position:absolute;
    left:584px;
    top:345px;
    width:195px;
    height:23px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:584px;
    top:345px;
    width:195px;
    height:23px
}

.u165_original {
    background-image: url('../询价订单_files/u141_original.png');
}

.u165_container {
    position:absolute;
    left:0px;
    top:368px;
    width:100px;
    height:23px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:0px;
    top:368px;
    width:100px;
    height:23px
}

.u167_original {
    background-image: url('../询价订单_files/u143_original.png');
}

.u167_container {
    position:absolute;
    left:100px;
    top:368px;
    width:200px;
    height:23px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:100px;
    top:368px;
    width:200px;
    height:23px
}

.u169_original {
    background-image: url('../询价订单_files/u145_original.png');
}

.u169_container {
    position:absolute;
    left:300px;
    top:368px;
    width:284px;
    height:23px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:300px;
    top:368px;
    width:284px;
    height:23px
}

.u171_original {
    background-image: url('../询价订单_files/u147_original.png');
}

.u171_container {
    position:absolute;
    left:584px;
    top:368px;
    width:195px;
    height:23px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:584px;
    top:368px;
    width:195px;
    height:23px
}

.u173_original {
    background-image: url('../询价订单_files/u141_original.png');
}

.u173_container {
    position:absolute;
    left:0px;
    top:391px;
    width:100px;
    height:23px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:0px;
    top:391px;
    width:100px;
    height:23px
}

.u175_original {
    background-image: url('../询价订单_files/u143_original.png');
}

.u175_container {
    position:absolute;
    left:100px;
    top:391px;
    width:200px;
    height:23px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:100px;
    top:391px;
    width:200px;
    height:23px
}

.u177_original {
    background-image: url('../询价订单_files/u145_original.png');
}

.u177_container {
    position:absolute;
    left:300px;
    top:391px;
    width:284px;
    height:23px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:300px;
    top:391px;
    width:284px;
    height:23px
}

.u179_original {
    background-image: url('../询价订单_files/u147_original.png');
}

.u179_container {
    position:absolute;
    left:584px;
    top:391px;
    width:195px;
    height:23px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:584px;
    top:391px;
    width:195px;
    height:23px
}

.u181_original {
    background-image: url('../询价订单_files/u125_original.png');
}

.u181_container {
    position:absolute;
    left:0px;
    top:414px;
    width:100px;
    height:42px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:0px;
    top:414px;
    width:100px;
    height:42px
}

.u183_original {
    background-image: url('../询价订单_files/u127_original.png');
}

.u183_container {
    position:absolute;
    left:100px;
    top:414px;
    width:200px;
    height:42px;
}

.u184 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:100px;
    top:414px;
    width:200px;
    height:42px
}

.u185_original {
    background-image: url('../询价订单_files/u129_original.png');
}

.u185_container {
    position:absolute;
    left:300px;
    top:414px;
    width:284px;
    height:42px;
}

.u186 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:300px;
    top:414px;
    width:284px;
    height:42px
}

.u187_original {
    background-image: url('../询价订单_files/u131_original.png');
}

.u187_container {
    position:absolute;
    left:584px;
    top:414px;
    width:195px;
    height:42px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:584px;
    top:414px;
    width:195px;
    height:42px
}

.u189_original {
    background-image: url('../询价订单_files/u125_original.png');
}

.u189_container {
    position:absolute;
    left:0px;
    top:456px;
    width:100px;
    height:42px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:0px;
    top:456px;
    width:100px;
    height:42px
}

.u191_original {
    background-image: url('../询价订单_files/u127_original.png');
}

.u191_container {
    position:absolute;
    left:100px;
    top:456px;
    width:200px;
    height:42px;
}

.u192 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:100px;
    top:456px;
    width:200px;
    height:42px
}

.u193_original {
    background-image: url('../询价订单_files/u129_original.png');
}

.u193_container {
    position:absolute;
    left:300px;
    top:456px;
    width:284px;
    height:42px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:300px;
    top:456px;
    width:284px;
    height:42px
}

.u195_original {
    background-image: url('../询价订单_files/u131_original.png');
}

.u195_container {
    position:absolute;
    left:584px;
    top:456px;
    width:195px;
    height:42px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:584px;
    top:456px;
    width:195px;
    height:42px
}

.u197_original {
    background-image: url('../询价订单_files/u125_original.png');
}

.u197_container {
    position:absolute;
    left:0px;
    top:498px;
    width:100px;
    height:42px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:0px;
    top:498px;
    width:100px;
    height:42px
}

.u199_original {
    background-image: url('../询价订单_files/u127_original.png');
}

.u199_container {
    position:absolute;
    left:100px;
    top:498px;
    width:200px;
    height:42px;
}

.u200 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:100px;
    top:498px;
    width:200px;
    height:42px
}

.u201_original {
    background-image: url('../询价订单_files/u129_original.png');
}

.u201_container {
    position:absolute;
    left:300px;
    top:498px;
    width:284px;
    height:42px;
}

.u202 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:300px;
    top:498px;
    width:284px;
    height:42px
}

.u203_original {
    background-image: url('../询价订单_files/u131_original.png');
}

.u203_container {
    position:absolute;
    left:584px;
    top:498px;
    width:195px;
    height:42px;
}

.u204 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:584px;
    top:498px;
    width:195px;
    height:42px
}

.u205_original {
    background-image: url('../询价订单_files/u141_original.png');
}

.u205_container {
    position:absolute;
    left:0px;
    top:540px;
    width:100px;
    height:23px;
}

.u206 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:0px;
    top:540px;
    width:100px;
    height:23px
}

.u207_original {
    background-image: url('../询价订单_files/u143_original.png');
}

.u207_container {
    position:absolute;
    left:100px;
    top:540px;
    width:200px;
    height:23px;
}

.u208 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:100px;
    top:540px;
    width:200px;
    height:23px
}

.u209_original {
    background-image: url('../询价订单_files/u145_original.png');
}

.u209_container {
    position:absolute;
    left:300px;
    top:540px;
    width:284px;
    height:23px;
}

.u210 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:300px;
    top:540px;
    width:284px;
    height:23px
}

.u211_original {
    background-image: url('../询价订单_files/u147_original.png');
}

.u211_container {
    position:absolute;
    left:584px;
    top:540px;
    width:195px;
    height:23px;
}

.u212 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:584px;
    top:540px;
    width:195px;
    height:23px
}

.u213_original {
    background-image: url('../询价订单_files/u141_original.png');
}

.u213_container {
    position:absolute;
    left:0px;
    top:563px;
    width:100px;
    height:23px;
}

.u214 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:0px;
    top:563px;
    width:100px;
    height:23px
}

.u215_original {
    background-image: url('../询价订单_files/u143_original.png');
}

.u215_container {
    position:absolute;
    left:100px;
    top:563px;
    width:200px;
    height:23px;
}

.u216 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:100px;
    top:563px;
    width:200px;
    height:23px
}

.u217_original {
    background-image: url('../询价订单_files/u145_original.png');
}

.u217_container {
    position:absolute;
    left:300px;
    top:563px;
    width:284px;
    height:23px;
}

.u218 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:300px;
    top:563px;
    width:284px;
    height:23px
}

.u219_original {
    background-image: url('../询价订单_files/u147_original.png');
}

.u219_container {
    position:absolute;
    left:584px;
    top:563px;
    width:195px;
    height:23px;
}

.u220 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:584px;
    top:563px;
    width:195px;
    height:23px
}

