body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../权限_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:33px;
}

.u0 {
    position:absolute;
    left:798px;
    top:163px;
    width:10px;
    height:33px;
    
}

.u1_normal {
    background-image: url('../权限_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:335px;
    top:20px;
    width:133px;
    height:37px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:43px;
}

.u2 {
    position:absolute;
    left:2px;
    top:10px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../权限_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:51px;
}

.u3 {
    position:absolute;
    left:396px;
    top:57px;
    width:10px;
    height:51px;
    
}

.u4_line {
    background-image: url('../权限_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:191px;
    height:3px;
}

.u4 {
    position:absolute;
    left:62px;
    top:103px;
    width:191px;
    height:10px;
    
}

.u5_line {
    background-image: url('../权限_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:560px;
    height:3px;
}

.u5 {
    position:absolute;
    left:243px;
    top:103px;
    width:560px;
    height:10px;
    
}

.u6_line {
    background-image: url('../权限_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:21px;
}

.u6 {
    position:absolute;
    left:57px;
    top:108px;
    width:10px;
    height:21px;
    
}

.u7_line {
    background-image: url('../权限_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:21px;
}

.u7 {
    position:absolute;
    left:798px;
    top:110px;
    width:10px;
    height:21px;
    
}

.u8_line {
    background-image: url('../权限_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u8 {
    position:absolute;
    left:396px;
    top:103px;
    width:10px;
    height:26px;
    
}

.u9_normal {
    background-image: url('../权限_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:31px;
    top:128px;
    width:63px;
    height:37px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:43px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../权限_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u11 {
    position:absolute;
    left:57px;
    top:165px;
    width:10px;
    height:26px;
    
}

.u12_normal {
    background-image: url('../权限_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:369px;
    top:128px;
    width:61px;
    height:37px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:43px;
}

.u13 {
    position:absolute;
    left:2px;
    top:10px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../权限_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u14 {
    position:absolute;
    left:395px;
    top:165px;
    width:10px;
    height:26px;
    
}

.u15_normal {
    background-image: url('../权限_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:778px;
    top:131px;
    width:51px;
    height:37px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:43px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../权限_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u17 {
    position:absolute;
    left:33px;
    top:186px;
    width:54px;
    height:10px;
    
}

.u18_line {
    background-image: url('../权限_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:371px;
    height:3px;
}

.u18 {
    position:absolute;
    left:200px;
    top:187px;
    width:371px;
    height:10px;
    
}

.u19_line {
    background-image: url('../权限_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u19 {
    position:absolute;
    left:28px;
    top:191px;
    width:10px;
    height:26px;
    
}

.u20_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:20px;
    top:217px;
    width:26px;
    height:177px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u21 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../权限_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:1758px;
    top:527px;
    width:26px;
    height:145px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:151px;
}

.u23 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../权限_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u24 {
    position:absolute;
    left:82px;
    top:191px;
    width:10px;
    height:26px;
    
}

.u25_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u25_container {
    position:absolute;
    left:74px;
    top:217px;
    width:26px;
    height:177px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u26 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../权限_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u27 {
    position:absolute;
    left:226px;
    top:192px;
    width:10px;
    height:26px;
    
}

.u28_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u28_container {
    position:absolute;
    left:218px;
    top:218px;
    width:26px;
    height:177px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u29 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../权限_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u30 {
    position:absolute;
    left:263px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u31_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:255px;
    top:219px;
    width:26px;
    height:176px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../权限_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u33 {
    position:absolute;
    left:300px;
    top:192px;
    width:10px;
    height:26px;
    
}

.u34_line {
    background-image: url('../权限_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u34 {
    position:absolute;
    left:337px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u35_line {
    background-image: url('../权限_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u35 {
    position:absolute;
    left:373px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u36_line {
    background-image: url('../权限_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u36 {
    position:absolute;
    left:373px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u37_line {
    background-image: url('../权限_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u37 {
    position:absolute;
    left:1766px;
    top:499px;
    width:10px;
    height:26px;
    
}

.u38_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u38_container {
    position:absolute;
    left:292px;
    top:218px;
    width:26px;
    height:177px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u39 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u40_container {
    position:absolute;
    left:329px;
    top:219px;
    width:26px;
    height:176px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u41 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u42_container {
    position:absolute;
    left:365px;
    top:219px;
    width:26px;
    height:176px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u43 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../权限_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u44 {
    position:absolute;
    left:410px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u45_line {
    background-image: url('../权限_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u45 {
    position:absolute;
    left:410px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u46_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u46_container {
    position:absolute;
    left:402px;
    top:219px;
    width:26px;
    height:176px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_line {
    background-image: url('../权限_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u48 {
    position:absolute;
    left:448px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u49_line {
    background-image: url('../权限_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u49 {
    position:absolute;
    left:448px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u50_normal {
    background-image: url('../权限_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:440px;
    top:219px;
    width:26px;
    height:196px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:202px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:192px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_line {
    background-image: url('../权限_files/u52_line.png');
}

.u52_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u52 {
    position:absolute;
    left:486px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u53_line {
    background-image: url('../权限_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u53 {
    position:absolute;
    left:486px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u54_normal {
    background-image: url('../权限_files/u50_normal.png');
}

.u54_container {
    position:absolute;
    left:478px;
    top:219px;
    width:26px;
    height:196px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:202px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:192px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_line {
    background-image: url('../权限_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u56 {
    position:absolute;
    left:526px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u57_line {
    background-image: url('../权限_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u57 {
    position:absolute;
    left:526px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u58_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u58_container {
    position:absolute;
    left:518px;
    top:219px;
    width:26px;
    height:176px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u59 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_line {
    background-image: url('../权限_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u60 {
    position:absolute;
    left:566px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u61_line {
    background-image: url('../权限_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u61 {
    position:absolute;
    left:566px;
    top:193px;
    width:10px;
    height:26px;
    
}

.u62_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u62_container {
    position:absolute;
    left:558px;
    top:219px;
    width:26px;
    height:176px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u63 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_line {
    background-image: url('../权限_files/u64_line.png');
}

.u64_line {
    position:absolute;
    left:0px;
    top:4px;
    width:449px;
    height:3px;
}

.u64 {
    position:absolute;
    left:634px;
    top:192px;
    width:449px;
    height:10px;
    
}

.u65_line {
    background-image: url('../权限_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u65 {
    position:absolute;
    left:190px;
    top:192px;
    width:10px;
    height:26px;
    
}

.u66_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u66_container {
    position:absolute;
    left:182px;
    top:218px;
    width:26px;
    height:177px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u67 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../权限_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u68 {
    position:absolute;
    left:701px;
    top:197px;
    width:10px;
    height:26px;
    
}

.u69_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u69_container {
    position:absolute;
    left:693px;
    top:223px;
    width:26px;
    height:177px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u70 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_line {
    background-image: url('../权限_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u71 {
    position:absolute;
    left:738px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u72_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u72_container {
    position:absolute;
    left:730px;
    top:224px;
    width:26px;
    height:176px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u73 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../权限_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u74 {
    position:absolute;
    left:775px;
    top:197px;
    width:10px;
    height:26px;
    
}

.u75_line {
    background-image: url('../权限_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u75 {
    position:absolute;
    left:812px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u76_line {
    background-image: url('../权限_files/u76_line.png');
}

.u76_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u76 {
    position:absolute;
    left:848px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u77_line {
    background-image: url('../权限_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u77 {
    position:absolute;
    left:848px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u78_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u78_container {
    position:absolute;
    left:767px;
    top:223px;
    width:26px;
    height:177px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u79 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u80_container {
    position:absolute;
    left:804px;
    top:224px;
    width:26px;
    height:176px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u81 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u82_container {
    position:absolute;
    left:840px;
    top:224px;
    width:26px;
    height:176px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u83 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../权限_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u84 {
    position:absolute;
    left:885px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u85_line {
    background-image: url('../权限_files/u85_line.png');
}

.u85_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u85 {
    position:absolute;
    left:885px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u86_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u86_container {
    position:absolute;
    left:877px;
    top:224px;
    width:26px;
    height:176px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u87 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_line {
    background-image: url('../权限_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u88 {
    position:absolute;
    left:923px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u89_line {
    background-image: url('../权限_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u89 {
    position:absolute;
    left:923px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u90_normal {
    background-image: url('../权限_files/u50_normal.png');
}

.u90_container {
    position:absolute;
    left:915px;
    top:224px;
    width:26px;
    height:196px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:202px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:192px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../权限_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u92 {
    position:absolute;
    left:961px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u93_line {
    background-image: url('../权限_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u93 {
    position:absolute;
    left:961px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u94_normal {
    background-image: url('../权限_files/u50_normal.png');
}

.u94_container {
    position:absolute;
    left:953px;
    top:224px;
    width:26px;
    height:196px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:202px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:192px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_line {
    background-image: url('../权限_files/u96_line.png');
}

.u96_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u96 {
    position:absolute;
    left:1001px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u97_line {
    background-image: url('../权限_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u97 {
    position:absolute;
    left:1001px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u98_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u98_container {
    position:absolute;
    left:993px;
    top:224px;
    width:26px;
    height:176px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u99 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../权限_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u100 {
    position:absolute;
    left:1041px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u101_line {
    background-image: url('../权限_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u101 {
    position:absolute;
    left:1041px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u102_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u102_container {
    position:absolute;
    left:1033px;
    top:224px;
    width:26px;
    height:176px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u103 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../权限_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u104 {
    position:absolute;
    left:629px;
    top:197px;
    width:10px;
    height:26px;
    
}

.u105_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u105_container {
    position:absolute;
    left:621px;
    top:223px;
    width:26px;
    height:177px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u106 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_line {
    background-image: url('../权限_files/u107_line.png');
}

.u107_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u107 {
    position:absolute;
    left:665px;
    top:197px;
    width:10px;
    height:26px;
    
}

.u108_normal {
    background-image: url('../权限_files/u20_normal.png');
}

.u108_container {
    position:absolute;
    left:657px;
    top:223px;
    width:26px;
    height:177px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:183px;
}

.u109 {
    position:absolute;
    left:2px;
    top:24px;
    width:22px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_line {
    background-image: url('../权限_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u110 {
    position:absolute;
    left:1078px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u111_line {
    background-image: url('../权限_files/u111_line.png');
}

.u111_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u111 {
    position:absolute;
    left:1078px;
    top:198px;
    width:10px;
    height:26px;
    
}

.u112_normal {
    background-image: url('../权限_files/u31_normal.png');
}

.u112_container {
    position:absolute;
    left:1070px;
    top:224px;
    width:26px;
    height:176px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:182px;
}

.u113 {
    position:absolute;
    left:2px;
    top:8px;
    width:22px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

