{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-hbcx">
            <div class="xblock">
                <p>
                <span>机票流程：</span>
                <span class="greenb">选择航班</span>
                <i class="icon4">&nbsp;</i>
                <span>填写订单</span>
                <i class="icon4">&nbsp;</i>
                <span>核对支付</span>
                <i class="icon4">&nbsp;</i>
                <span>等待出票</span>
                <i class="icon4">&nbsp;</i>
                <span>出票完成</span>
                </p>
            </div>

            <div class="block">
                <div class="block-head">
                    <h3 class="gray-title">国内航班查询</h3>
                </div>
                <div class="block-body">
                    <table frame=void cellspacing="0" class="table-b6">
                        <tr>
                            <th>航班类型</th>
                            <td colspan=5>
                                <label>
                                    <input type="radio" class="radio" value="" name="" />
                                    单程
                                </label>
                                <label>
                                    <input type="radio" class="radio" value="" name="" />
                                    往返
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>出发城市</th>
                            <td>
                                <input class="text suggest startcity suggest-city" data-type="startcity" class="text" value="" name="" />
                            </td>
                            <th>到达城市</th>
                            <td>
                                <input type="text" class="text suggest endcity suggest-city" data-type="endcity" value="" name="" />
                            </td>
                            <th>航空公司</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>出发日期</th>
                            <td>
                                <input type="text" class="text datepicker" value="" name="" />
                            </td>
                            <th>返回日期</th>
                            <td colspan=3>
                                <input type="text" class="text datepicker" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>AVH</th>
                            <td>
                                <input type="text" class="text text3" value="指令查询框 格式：AVH/PEKSHA/+(23JUB)/CA(D)/(D)" name="" />
                            </td>
                            <td>
                                <input type="button" class="button button2" value="查询航班" name="" />
                            </td>
                            <td>
                                <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                只查询团队票
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="block">
                <div class="block-head">
                    <h3 class="gray-title">选择航班</h3>
                </div>
                <div class="block-body">
                    <div class="warn block-i">
                        <p>
                        <strong class="f14">上海——北京</strong>
                        <strong>（去程）</strong>
                        出发日期：2012-07-05  当前共有
                        <strong> 40 </strong>
                        条航班，最低价
                        <span class="red f14 price">
                            ￥809</span>
                        </p>
                        <p>
                        <i class="icon8">&nbsp;</i>
                        <span class="orange">
                            温馨提示：结算价以订座成功PAT数据支付页面为准（注：结算价均不含机建费、燃油费和保险费）
                        </span>
                        </p>
                    </div>

                    <div class="search-list block-i">
                        <div class="block-i-head">
                            <ul>
                                <li class="current">
                                <a href="#">
                                    <span class="gray">2012-07-02</span>
                                    <span class="orange">周一</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="gray">2012-07-03</span>
                                    <span class="orange">周二</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="gray">2012-07-04</span>
                                    <span class="orange">周三</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="gray">2012-07-05</span>
                                    <span class="orange">周四</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="gray">2012-07-06</span>
                                    <span class="orange">周五</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="gray">2012-07-07</span>
                                    <span class="orange">周六</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="gray">2012-07-08</span>
                                    <span class="orange">周日</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-i-body">
                            <table frame=void class="table-b2" cellspacing="0">
                                <colgroup>
                                    <col></col>
                                    <col></col>
                                    <col></col>
                                    <col></col>
                                    <col></col>
                                    <col width=120></col>
                                    <col width=50></col>
                                    <col width=50></col>
                                    <col width=50></col>
                                    <col width=50></col>
                                    <col width=80></col>
                                </colgroup>
                                <tr class="thead">
                                    <td>航班号</td>
                                    <td>起降时间
                                        <i class="icon9"></i>
                                    </td>
                                    <td>起降机场</td>
                                    <td>经停</td>
                                    <td>机建/燃油</td>
                                    <td>舱位/票面价
                                        <i class="icon9"></i>
                                    </td>
                                    <td>余位</td>
                                    <td>退改签</td>
                                    <td>返点</td>
                                    <td>结算价</td>  
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="pubFlights_fe">1东方航空</span><br>
                                        大型机<u class="jx">333</u>
                                    </td>
                                    <td>
                                        <span class="deptime">07:00</span><br>
                                        <span class="arrtime">09:20</span>
                                    </td>
                                    <td>
                                        <span class="depcity">虹桥机场</span>
                                        <span class="arrcity">首都机场</span>
                                    </td>
                                    <td>
                                        否 
                                    </td>
                                    <td>
                                        50/130 
                                    </td>
                                    <td>
                                        Y/经济舱（100折）<br>
                                        <span class="price">￥850</span><br>
                                        <a href="javascript" class="more"><i class="arrow6">&nbsp;</i>查看更多舱位</a>
                                    </td>
                                    <td>
                                        >9 
                                    </td>
                                    <td>
                                        <u class="tgq">退改签</u>
                                    </td>
                                    <td>
                                        <span class="price red f14">
                                            6.0% 
                                        </span><br>
                                        <span class="price red f14">
                                            ￥51
                                        </span>
                                    </td>
                                    <td>
                                        <span class="price f16">
                                            ￥799 </span>
                                    </td>
                                    <td>
                                        <a href="#" class="button button4">预定</a>
                                    </td>
                                </tr>
                                <tr class="info-row">
                                    <td colspan="11" style="padding:0;">
                                        <table cellspacing="0" style="width:100%">
                                            <colgroup>
                                                <col></col>
                                                <col></col>
                                                <col></col>
                                                <col></col>
                                                <col width=120></col>
                                                <col width=50></col>
                                                <col width=50></col>
                                                <col width=50></col>
                                                <col width=50></col>
                                                <col width=80></col>
                                            </colgroup>
                                            <tr>
                                                <td colspan=4></td>
                                                <td>
                                                    Y/经济舱（100折）<br>
                                                    <span class="price">￥850</span><br>
                                                </td>
                                                <td>5</td>
                                                <td>
                                                    <u class="tgq">退改签</u>
                                                </td>
                                                <td>
                                                    <span class="price red f14">
                                                        6.0% 
                                                    </span><br>
                                                    <span class="price red f14">
                                                        ￥51
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="price f16">
                                                        ￥799 </span>
                                                </td>
                                                <td>
                                                    <a href="#" class="button button4">预定</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan=4></td>
                                                <td>
                                                    Y/经济舱（100折）<br>
                                                    <span class="price">￥850</span><br>
                                                </td>
                                                <td>5</td>
                                                <td>
                                                    <u class="tgq">退改签</u>
                                                </td>
                                                <td>
                                                    <span class="price red f14">
                                                        6.0% 
                                                    </span><br>
                                                    <span class="price red f14">
                                                        ￥51
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="price f16">
                                                        ￥799 </span>
                                                </td>
                                                <td>
                                                    <a href="#" class="button button4">预定</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="pubFlights_fe">1东方航空</span><br>
                                        大型机<u class="jx">333</u>
                                    </td>
                                    <td>
                                        <span class="deptime">07:00</span><br>
                                        <span class="arrtime">09:20</span>
                                    </td>
                                    <td>
                                        <span class="depcity">虹桥机场</span>
                                        <span class="arrcity">首都机场</span>
                                    </td>
                                    <td>
                                        否 
                                    </td>
                                    <td>
                                        50/130 
                                    </td>
                                    <td>
                                        Y/经济舱（100折）<br>
                                        <span class="price">￥850</span><br>
                                        <a href="javascript" class="more"><i class="arrow6">&nbsp;</i>查看更多舱位</a>
                                    </td>
                                    <td>
                                        >9 
                                    </td>
                                    <td>
                                        <u class="tgq">退改签</u>
                                    </td>
                                    <td>
                                        <span class="price red f14">
                                            6.0% 
                                        </span><br>
                                        <span class="price red f14">
                                            ￥51
                                        </span>
                                    </td>
                                    <td>
                                        <span class="price f16">
                                            ￥799 </span>
                                    </td>
                                    <td>
                                        <a href="#" class="button button4">预定</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% include '../partial/footer.html' %}
