{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-tjdd mo-ddxq">
            <div class="xblock xblock1">
                <p>
                <span>机票流程：</span>
                <span>选择航班</span>
                <i class="icon4">&nbsp;</i> 
                <span class="green">填写订单</span>
                <i class="icon4">&nbsp;</i> 
                <span>核对支付</span>
                <i class="icon4">&nbsp;</i> 
                <span>等待出票</span>
                <i class="icon4">&nbsp;</i> 
                <span>出票完成</span>
                </p>
            </div>

            <div class="block block1">
                <h3 class="gray-title">航班信息</h3>
                <table cellspacing="0" class="table-b2">
                    <tr class="thead">
                        <td>航空公司</td>
                        <td>航班号</td>
                        <td>机型</td>
                        <td>舱位</td>
                        <td>出发城市</td>
                        <td>到达城市</td>
                        <td>起飞时间</td>
                        <td>到达时间</td>
                        <td>票面价</td>
                        <td>机建</td>
                        <td>燃油</td>
                    </tr>
                    <tr>
                        <td>国际航空</td>
                        <td>CA111</td>
                        <td>213</td>
                        <td>经济舱</td>
                        <td>上海浦东PVG</td>
                        <td>上海浦东PVG</td>
                        <td>2012-01-01 12:00</td>
                        <td>2012-01-01 12:00</td>
                        <td class="redb">1050</td>
                        <td>50</td>
                        <td>100</td>
                    </tr>
                </table>
            </div>

            <div class="block block2">
                <div class="block-head">
                    <h3 class="gray-title">
                        选择政策 
                    </h3>
                    <div class="yeelo clearfix">
                        <div class="tabs">
                            <ul>
                                <li class="current">普通政策</li>
                                <li>特殊高返政策</li>
                            </ul>
                        </div>
                        <div class="text">
                            <i class="icon8">&nbsp;</i>
                            <span class="orange"> 小提示：建议您选择"[空闲]"状态政策出票，能使您的出票速度更快！
                            </span>
                        </div>
                    </div>
                </div>
                <div class="block-body">
                    <table cellspacing="0" class="table-b2">
                        <tr class="thead">
                            <td>选择</td>    
                            <td>适用政策</td>      
                            <td>返点</td>    
                            <td>代理费</td>    
                            <td>结算价</td>        
                            <td>出票时间</td>     
                            <td>退票时间</td>     
                            <td>废票时间</td>       
                            <td>出票效率</td>           
                            <td>出票类型</td>
                        </tr>
                        <tr class="data-row">
                            <td>
                                <input type="radio" class="radio" value="" name="" />
                            </td>
                            <td>政策[001]</td>      
                            <td class="brown">5%</td>       
                            <td>52.5</td>      
                            <td>997.5</td>        
                            <td>8:25-20:30</td>   
                            <td>20:25止</td>      
                            <td>21:25止</td>      
                            <td>4分46秒<span class="orange">[空闲]</span></td>      
                            <td>B2B</td>
                        </tr>
                        <tr class="meta-row">
                            <td colspan=10>
                                <p>
                                退改签规定：不得签转。出票日期、乘机日期3月1日起，航班起飞前2小时之前每次更改收20%改期费、退票扣50%，航班起飞前2小时之内及航班起飞后每次更改收20%改期费，退票扣50%。
                                </p>
                                <p>
                                政策备注：跨月改期或春运期间改期需收回代理费。 
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p align=right class="gdzc">
                    <span class="blue">
                        <i class="arrow6">&nbsp;</i>
                        查看更多政策
                    </span>
                    </p>
                </div>
            </div>

            <div class="block block4">
                <div class="block-head">
                    <h3 class="gray-title">
                        乘客信息 
                    </h3>
                </div>
                <div class="block-body">
                    <table cellspacing="0" class="table-b2">
                        <tr class="thead">
                            <td colspan=2>乘客姓名</td>  
                            <td>类型</td>   
                            <td>证件类型</td>  
                            <td>证件号码</td>              
                            <td>常旅客卡号</td>  
                            <td>出生日期</td>
                            <td>保险</td>
                            <td class="blue">选择常旅客</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>      
                            <td>
                           <select name="">
                          <option value="">成人</option>
                          <option value="">儿童</option>
                          <option value="">婴儿</option>
                           </select>
                            </td>     
                            <td>
                           <select name="">
                                <option value="">身份证</option>
                           </select>
                            </td>     
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>    
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>   
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>     
                            <td>
                                <select name="">
                                    <option value="">0</option>
                                </select>
                            </td>
                            <td>
                                <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                保存常旅客
                                </label>
                            </td>
                            <td>
                                删除 
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>      
                            <td>
                           <select name="">
                          <option value="">成人</option>
                          <option value="">儿童</option>
                          <option value="">婴儿</option>
                           </select>
                            </td>     
                            <td>
                           <select name="">
                                <option value="">身份证</option>
                           </select>
                            </td>     
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>    
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>   
                            <td>
                           <input type="text" class="text text9" value="" name="" />
                            </td>     
                            <td>
                                <select name="">
                                    <option value="">0</option>
                                </select>
                            </td>
                            <td>
                                <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                保存常旅客
                                </label>
                            </td>
                            <td>
                                删除 
                            </td>
                        </tr>
                    </table>
                    <p>
                        <input type="button" class="button add-passenger button1" value="新增" name="" />
                    </p>
                    <div class="table-insurance">
                    
                    <table cellspacing="0" class="">
                        <tr>
                            <th>选择保险：</th>
                            <td>
                                <select name="">
                                    <option value="">太平洋保险</option>
                                </select>
                            </td>
                            <th>
                                面价： 
                            </th>
                            <td>￥20/份</td>
                            <th>保险份数</th>
                            <td>2份</td>
                            <th>应付：</th>
                            <td class="red">￥40</td>
                        </tr>
                    </table>
                    </div>

                </div>
            </div>
            <div class="block dpr">
                    <table cellspacing="0">
                        <tr>
                            <th>订票人：</th>
                            <td>
                           <input type="text" class="text" value="" name="" />
                            </td>
                            <th>联系电话：</th>
                            <td>
                           <input type="text" class="text" value="" name="" />
                            </td>
                            <th>手机或其他：</th>
                            <td>
                           <input type="text" class="text" value="" name="" />
                            </td>
                        </tr>
                    </table>
            </div>

            <div class="block block5">
                <h3 class="gray-title">客户备注</h3>
                <p>
                <textarea name=""></textarea>
                </p>
            </div>

            <div class="block block6">
                <div class="block-head">
                    <h3 class="gray-title">
                        支付方式和金额
                    </h3>
                </div>
                <div class="block-body">
                    <table cellspacing="0" class="table-b2">
                        <tr class="thead">
                            <td>结算价</td>      	
                            <td>=票款合计</td>     	
                            <td>+税款合计</td>    	
                            <td>+保险合计</td>    	
                            <td>-佣金</td>     	
                            <td>+服务费</td>
                        </tr>
                        <tr>
                            <td class="f14 redb">
                                5570
                            </td>
                            <td>3132</td>
                            <td>31</td>
                            <td>50</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </table>
                    <table class="pay" cellspacing="0">
                        <tr>
                            <th>请选择支付方式：</th>
                            <td><label><input type="radio" class="radio" name="" value="" />余额支付</label></td>
                            <td><label><input type="radio" class="radio" name="" value="" />支付宝支付</label></td>		
                            <td><label><input type="radio" class="radio" name="" value="" />财付通支付</label></td>
                            <td><label><input type="radio" class="radio" name="" value="" />汇付天下支付</label></td>		
                            <td><label><input type="radio" class="radio" name="" value="" />网银支付</label></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="xblock xblock3">
                <div class="warn">
               <i class="icon8">&nbsp;</i>
               <span class="orange">
温馨提醒：通过本系统预定的PNR必须在本系统出票，并在生成订单3小时内支付出票，否则可能被航空公司取消位置。
               </span>
                </div>
                <div class="warn">
                    <i class="icon11">&nbsp;</i>
               <p>
               您当前选择的是<span class="red">普通政策</span>，此供应商工作时间为<span class="red">08:25-20:30</span>，如果您需要废票，请务必在21:25之前提交。给您带来不便，敬请谅解！
               </p>
                </div>
            </div>
            <div class="center">
                <label>
                <input type="checkbox" class="checkbox" checked value="" name="" />
                我已阅读并同意<a href="#" target="_blank" class="blue">《国内机票采购规则》</a>
                </label>
            </div>

            <div class="center">
                <input type="button" class="button button2" value="支付并申请出票" name="" />
                <input type="button" class="button button2" value="加入购物车" name="" />
                <input type="button" class="button button2" value="返回" name="" />
            </div>

        </div>
    </div>
</div>
