{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-ddxq">
                    <div class="block block1">
                        <h3 class="gray-title">工作时间维护</h3>
                        <p style="padding:10px 20px">
                            周一至周五
                            <select name="">
                                <option value=""></option>
                            </select>时
                            <select name="">
                                <option value=""></option>
                            </select>分
                            至
                            <select name="">
                                <option value=""></option>
                            </select>时
                            <select name="">
                                <option value=""></option>
                            </select>分
                        </p>
                        <p style="padding:10px 20px">
                            周六周日
                            <select name="">
                                <option value=""></option>
                            </select>时
                            <select name="">
                                <option value=""></option>
                            </select>分
                            至
                            <select name="">
                                <option value=""></option>
                            </select>时
                            <select name="">
                                <option value=""></option>
                            </select>分
                        </p>
                        <p style="padding:10px 20px">
                            法定节假日
                            <select name="">
                                <option value=""></option>
                            </select>时
                            <select name="">
                                <option value=""></option>
                            </select>分
                            至
                            <select name="">
                                <option value=""></option>
                            </select>时
                            <select name="">
                                <option value=""></option>
                            </select>分
                        </p>
                        <p align=right>
                            <input type="button" class="button button2" value="修改" name="" />
                        </p>
                    </div>

                    <div class="block block2">
                        <h3 class="gray-title">废票时间维护</h3>
                        <p style="padding:20px">
                            当前废票时间
                            <select name="">
                                <option value=""></option>
                            </select>时
                            <select name="">
                                <option value=""></option>
                            </select>分
                        </p>
                        <p align=right>
                            <input type="button" class="button button2" value="修改" name="" />
                        </p>
                    </div>

                    <div class="block block3">
                        <h3 class="gray-title">
                            开票费设置
                        </h3>
                        <p style="padding:20px">
                            当前开票费 0元 
                        </p>
                        <p align=right>
                            <input type="button" class="button button2" value="修改" name="" />
                        </p>
                    </div>

                    <div class="block block4">
                        <h3 class="gray-title">废票费设置</h3>
                        <p style="padding:20px">
                            当前开票费 0元 
                        </p>
                        <p align=right>
                            <input type="button" class="button button2" value="修改" name="" />
                        </p>
                    </div>

                        


        </div>

    </div>
</div>




{% include '../partial/footer.html' %}
