{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-ptzc mo-xxzc">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">
                        系统政策 
                    </h3>
                </div>
                <div class="block-body">
                    <table frame=void cellspacing="0" class="table-b4">
                        <tr>
                            <th>航空公司</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                            <th>舱位</th>
                            <td>
                                <select name="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <th>航班日期</th>
                            <td>
                                <input type="text" class="text datepicker" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>起飞地</th>
                            <td>
                                <select name="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <th>目的地</th>
                            <td>
                                <select name="">
                                    <option value="">不限</option>
                                </select>
                            </td>
                            <th>舱位等级</th>
                            <td>
                                <label>
                                    <input type="checkbox" class="checkbox" value="" name="" />
                                    单程
                                </label>
                                <label>
                                    <input type="checkbox" class="checkbox" value="" name="" />
                                    往返
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>关键词</th>
                            <td colspan=5>
                                <input type="text" class="text" value="" name="" />
                                （可输入XXXXXXXX）
                            </td>
                        </tr>
                    </table>
                    <p class="center">
                        <input type="button" class="button button2" value="搜索" name="" />
                    </p>
                </div>
            </div>

            <div class="block block2">
                <div class="block-body">
                    <table frame="void" cellspacing="0" class="table-b2">
                        <tr class="thead">
                            <td>政策编号</td>
                            <td>政策返点类型</td>
                            <td>航班号</td>
                            <td>航线</td>
                            <td>舱位</td>
                            <td>代理费</td>
                            <td>奖励扣率</td>
                            <td>奖励金额</td>
                            <td>政策有效期</td>
                            <td>出票有效期</td>
                            <td>备注</td>
                        </tr>
                        {% for x in range(10) %}
                        {% if x%2==0 %}
                        <tr class="odd">
                        {% else  %}
                        <tr class="even">
                        {% end %}
                            <td><a href="javascript:;" data-lightboxid="CKZC" class="show-lightbox" data-num="323122">32132132</a></td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="blue">xxxxxxxx</td>
                        </tr>
                        {% end %}
                    </table>
                </div>
            
            </div>
                    {% include 'partial/pagination.html' %}

        </div>

    </div>
</div>

<div class="lightbox lightbox-1 lightbox-ckzc" data-lightboxid="CKZC">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content">
                    <i class="close" rel="close">×</i> 
    <div class="lightbox-head">
        <h3>政策查看</h3>
    </div>
    <div class="lightbox-body">
        <table cellspacing="0" class="lightblue-bg table1">
            <tr>
                <th>航空公司：MU</td>
                <th>始发城市：上海</td>
                <th>去程航班限制：fff/sss/fs</td>
            </tr>
            <tr>
                <th>舱位：全部</td>
                <th>目的城市：xx</td>
                <th>回程航班限制：fff/sss/fs</td>
            </tr>
        </table>
        <table cellspacing="0" class="table2">
            <tr>
                <th>政策返点类型</th>
                <td>国内直飞</td>
                <th>授权号1</th>
                <td>xxx</td>
            </tr>
            <tr>
                <th>政策类型</th>
                <td>xx</td>
                <th>授权号2</th>
                <td>xxx</td>
            </tr>
            <tr>
                <th>基本代理费</th>
                <td></td>
                <th>类别</th>
                <td>xxx</td>
            </tr>
            <tr>
                <th>奖励扣率</th>
                <td></td>
                <th>作废</th>
                <td></td>
            </tr>
            <tr>
                <th>奖励金额</th>
                <td></td>
                <th>儿童票</th>
                <td></td>
            </tr>
            <tr>
                <th>开票费</th>
                <td></td>
                <th>婴儿票</th>
                <td></td>
            </tr>
            <tr>
                <th>政策有效期</th>
                <td></td>
                <th>共享航班</th>
                <td></td>
            </tr>
            <tr>
                <th>开票有效期</th>
                <td></td>
                <th>PNR</th>
                <td></td>
            </tr>
            <tr>
                <th>回程奖励政策沿用至</th>
                <td></td>
                <th>返点不适用</th>
                <td></td>
            </tr>
            <tr>
                <th>平时开票时间</th>
                <td></td>
                <th>双休日开票时间</th>
                <td></td>
            </tr>
            <tr>
                <th>其他说明</th>
                <td colspan=3></td>
            </tr>
            <tr>
                <th>政策来源</th>
                <td colspan=3></td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan=3></td>
            </tr>
        </table>
        <p class="center">
            <input type="button" class="button button1" value="关闭" name="" rel="close" />
        </p>
    </div>
                </div>
            
            </td>
        </tr>
    </table>
</div>
{% include '../partial/footer.html' %}
