<div class="wangfan-ajax-wrapper">
<div class="wangfan-ajax-info">
        <span>
            <b class="blue">
                经济 
            </b>
        </span>
        <span>
            >2 
        </span>
        <span class="btn">
            <input type="button" class="button button1" value="预订" name="" />
        </span>

    </div>
    <div class="wangfan-ajax-info">
        <span>
            <b class="blue">
                经济 
            </b>
        </span>
        <span>
            >2 
        </span>
        <span class="btn">
            <input type="button" class="button button1" value="预订" name="" />
        </span>

    </div>

</div>
