body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:44px;
    top:182px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_line {
    background-image: url('../状态图_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u1 {
    position:absolute;
    left:119px;
    top:190px;
    width:40px;
    height:10px;
    
}

.u2_normal {
    background-image: url('../状态图_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:44px;
    top:30px;
    width:150px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:302px;
    top:85px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:166px;
    top:90px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:166px;
    top:182px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:166px;
    top:279px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:166px;
    top:383px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_line {
    background-image: url('../状态图_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u9 {
    position:absolute;
    left:246px;
    top:97px;
    width:40px;
    height:10px;
    
}

.u10_line {
    background-image: url('../状态图_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u10 {
    position:absolute;
    left:246px;
    top:190px;
    width:40px;
    height:10px;
    
}

.u11_line {
    background-image: url('../状态图_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u11 {
    position:absolute;
    left:246px;
    top:286px;
    width:40px;
    height:10px;
    
}

.u12_line {
    background-image: url('../状态图_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u12 {
    position:absolute;
    left:246px;
    top:391px;
    width:40px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:431px;
    top:85px;
    width:93px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:302px;
    top:184px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:302px;
    top:282px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:302px;
    top:385px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:311px;
    top:60px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_line {
    background-image: url('../状态图_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u18 {
    position:absolute;
    left:382px;
    top:96px;
    width:40px;
    height:10px;
    
}

.u19_line {
    background-image: url('../状态图_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u19 {
    position:absolute;
    left:382px;
    top:189px;
    width:40px;
    height:10px;
    
}

.u20_line {
    background-image: url('../状态图_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u20 {
    position:absolute;
    left:382px;
    top:285px;
    width:40px;
    height:10px;
    
}

.u21_line {
    background-image: url('../状态图_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u21 {
    position:absolute;
    left:382px;
    top:390px;
    width:40px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:444px;
    top:186px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:444px;
    top:282px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:444px;
    top:385px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25_line {
    background-image: url('../状态图_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u25 {
    position:absolute;
    left:524px;
    top:189px;
    width:40px;
    height:10px;
    
}

.u26_line {
    background-image: url('../状态图_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u26 {
    position:absolute;
    left:524px;
    top:285px;
    width:40px;
    height:10px;
    
}

.u27_line {
    background-image: url('../状态图_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u27 {
    position:absolute;
    left:524px;
    top:390px;
    width:40px;
    height:10px;
    
}

.u28 {
    position:absolute;
    left:574px;
    top:185px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:574px;
    top:281px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:574px;
    top:385px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_line {
    background-image: url('../状态图_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u31 {
    position:absolute;
    left:654px;
    top:189px;
    width:40px;
    height:10px;
    
}

.u32_line {
    background-image: url('../状态图_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u32 {
    position:absolute;
    left:654px;
    top:285px;
    width:40px;
    height:10px;
    
}

.u33_line {
    background-image: url('../状态图_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u33 {
    position:absolute;
    left:654px;
    top:390px;
    width:40px;
    height:10px;
    
}

.u34 {
    position:absolute;
    left:453px;
    top:60px;
    width:52px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:431px;
    top:110px;
    width:93px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:582px;
    top:62px;
    width:52px;
    height:23px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:574px;
    top:86px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_line {
    background-image: url('../状态图_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u38 {
    position:absolute;
    left:529px;
    top:92px;
    width:40px;
    height:10px;
    
}

.u39_line {
    background-image: url('../状态图_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u39 {
    position:absolute;
    left:659px;
    top:90px;
    width:40px;
    height:10px;
    
}

.u40 {
    position:absolute;
    left:707px;
    top:84px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:707px;
    top:182px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42_line {
    background-image: url('../状态图_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u42 {
    position:absolute;
    left:787px;
    top:89px;
    width:40px;
    height:10px;
    
}

.u43_line {
    background-image: url('../状态图_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u43 {
    position:absolute;
    left:787px;
    top:185px;
    width:40px;
    height:10px;
    
}

.u44 {
    position:absolute;
    left:849px;
    top:86px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:849px;
    top:182px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46_line {
    background-image: url('../状态图_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u46 {
    position:absolute;
    left:929px;
    top:89px;
    width:40px;
    height:10px;
    
}

.u47_line {
    background-image: url('../状态图_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u47 {
    position:absolute;
    left:929px;
    top:185px;
    width:40px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:979px;
    top:85px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:979px;
    top:181px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_line {
    background-image: url('../状态图_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u50 {
    position:absolute;
    left:1059px;
    top:89px;
    width:40px;
    height:10px;
    
}

.u51_line {
    background-image: url('../状态图_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u51 {
    position:absolute;
    left:1059px;
    top:185px;
    width:40px;
    height:10px;
    
}

.u52 {
    position:absolute;
    left:704px;
    top:281px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:704px;
    top:379px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54_line {
    background-image: url('../状态图_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u54 {
    position:absolute;
    left:784px;
    top:286px;
    width:40px;
    height:10px;
    
}

.u55_line {
    background-image: url('../状态图_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u55 {
    position:absolute;
    left:784px;
    top:382px;
    width:40px;
    height:10px;
    
}

.u56 {
    position:absolute;
    left:846px;
    top:283px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:846px;
    top:379px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58_line {
    background-image: url('../状态图_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u58 {
    position:absolute;
    left:926px;
    top:286px;
    width:40px;
    height:10px;
    
}

.u59_line {
    background-image: url('../状态图_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u59 {
    position:absolute;
    left:926px;
    top:382px;
    width:40px;
    height:10px;
    
}

.u60 {
    position:absolute;
    left:976px;
    top:282px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:976px;
    top:378px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62_line {
    background-image: url('../状态图_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u62 {
    position:absolute;
    left:1056px;
    top:286px;
    width:40px;
    height:10px;
    
}

.u63_line {
    background-image: url('../状态图_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:40px;
    height:3px;
}

.u63 {
    position:absolute;
    left:1056px;
    top:382px;
    width:40px;
    height:10px;
    
}

.u64_normal {
    background-image: url('../状态图_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:14px;
    top:10px;
    width:1126px;
    height:480px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1132px;
    height:486px;
}

.u65 {
    position:absolute;
    left:2px;
    top:232px;
    width:1122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../状态图_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:14px;
    top:379px;
    width:755px;
    height:329px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:755px;
    height:329px;
}

.u67 {
    position:absolute;
    left:2px;
    top:156px;
    width:751px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:270px;
    top:25px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../状态图_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:14px;
    top:42px;
    width:754px;
    height:306px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:754px;
    height:306px;
}

.u70 {
    position:absolute;
    left:2px;
    top:145px;
    width:750px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

