body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../供应商报价_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:25px;
    top:804px;
    width:826px;
    height:193px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:826px;
    height:193px;
}

.u1 {
    position:absolute;
    left:2px;
    top:88px;
    width:822px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:25px;
    top:804px;
    width:826px;
    height:193px
}

#u2 {
    position:absolute;
    left:8px;
    top:9px;
    width:943px;
    height:783px
}

.u2_table {
    background-image: url('../供应商报价_files/u2_table.png');
}

.u2_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:947px;
    height:787px;
}

.u3_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:23px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:23px
}

.u5_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:80px;
    top:0px;
    width:100px;
    height:23px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:80px;
    top:0px;
    width:100px;
    height:23px
}

.u7_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:180px;
    top:0px;
    width:558px;
    height:23px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:180px;
    top:0px;
    width:558px;
    height:23px
}

.u9_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u9_container {
    position:absolute;
    left:738px;
    top:0px;
    width:100px;
    height:23px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:738px;
    top:0px;
    width:100px;
    height:23px
}

.u11_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u11_container {
    position:absolute;
    left:838px;
    top:0px;
    width:100px;
    height:23px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:838px;
    top:0px;
    width:100px;
    height:23px
}

.u13_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:23px;
    width:80px;
    height:23px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:0px;
    top:23px;
    width:80px;
    height:23px
}

.u15_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u15_container {
    position:absolute;
    left:80px;
    top:23px;
    width:100px;
    height:23px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:80px;
    top:23px;
    width:100px;
    height:23px
}

.u17_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u17_container {
    position:absolute;
    left:180px;
    top:23px;
    width:558px;
    height:23px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:180px;
    top:23px;
    width:558px;
    height:23px
}

.u19_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u19_container {
    position:absolute;
    left:738px;
    top:23px;
    width:100px;
    height:23px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:738px;
    top:23px;
    width:100px;
    height:23px
}

.u21_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u21_container {
    position:absolute;
    left:838px;
    top:23px;
    width:100px;
    height:23px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:838px;
    top:23px;
    width:100px;
    height:23px
}

.u23_original {
    background-image: url('../供应商报价_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:46px;
    width:80px;
    height:156px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:46px;
    width:80px;
    height:156px
}

.u25_original {
    background-image: url('../供应商报价_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:80px;
    top:46px;
    width:100px;
    height:156px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:80px;
    top:46px;
    width:100px;
    height:156px
}

.u27_original {
    background-image: url('../供应商报价_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:180px;
    top:46px;
    width:558px;
    height:156px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:152px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:180px;
    top:46px;
    width:558px;
    height:156px
}

.u29_original {
    background-image: url('../供应商报价_files/u25_original.png');
}

.u29_container {
    position:absolute;
    left:738px;
    top:46px;
    width:100px;
    height:156px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:738px;
    top:46px;
    width:100px;
    height:156px
}

.u31_original {
    background-image: url('../供应商报价_files/u25_original.png');
}

.u31_container {
    position:absolute;
    left:838px;
    top:46px;
    width:100px;
    height:156px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:838px;
    top:46px;
    width:100px;
    height:156px
}

.u33_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:202px;
    width:80px;
    height:23px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:0px;
    top:202px;
    width:80px;
    height:23px
}

.u35_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u35_container {
    position:absolute;
    left:80px;
    top:202px;
    width:100px;
    height:23px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:80px;
    top:202px;
    width:100px;
    height:23px
}

.u37_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u37_container {
    position:absolute;
    left:180px;
    top:202px;
    width:558px;
    height:23px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:180px;
    top:202px;
    width:558px;
    height:23px
}

.u39_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u39_container {
    position:absolute;
    left:738px;
    top:202px;
    width:100px;
    height:23px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:738px;
    top:202px;
    width:100px;
    height:23px
}

.u41_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u41_container {
    position:absolute;
    left:838px;
    top:202px;
    width:100px;
    height:23px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:838px;
    top:202px;
    width:100px;
    height:23px
}

.u43_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:225px;
    width:80px;
    height:23px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:0px;
    top:225px;
    width:80px;
    height:23px
}

.u45_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u45_container {
    position:absolute;
    left:80px;
    top:225px;
    width:100px;
    height:23px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:80px;
    top:225px;
    width:100px;
    height:23px
}

.u47_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u47_container {
    position:absolute;
    left:180px;
    top:225px;
    width:558px;
    height:23px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:180px;
    top:225px;
    width:558px;
    height:23px
}

.u49_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u49_container {
    position:absolute;
    left:738px;
    top:225px;
    width:100px;
    height:23px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:738px;
    top:225px;
    width:100px;
    height:23px
}

.u51_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u51_container {
    position:absolute;
    left:838px;
    top:225px;
    width:100px;
    height:23px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:838px;
    top:225px;
    width:100px;
    height:23px
}

.u53_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:248px;
    width:80px;
    height:23px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:0px;
    top:248px;
    width:80px;
    height:23px
}

.u55_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u55_container {
    position:absolute;
    left:80px;
    top:248px;
    width:100px;
    height:23px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:80px;
    top:248px;
    width:100px;
    height:23px
}

.u57_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u57_container {
    position:absolute;
    left:180px;
    top:248px;
    width:558px;
    height:23px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:180px;
    top:248px;
    width:558px;
    height:23px
}

.u59_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u59_container {
    position:absolute;
    left:738px;
    top:248px;
    width:100px;
    height:23px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:738px;
    top:248px;
    width:100px;
    height:23px
}

.u61_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u61_container {
    position:absolute;
    left:838px;
    top:248px;
    width:100px;
    height:23px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:838px;
    top:248px;
    width:100px;
    height:23px
}

.u63_original {
    background-image: url('../供应商报价_files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:271px;
    width:80px;
    height:42px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:0px;
    top:271px;
    width:80px;
    height:42px
}

.u65_original {
    background-image: url('../供应商报价_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:80px;
    top:271px;
    width:100px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:80px;
    top:271px;
    width:100px;
    height:42px
}

.u67_original {
    background-image: url('../供应商报价_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:180px;
    top:271px;
    width:558px;
    height:42px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:180px;
    top:271px;
    width:558px;
    height:42px
}

.u69_original {
    background-image: url('../供应商报价_files/u65_original.png');
}

.u69_container {
    position:absolute;
    left:738px;
    top:271px;
    width:100px;
    height:42px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:738px;
    top:271px;
    width:100px;
    height:42px
}

.u71_original {
    background-image: url('../供应商报价_files/u65_original.png');
}

.u71_container {
    position:absolute;
    left:838px;
    top:271px;
    width:100px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:838px;
    top:271px;
    width:100px;
    height:42px
}

.u73_original {
    background-image: url('../供应商报价_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:313px;
    width:80px;
    height:61px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:0px;
    top:313px;
    width:80px;
    height:61px
}

.u75_original {
    background-image: url('../供应商报价_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:80px;
    top:313px;
    width:100px;
    height:61px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:80px;
    top:313px;
    width:100px;
    height:61px
}

.u77_original {
    background-image: url('../供应商报价_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:180px;
    top:313px;
    width:558px;
    height:61px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:180px;
    top:313px;
    width:558px;
    height:61px
}

.u79_original {
    background-image: url('../供应商报价_files/u75_original.png');
}

.u79_container {
    position:absolute;
    left:738px;
    top:313px;
    width:100px;
    height:61px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:738px;
    top:313px;
    width:100px;
    height:61px
}

.u81_original {
    background-image: url('../供应商报价_files/u75_original.png');
}

.u81_container {
    position:absolute;
    left:838px;
    top:313px;
    width:100px;
    height:61px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:838px;
    top:313px;
    width:100px;
    height:61px
}

.u83_original {
    background-image: url('../供应商报价_files/u73_original.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:374px;
    width:80px;
    height:61px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:0px;
    top:374px;
    width:80px;
    height:61px
}

.u85_original {
    background-image: url('../供应商报价_files/u75_original.png');
}

.u85_container {
    position:absolute;
    left:80px;
    top:374px;
    width:100px;
    height:61px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:80px;
    top:374px;
    width:100px;
    height:61px
}

.u87_original {
    background-image: url('../供应商报价_files/u77_original.png');
}

.u87_container {
    position:absolute;
    left:180px;
    top:374px;
    width:558px;
    height:61px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:180px;
    top:374px;
    width:558px;
    height:61px
}

.u89_original {
    background-image: url('../供应商报价_files/u75_original.png');
}

.u89_container {
    position:absolute;
    left:738px;
    top:374px;
    width:100px;
    height:61px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:738px;
    top:374px;
    width:100px;
    height:61px
}

.u91_original {
    background-image: url('../供应商报价_files/u75_original.png');
}

.u91_container {
    position:absolute;
    left:838px;
    top:374px;
    width:100px;
    height:61px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:838px;
    top:374px;
    width:100px;
    height:61px
}

.u93_original {
    background-image: url('../供应商报价_files/u93_original.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:435px;
    width:80px;
    height:232px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:0px;
    top:435px;
    width:80px;
    height:232px
}

.u95_original {
    background-image: url('../供应商报价_files/u95_original.png');
}

.u95_container {
    position:absolute;
    left:80px;
    top:435px;
    width:100px;
    height:232px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:80px;
    top:435px;
    width:100px;
    height:232px
}

.u97_original {
    background-image: url('../供应商报价_files/u97_original.png');
}

.u97_container {
    position:absolute;
    left:180px;
    top:435px;
    width:558px;
    height:232px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:228px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:180px;
    top:435px;
    width:558px;
    height:232px
}

.u99_original {
    background-image: url('../供应商报价_files/u95_original.png');
}

.u99_container {
    position:absolute;
    left:738px;
    top:435px;
    width:100px;
    height:232px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:738px;
    top:435px;
    width:100px;
    height:232px
}

.u101_original {
    background-image: url('../供应商报价_files/u95_original.png');
}

.u101_container {
    position:absolute;
    left:838px;
    top:435px;
    width:100px;
    height:232px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:838px;
    top:435px;
    width:100px;
    height:232px
}

.u103_original {
    background-image: url('../供应商报价_files/u63_original.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:667px;
    width:80px;
    height:42px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:0px;
    top:667px;
    width:80px;
    height:42px
}

.u105_original {
    background-image: url('../供应商报价_files/u65_original.png');
}

.u105_container {
    position:absolute;
    left:80px;
    top:667px;
    width:100px;
    height:42px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:80px;
    top:667px;
    width:100px;
    height:42px
}

.u107_original {
    background-image: url('../供应商报价_files/u67_original.png');
}

.u107_container {
    position:absolute;
    left:180px;
    top:667px;
    width:558px;
    height:42px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:180px;
    top:667px;
    width:558px;
    height:42px
}

.u109_original {
    background-image: url('../供应商报价_files/u65_original.png');
}

.u109_container {
    position:absolute;
    left:738px;
    top:667px;
    width:100px;
    height:42px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:738px;
    top:667px;
    width:100px;
    height:42px
}

.u111_original {
    background-image: url('../供应商报价_files/u65_original.png');
}

.u111_container {
    position:absolute;
    left:838px;
    top:667px;
    width:100px;
    height:42px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:838px;
    top:667px;
    width:100px;
    height:42px
}

.u113_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:709px;
    width:80px;
    height:23px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:0px;
    top:709px;
    width:80px;
    height:23px
}

.u115_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u115_container {
    position:absolute;
    left:80px;
    top:709px;
    width:100px;
    height:23px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:80px;
    top:709px;
    width:100px;
    height:23px
}

.u117_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u117_container {
    position:absolute;
    left:180px;
    top:709px;
    width:558px;
    height:23px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:180px;
    top:709px;
    width:558px;
    height:23px
}

.u119_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u119_container {
    position:absolute;
    left:738px;
    top:709px;
    width:100px;
    height:23px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:738px;
    top:709px;
    width:100px;
    height:23px
}

.u121_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u121_container {
    position:absolute;
    left:838px;
    top:709px;
    width:100px;
    height:23px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:838px;
    top:709px;
    width:100px;
    height:23px
}

.u123_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u123_container {
    position:absolute;
    left:0px;
    top:732px;
    width:80px;
    height:23px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:0px;
    top:732px;
    width:80px;
    height:23px
}

.u125_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u125_container {
    position:absolute;
    left:80px;
    top:732px;
    width:100px;
    height:23px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:80px;
    top:732px;
    width:100px;
    height:23px
}

.u127_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u127_container {
    position:absolute;
    left:180px;
    top:732px;
    width:558px;
    height:23px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:180px;
    top:732px;
    width:558px;
    height:23px
}

.u129_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u129_container {
    position:absolute;
    left:738px;
    top:732px;
    width:100px;
    height:23px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:738px;
    top:732px;
    width:100px;
    height:23px
}

.u131_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u131_container {
    position:absolute;
    left:838px;
    top:732px;
    width:100px;
    height:23px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:838px;
    top:732px;
    width:100px;
    height:23px
}

.u133_original {
    background-image: url('../供应商报价_files/u3_original.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:755px;
    width:80px;
    height:23px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:0px;
    top:755px;
    width:80px;
    height:23px
}

.u135_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u135_container {
    position:absolute;
    left:80px;
    top:755px;
    width:100px;
    height:23px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:80px;
    top:755px;
    width:100px;
    height:23px
}

.u137_original {
    background-image: url('../供应商报价_files/u7_original.png');
}

.u137_container {
    position:absolute;
    left:180px;
    top:755px;
    width:558px;
    height:23px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:554px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:180px;
    top:755px;
    width:558px;
    height:23px
}

.u139_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u139_container {
    position:absolute;
    left:738px;
    top:755px;
    width:100px;
    height:23px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:738px;
    top:755px;
    width:100px;
    height:23px
}

.u141_original {
    background-image: url('../供应商报价_files/u5_original.png');
}

.u141_container {
    position:absolute;
    left:838px;
    top:755px;
    width:100px;
    height:23px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:838px;
    top:755px;
    width:100px;
    height:23px
}

