body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../订单详情-出票_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1010px;
    height:1880px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1016px;
    height:1886px;
}

.u1 {
    position:absolute;
    left:2px;
    top:932px;
    width:1006px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1010px;
    height:1880px
}

.u2_original {
    background-image: url('../订单详情-出票_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:951px;
    height:249px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:951px;
    height:249px;
}

.u3 {
    position:absolute;
    left:2px;
    top:116px;
    width:947px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:11px;
    top:11px;
    width:951px;
    height:249px
}

.u4_original {
    background-image: url('../订单详情-出票_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:11px;
    top:260px;
    width:77px;
    height:52px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:77px;
    height:52px;
}

.u5 {
    position:absolute;
    left:2px;
    top:18px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:11px;
    top:260px;
    width:77px;
    height:52px
}

.u6_original {
    background-image: url('../订单详情-出票_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:138px;
    top:260px;
    width:874px;
    height:52px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:874px;
    height:52px;
}

.u7 {
    position:absolute;
    left:2px;
    top:18px;
    width:870px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:138px;
    top:260px;
    width:874px;
    height:52px
}

.u8_original {
    background-image: url('../订单详情-出票_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:11px;
    top:312px;
    width:951px;
    height:369px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:951px;
    height:369px;
}

.u9 {
    position:absolute;
    left:2px;
    top:176px;
    width:947px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:11px;
    top:312px;
    width:951px;
    height:369px
}

.u10_original {
    background-image: url('../订单详情-出票_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:13px;
    top:655px;
    width:951px;
    height:193px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:951px;
    height:193px;
}

.u11 {
    position:absolute;
    left:2px;
    top:88px;
    width:947px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:13px;
    top:655px;
    width:951px;
    height:193px
}

.u12_original {
    background-image: url('../订单详情-出票_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:11px;
    top:811px;
    width:951px;
    height:61px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:951px;
    height:61px;
}

.u13 {
    position:absolute;
    left:2px;
    top:22px;
    width:947px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:11px;
    top:811px;
    width:951px;
    height:61px
}

#u14 {
    position:absolute;
    left:20px;
    top:859px;
    width:973px;
    height:1112px
}

.u14_table {
    background-image: url('../订单详情-出票_files/u14_table.png');
}

.u14_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:977px;
    height:1116px;
}

.u15_original {
    background-image: url('../订单详情-出票_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px
}

.u17_original {
    background-image: url('../订单详情-出票_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px
}

.u19_original {
    background-image: url('../订单详情-出票_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px
}

.u21_original {
    background-image: url('../订单详情-出票_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:584px;
    top:0px;
    width:384px;
    height:25px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:584px;
    top:0px;
    width:384px;
    height:25px
}

.u23_original {
    background-image: url('../订单详情-出票_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:65px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:65px
}

.u25_original {
    background-image: url('../订单详情-出票_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:65px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:65px
}

.u27_original {
    background-image: url('../订单详情-出票_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:65px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:65px
}

.u29_original {
    background-image: url('../订单详情-出票_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:584px;
    top:25px;
    width:384px;
    height:65px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:61px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:584px;
    top:25px;
    width:384px;
    height:65px
}

.u31_original {
    background-image: url('../订单详情-出票_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:90px;
    width:100px;
    height:80px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:0px;
    top:90px;
    width:100px;
    height:80px
}

.u33_original {
    background-image: url('../订单详情-出票_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:100px;
    top:90px;
    width:200px;
    height:80px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:100px;
    top:90px;
    width:200px;
    height:80px
}

.u35_original {
    background-image: url('../订单详情-出票_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:300px;
    top:90px;
    width:284px;
    height:80px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:300px;
    top:90px;
    width:284px;
    height:80px
}

.u37_original {
    background-image: url('../订单详情-出票_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:584px;
    top:90px;
    width:384px;
    height:80px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:584px;
    top:90px;
    width:384px;
    height:80px
}

.u39_original {
    background-image: url('../订单详情-出票_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:170px;
    width:100px;
    height:365px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:0px;
    top:170px;
    width:100px;
    height:365px
}

.u41_original {
    background-image: url('../订单详情-出票_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:100px;
    top:170px;
    width:200px;
    height:365px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:114px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:100px;
    top:170px;
    width:200px;
    height:365px
}

.u43_original {
    background-image: url('../订单详情-出票_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:300px;
    top:170px;
    width:284px;
    height:365px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:300px;
    top:170px;
    width:284px;
    height:365px
}

.u45_original {
    background-image: url('../订单详情-出票_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:584px;
    top:170px;
    width:384px;
    height:365px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:361px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:584px;
    top:170px;
    width:384px;
    height:365px
}

.u47_original {
    background-image: url('../订单详情-出票_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:535px;
    width:100px;
    height:194px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:0px;
    top:535px;
    width:100px;
    height:194px
}

.u49_original {
    background-image: url('../订单详情-出票_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:100px;
    top:535px;
    width:200px;
    height:194px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:190px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:100px;
    top:535px;
    width:200px;
    height:194px
}

.u51_original {
    background-image: url('../订单详情-出票_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:300px;
    top:535px;
    width:284px;
    height:194px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:300px;
    top:535px;
    width:284px;
    height:194px
}

.u53_original {
    background-image: url('../订单详情-出票_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:584px;
    top:535px;
    width:384px;
    height:194px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:133px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:584px;
    top:535px;
    width:384px;
    height:194px
}

.u55_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:729px;
    width:100px;
    height:23px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:0px;
    top:729px;
    width:100px;
    height:23px
}

.u57_original {
    background-image: url('../订单详情-出票_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:100px;
    top:729px;
    width:200px;
    height:23px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:100px;
    top:729px;
    width:200px;
    height:23px
}

.u59_original {
    background-image: url('../订单详情-出票_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:300px;
    top:729px;
    width:284px;
    height:23px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:300px;
    top:729px;
    width:284px;
    height:23px
}

.u61_original {
    background-image: url('../订单详情-出票_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:584px;
    top:729px;
    width:384px;
    height:23px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:584px;
    top:729px;
    width:384px;
    height:23px
}

.u63_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:752px;
    width:100px;
    height:23px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:0px;
    top:752px;
    width:100px;
    height:23px
}

.u65_original {
    background-image: url('../订单详情-出票_files/u57_original.png');
}

.u65_container {
    position:absolute;
    left:100px;
    top:752px;
    width:200px;
    height:23px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:100px;
    top:752px;
    width:200px;
    height:23px
}

.u67_original {
    background-image: url('../订单详情-出票_files/u59_original.png');
}

.u67_container {
    position:absolute;
    left:300px;
    top:752px;
    width:284px;
    height:23px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:300px;
    top:752px;
    width:284px;
    height:23px
}

.u69_original {
    background-image: url('../订单详情-出票_files/u61_original.png');
}

.u69_container {
    position:absolute;
    left:584px;
    top:752px;
    width:384px;
    height:23px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:584px;
    top:752px;
    width:384px;
    height:23px
}

.u71_original {
    background-image: url('../订单详情-出票_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:775px;
    width:100px;
    height:118px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:0px;
    top:775px;
    width:100px;
    height:118px
}

.u73_original {
    background-image: url('../订单详情-出票_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:100px;
    top:775px;
    width:200px;
    height:118px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:100px;
    top:775px;
    width:200px;
    height:118px
}

.u75_original {
    background-image: url('../订单详情-出票_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:300px;
    top:775px;
    width:284px;
    height:118px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:300px;
    top:775px;
    width:284px;
    height:118px
}

.u77_original {
    background-image: url('../订单详情-出票_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:584px;
    top:775px;
    width:384px;
    height:118px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:114px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:584px;
    top:775px;
    width:384px;
    height:118px
}

.u79_original {
    background-image: url('../订单详情-出票_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:893px;
    width:100px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:0px;
    top:893px;
    width:100px;
    height:42px
}

.u81_original {
    background-image: url('../订单详情-出票_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:100px;
    top:893px;
    width:200px;
    height:42px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:100px;
    top:893px;
    width:200px;
    height:42px
}

.u83_original {
    background-image: url('../订单详情-出票_files/u83_original.png');
}

.u83_container {
    position:absolute;
    left:300px;
    top:893px;
    width:284px;
    height:42px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:300px;
    top:893px;
    width:284px;
    height:42px
}

.u85_original {
    background-image: url('../订单详情-出票_files/u85_original.png');
}

.u85_container {
    position:absolute;
    left:584px;
    top:893px;
    width:384px;
    height:42px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:584px;
    top:893px;
    width:384px;
    height:42px
}

.u87_original {
    background-image: url('../订单详情-出票_files/u79_original.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:935px;
    width:100px;
    height:42px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:0px;
    top:935px;
    width:100px;
    height:42px
}

.u89_original {
    background-image: url('../订单详情-出票_files/u81_original.png');
}

.u89_container {
    position:absolute;
    left:100px;
    top:935px;
    width:200px;
    height:42px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:100px;
    top:935px;
    width:200px;
    height:42px
}

.u91_original {
    background-image: url('../订单详情-出票_files/u83_original.png');
}

.u91_container {
    position:absolute;
    left:300px;
    top:935px;
    width:284px;
    height:42px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:300px;
    top:935px;
    width:284px;
    height:42px
}

.u93_original {
    background-image: url('../订单详情-出票_files/u85_original.png');
}

.u93_container {
    position:absolute;
    left:584px;
    top:935px;
    width:384px;
    height:42px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:584px;
    top:935px;
    width:384px;
    height:42px
}

.u95_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:977px;
    width:100px;
    height:23px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:0px;
    top:977px;
    width:100px;
    height:23px
}

.u97_original {
    background-image: url('../订单详情-出票_files/u57_original.png');
}

.u97_container {
    position:absolute;
    left:100px;
    top:977px;
    width:200px;
    height:23px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:100px;
    top:977px;
    width:200px;
    height:23px
}

.u99_original {
    background-image: url('../订单详情-出票_files/u59_original.png');
}

.u99_container {
    position:absolute;
    left:300px;
    top:977px;
    width:284px;
    height:23px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:300px;
    top:977px;
    width:284px;
    height:23px
}

.u101_original {
    background-image: url('../订单详情-出票_files/u61_original.png');
}

.u101_container {
    position:absolute;
    left:584px;
    top:977px;
    width:384px;
    height:23px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:584px;
    top:977px;
    width:384px;
    height:23px
}

.u103_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:1000px;
    width:100px;
    height:23px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:0px;
    top:1000px;
    width:100px;
    height:23px
}

.u105_original {
    background-image: url('../订单详情-出票_files/u57_original.png');
}

.u105_container {
    position:absolute;
    left:100px;
    top:1000px;
    width:200px;
    height:23px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:100px;
    top:1000px;
    width:200px;
    height:23px
}

.u107_original {
    background-image: url('../订单详情-出票_files/u59_original.png');
}

.u107_container {
    position:absolute;
    left:300px;
    top:1000px;
    width:284px;
    height:23px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:300px;
    top:1000px;
    width:284px;
    height:23px
}

.u109_original {
    background-image: url('../订单详情-出票_files/u61_original.png');
}

.u109_container {
    position:absolute;
    left:584px;
    top:1000px;
    width:384px;
    height:23px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:584px;
    top:1000px;
    width:384px;
    height:23px
}

.u111_original {
    background-image: url('../订单详情-出票_files/u111_original.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:1023px;
    width:100px;
    height:61px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:0px;
    top:1023px;
    width:100px;
    height:61px
}

.u113_original {
    background-image: url('../订单详情-出票_files/u113_original.png');
}

.u113_container {
    position:absolute;
    left:100px;
    top:1023px;
    width:200px;
    height:61px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:100px;
    top:1023px;
    width:200px;
    height:61px
}

.u115_original {
    background-image: url('../订单详情-出票_files/u115_original.png');
}

.u115_container {
    position:absolute;
    left:300px;
    top:1023px;
    width:284px;
    height:61px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:300px;
    top:1023px;
    width:284px;
    height:61px
}

.u117_original {
    background-image: url('../订单详情-出票_files/u117_original.png');
}

.u117_container {
    position:absolute;
    left:584px;
    top:1023px;
    width:384px;
    height:61px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:584px;
    top:1023px;
    width:384px;
    height:61px
}

.u119_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:1084px;
    width:100px;
    height:23px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:0px;
    top:1084px;
    width:100px;
    height:23px
}

.u121_original {
    background-image: url('../订单详情-出票_files/u57_original.png');
}

.u121_container {
    position:absolute;
    left:100px;
    top:1084px;
    width:200px;
    height:23px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:100px;
    top:1084px;
    width:200px;
    height:23px
}

.u123_original {
    background-image: url('../订单详情-出票_files/u59_original.png');
}

.u123_container {
    position:absolute;
    left:300px;
    top:1084px;
    width:284px;
    height:23px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:300px;
    top:1084px;
    width:284px;
    height:23px
}

.u125_original {
    background-image: url('../订单详情-出票_files/u61_original.png');
}

.u125_container {
    position:absolute;
    left:584px;
    top:1084px;
    width:384px;
    height:23px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:584px;
    top:1084px;
    width:384px;
    height:23px
}

.u127_original {
    background-image: url('../订单详情-出票_files/u127_original.png');
}

.u127_container {
    position:absolute;
    left:86px;
    top:259px;
    width:55px;
    height:28px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:34px;
}

.u128 {
    position:absolute;
    left:2px;
    top:4px;
    width:51px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:86px;
    top:259px;
    width:55px;
    height:28px
}

.u129 {
    position:absolute;
    left:86px;
    top:290px;
    width:55px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u129_text_sketch {
    font-family: '应用字体';
}

.u130 {
    position:absolute;
    left:830px;
    top:690px;
    width:100px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u130_text_sketch {
    font-family: '应用字体';
}

.u131 {
    position:absolute;
    left:680px;
    top:721px;
    width:260px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:947px;
    top:710px;
    width:850px;
    height:97px
}

.u132_table {
    background-image: url('../订单详情-出票_files/u132_table.png');
}

.u132_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:854px;
    height:101px;
}

.u133_original {
    background-image: url('../订单详情-出票_files/u133_original.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:23px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:23px
}

.u135_original {
    background-image: url('../订单详情-出票_files/u135_original.png');
}

.u135_container {
    position:absolute;
    left:57px;
    top:0px;
    width:39px;
    height:23px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:35px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:57px;
    top:0px;
    width:39px;
    height:23px
}

.u137_original {
    background-image: url('../订单详情-出票_files/u137_original.png');
}

.u137_container {
    position:absolute;
    left:96px;
    top:0px;
    width:50px;
    height:23px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:96px;
    top:0px;
    width:50px;
    height:23px
}

.u139_original {
    background-image: url('../订单详情-出票_files/u139_original.png');
}

.u139_container {
    position:absolute;
    left:146px;
    top:0px;
    width:52px;
    height:23px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:146px;
    top:0px;
    width:52px;
    height:23px
}

.u141_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u141_container {
    position:absolute;
    left:198px;
    top:0px;
    width:100px;
    height:23px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:198px;
    top:0px;
    width:100px;
    height:23px
}

.u143_original {
    background-image: url('../订单详情-出票_files/u143_original.png');
}

.u143_container {
    position:absolute;
    left:298px;
    top:0px;
    width:70px;
    height:23px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:298px;
    top:0px;
    width:70px;
    height:23px
}

.u145_original {
    background-image: url('../订单详情-出票_files/u145_original.png');
}

.u145_container {
    position:absolute;
    left:368px;
    top:0px;
    width:82px;
    height:23px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:368px;
    top:0px;
    width:82px;
    height:23px
}

.u147_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u147_container {
    position:absolute;
    left:450px;
    top:0px;
    width:100px;
    height:23px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:450px;
    top:0px;
    width:100px;
    height:23px
}

.u149_original {
    background-image: url('../订单详情-出票_files/u149_original.png');
}

.u149_container {
    position:absolute;
    left:550px;
    top:0px;
    width:86px;
    height:23px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:550px;
    top:0px;
    width:86px;
    height:23px
}

.u151_original {
    background-image: url('../订单详情-出票_files/u151_original.png');
}

.u151_container {
    position:absolute;
    left:636px;
    top:0px;
    width:109px;
    height:23px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:636px;
    top:0px;
    width:109px;
    height:23px
}

.u153_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u153_container {
    position:absolute;
    left:745px;
    top:0px;
    width:100px;
    height:23px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:745px;
    top:0px;
    width:100px;
    height:23px
}

.u155_original {
    background-image: url('../订单详情-出票_files/u133_original.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:23px;
    width:57px;
    height:23px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:0px;
    top:23px;
    width:57px;
    height:23px
}

.u157_original {
    background-image: url('../订单详情-出票_files/u135_original.png');
}

.u157_container {
    position:absolute;
    left:57px;
    top:23px;
    width:39px;
    height:23px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:35px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:57px;
    top:23px;
    width:39px;
    height:23px
}

.u159_original {
    background-image: url('../订单详情-出票_files/u137_original.png');
}

.u159_container {
    position:absolute;
    left:96px;
    top:23px;
    width:50px;
    height:23px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:96px;
    top:23px;
    width:50px;
    height:23px
}

.u161_original {
    background-image: url('../订单详情-出票_files/u139_original.png');
}

.u161_container {
    position:absolute;
    left:146px;
    top:23px;
    width:52px;
    height:23px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:146px;
    top:23px;
    width:52px;
    height:23px
}

.u163_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u163_container {
    position:absolute;
    left:198px;
    top:23px;
    width:100px;
    height:23px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:198px;
    top:23px;
    width:100px;
    height:23px
}

.u165_original {
    background-image: url('../订单详情-出票_files/u143_original.png');
}

.u165_container {
    position:absolute;
    left:298px;
    top:23px;
    width:70px;
    height:23px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:298px;
    top:23px;
    width:70px;
    height:23px
}

.u167_original {
    background-image: url('../订单详情-出票_files/u145_original.png');
}

.u167_container {
    position:absolute;
    left:368px;
    top:23px;
    width:82px;
    height:23px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:368px;
    top:23px;
    width:82px;
    height:23px
}

.u169_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u169_container {
    position:absolute;
    left:450px;
    top:23px;
    width:100px;
    height:23px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:450px;
    top:23px;
    width:100px;
    height:23px
}

.u171_original {
    background-image: url('../订单详情-出票_files/u149_original.png');
}

.u171_container {
    position:absolute;
    left:550px;
    top:23px;
    width:86px;
    height:23px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:550px;
    top:23px;
    width:86px;
    height:23px
}

.u173_original {
    background-image: url('../订单详情-出票_files/u151_original.png');
}

.u173_container {
    position:absolute;
    left:636px;
    top:23px;
    width:109px;
    height:23px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:636px;
    top:23px;
    width:109px;
    height:23px
}

.u175_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u175_container {
    position:absolute;
    left:745px;
    top:23px;
    width:100px;
    height:23px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:745px;
    top:23px;
    width:100px;
    height:23px
}

.u177_original {
    background-image: url('../订单详情-出票_files/u133_original.png');
}

.u177_container {
    position:absolute;
    left:0px;
    top:46px;
    width:57px;
    height:23px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:0px;
    top:46px;
    width:57px;
    height:23px
}

.u179_original {
    background-image: url('../订单详情-出票_files/u135_original.png');
}

.u179_container {
    position:absolute;
    left:57px;
    top:46px;
    width:39px;
    height:23px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:35px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:57px;
    top:46px;
    width:39px;
    height:23px
}

.u181_original {
    background-image: url('../订单详情-出票_files/u137_original.png');
}

.u181_container {
    position:absolute;
    left:96px;
    top:46px;
    width:50px;
    height:23px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:96px;
    top:46px;
    width:50px;
    height:23px
}

.u183_original {
    background-image: url('../订单详情-出票_files/u139_original.png');
}

.u183_container {
    position:absolute;
    left:146px;
    top:46px;
    width:52px;
    height:23px;
}

.u184 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:146px;
    top:46px;
    width:52px;
    height:23px
}

.u185_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u185_container {
    position:absolute;
    left:198px;
    top:46px;
    width:100px;
    height:23px;
}

.u186 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:198px;
    top:46px;
    width:100px;
    height:23px
}

.u187_original {
    background-image: url('../订单详情-出票_files/u143_original.png');
}

.u187_container {
    position:absolute;
    left:298px;
    top:46px;
    width:70px;
    height:23px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:298px;
    top:46px;
    width:70px;
    height:23px
}

.u189_original {
    background-image: url('../订单详情-出票_files/u145_original.png');
}

.u189_container {
    position:absolute;
    left:368px;
    top:46px;
    width:82px;
    height:23px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:368px;
    top:46px;
    width:82px;
    height:23px
}

.u191_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u191_container {
    position:absolute;
    left:450px;
    top:46px;
    width:100px;
    height:23px;
}

.u192 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:450px;
    top:46px;
    width:100px;
    height:23px
}

.u193_original {
    background-image: url('../订单详情-出票_files/u149_original.png');
}

.u193_container {
    position:absolute;
    left:550px;
    top:46px;
    width:86px;
    height:23px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:550px;
    top:46px;
    width:86px;
    height:23px
}

.u195_original {
    background-image: url('../订单详情-出票_files/u151_original.png');
}

.u195_container {
    position:absolute;
    left:636px;
    top:46px;
    width:109px;
    height:23px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:636px;
    top:46px;
    width:109px;
    height:23px
}

.u197_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u197_container {
    position:absolute;
    left:745px;
    top:46px;
    width:100px;
    height:23px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:745px;
    top:46px;
    width:100px;
    height:23px
}

.u199_original {
    background-image: url('../订单详情-出票_files/u133_original.png');
}

.u199_container {
    position:absolute;
    left:0px;
    top:69px;
    width:57px;
    height:23px;
}

.u200 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:0px;
    top:69px;
    width:57px;
    height:23px
}

.u201_original {
    background-image: url('../订单详情-出票_files/u135_original.png');
}

.u201_container {
    position:absolute;
    left:57px;
    top:69px;
    width:39px;
    height:23px;
}

.u202 {
    position:absolute;
    left:2px;
    top:2px;
    width:35px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:57px;
    top:69px;
    width:39px;
    height:23px
}

.u203_original {
    background-image: url('../订单详情-出票_files/u137_original.png');
}

.u203_container {
    position:absolute;
    left:96px;
    top:69px;
    width:50px;
    height:23px;
}

.u204 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:96px;
    top:69px;
    width:50px;
    height:23px
}

.u205_original {
    background-image: url('../订单详情-出票_files/u139_original.png');
}

.u205_container {
    position:absolute;
    left:146px;
    top:69px;
    width:52px;
    height:23px;
}

.u206 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:146px;
    top:69px;
    width:52px;
    height:23px
}

.u207_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u207_container {
    position:absolute;
    left:198px;
    top:69px;
    width:100px;
    height:23px;
}

.u208 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:198px;
    top:69px;
    width:100px;
    height:23px
}

.u209_original {
    background-image: url('../订单详情-出票_files/u143_original.png');
}

.u209_container {
    position:absolute;
    left:298px;
    top:69px;
    width:70px;
    height:23px;
}

.u210 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:298px;
    top:69px;
    width:70px;
    height:23px
}

.u211_original {
    background-image: url('../订单详情-出票_files/u145_original.png');
}

.u211_container {
    position:absolute;
    left:368px;
    top:69px;
    width:82px;
    height:23px;
}

.u212 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:368px;
    top:69px;
    width:82px;
    height:23px
}

.u213_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u213_container {
    position:absolute;
    left:450px;
    top:69px;
    width:100px;
    height:23px;
}

.u214 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:450px;
    top:69px;
    width:100px;
    height:23px
}

.u215_original {
    background-image: url('../订单详情-出票_files/u149_original.png');
}

.u215_container {
    position:absolute;
    left:550px;
    top:69px;
    width:86px;
    height:23px;
}

.u216 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:550px;
    top:69px;
    width:86px;
    height:23px
}

.u217_original {
    background-image: url('../订单详情-出票_files/u151_original.png');
}

.u217_container {
    position:absolute;
    left:636px;
    top:69px;
    width:109px;
    height:23px;
}

.u218 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:636px;
    top:69px;
    width:109px;
    height:23px
}

.u219_original {
    background-image: url('../订单详情-出票_files/u55_original.png');
}

.u219_container {
    position:absolute;
    left:745px;
    top:69px;
    width:100px;
    height:23px;
}

.u220 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:745px;
    top:69px;
    width:100px;
    height:23px
}

.u221 {
    position:absolute;
    left:1800px;
    top:780px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_original {
    background-image: url('../退回原因_files/u222_original.png');
}

.u222_container {
    position:absolute;
    left:1030px;
    top:840px;
    width:430px;
    height:260px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:436px;
    height:266px;
}

.u223 {
    position:absolute;
    left:2px;
    top:122px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:1030px;
    top:840px;
    width:430px;
    height:260px
}

.u224 {
    position:absolute;
    left:1190px;
    top:851px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225 {
    position:absolute;
    left:1040px;
    top:880px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:1120px;
    top:880px;
    width:330px;
    height:50px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u226_text_sketch {
    font-family: '应用字体';
}

.u227 {
    position:absolute;
    left:1040px;
    top:941px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:16px;
    top:0px;
    width:312px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:1130px;
    top:1065px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u240_text_sketch {
    font-family: '应用字体';
}

.u241 {
    position:absolute;
    left:1260px;
    top:1065px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u241_text_sketch {
    font-family: '应用字体';
}

.u243_container {
    position:absolute;
    left:1010px;
    top:1510px;
    width:733px;
    height:422px;
}

#u243_img {
    position:absolute;
    left:0px;
    top:0px;
    width:733px;
    height:422px;
}

.u244 {
    position:absolute;
    left:2px;
    top:203px;
    width:729px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:1010px;
    top:1510px;
    width:733px;
    height:422px
}

