body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../客户组维护_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1240px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1246px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:1236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1240px;
    height:1080px
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:479px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:479px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:479px
}

.u4_original {
    background-image: url('../客户组维护_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:380px;
    top:170px;
    width:500px;
    height:390px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:396px;
}

.u5 {
    position:absolute;
    left:2px;
    top:187px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:380px;
    top:170px;
    width:500px;
    height:390px
}

.u6_original {
    background-image: url('../客户组维护_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:380px;
    top:165px;
    width:502px;
    height:214px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:214px;
}

.u7 {
    position:absolute;
    left:2px;
    top:99px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:380px;
    top:165px;
    width:502px;
    height:214px
}

.u8_original {
    background-image: url('../客户组维护_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:380px;
    top:495px;
    width:502px;
    height:111px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:502px;
    height:111px;
}

.u9 {
    position:absolute;
    left:2px;
    top:48px;
    width:498px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:380px;
    top:495px;
    width:502px;
    height:111px
}

.u10 {
    position:absolute;
    left:400px;
    top:390px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:400px;
    top:421px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:640px;
    top:421px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:740px;
    top:420px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_text_sketch {
    font-family: '应用字体';
}

.u18 {
    position:absolute;
    left:830px;
    top:421px;
    width:20px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:640px;
    top:451px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:740px;
    top:450px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_text_sketch {
    font-family: '应用字体';
}

#u25 {
    position:absolute;
    left:41px;
    top:620px;
    width:784px;
    height:215px
}

.u25_table {
    background-image: url('../客户组维护_files/u25_table.png');
}

.u25_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:788px;
    height:219px;
}

.u26_original {
    background-image: url('../客户组维护_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px
}

.u28_original {
    background-image: url('../客户组维护_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px
}

.u30_original {
    background-image: url('../客户组维护_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px
}

.u32_original {
    background-image: url('../客户组维护_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px
}

.u34_original {
    background-image: url('../客户组维护_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:23px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:23px
}

.u36_original {
    background-image: url('../客户组维护_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:23px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:23px
}

.u38_original {
    background-image: url('../客户组维护_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:23px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:23px
}

.u40_original {
    background-image: url('../客户组维护_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:23px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:23px
}

.u42_original {
    background-image: url('../客户组维护_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:48px;
    width:100px;
    height:99px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:0px;
    top:48px;
    width:100px;
    height:99px
}

.u44_original {
    background-image: url('../客户组维护_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:100px;
    top:48px;
    width:200px;
    height:99px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:100px;
    top:48px;
    width:200px;
    height:99px
}

.u46_original {
    background-image: url('../客户组维护_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:300px;
    top:48px;
    width:284px;
    height:99px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:300px;
    top:48px;
    width:284px;
    height:99px
}

.u48_original {
    background-image: url('../客户组维护_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:584px;
    top:48px;
    width:195px;
    height:99px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:584px;
    top:48px;
    width:195px;
    height:99px
}

.u50_original {
    background-image: url('../客户组维护_files/u50_original.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:147px;
    width:100px;
    height:20px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:147px;
    width:100px;
    height:20px
}

.u52_original {
    background-image: url('../客户组维护_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:100px;
    top:147px;
    width:200px;
    height:20px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:100px;
    top:147px;
    width:200px;
    height:20px
}

.u54_original {
    background-image: url('../客户组维护_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:300px;
    top:147px;
    width:284px;
    height:20px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:300px;
    top:147px;
    width:284px;
    height:20px
}

.u56_original {
    background-image: url('../客户组维护_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:584px;
    top:147px;
    width:195px;
    height:20px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:584px;
    top:147px;
    width:195px;
    height:20px
}

.u58_original {
    background-image: url('../客户组维护_files/u50_original.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:167px;
    width:100px;
    height:20px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:0px;
    top:167px;
    width:100px;
    height:20px
}

.u60_original {
    background-image: url('../客户组维护_files/u52_original.png');
}

.u60_container {
    position:absolute;
    left:100px;
    top:167px;
    width:200px;
    height:20px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:100px;
    top:167px;
    width:200px;
    height:20px
}

.u62_original {
    background-image: url('../客户组维护_files/u54_original.png');
}

.u62_container {
    position:absolute;
    left:300px;
    top:167px;
    width:284px;
    height:20px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:300px;
    top:167px;
    width:284px;
    height:20px
}

.u64_original {
    background-image: url('../客户组维护_files/u56_original.png');
}

.u64_container {
    position:absolute;
    left:584px;
    top:167px;
    width:195px;
    height:20px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:584px;
    top:167px;
    width:195px;
    height:20px
}

.u66_original {
    background-image: url('../客户组维护_files/u34_original.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:187px;
    width:100px;
    height:23px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:0px;
    top:187px;
    width:100px;
    height:23px
}

.u68_original {
    background-image: url('../客户组维护_files/u36_original.png');
}

.u68_container {
    position:absolute;
    left:100px;
    top:187px;
    width:200px;
    height:23px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:100px;
    top:187px;
    width:200px;
    height:23px
}

.u70_original {
    background-image: url('../客户组维护_files/u38_original.png');
}

.u70_container {
    position:absolute;
    left:300px;
    top:187px;
    width:284px;
    height:23px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:300px;
    top:187px;
    width:284px;
    height:23px
}

.u72_original {
    background-image: url('../客户组维护_files/u40_original.png');
}

.u72_container {
    position:absolute;
    left:584px;
    top:187px;
    width:195px;
    height:23px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:584px;
    top:187px;
    width:195px;
    height:23px
}

