.lightbox2 .lightblue-bg, .lightbox2 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .lightbox2 th, .lightbox2 .mo-jptj .box, .mo-jptj .lightbox2 .box {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  padding: 10px 30px; }
.lightbox2 th {
  text-align: right; }
.lightbox2 td {
  padding: 5px; }

.lightbox-ckzc .lightbox-content {
  width: 660px; }
  .lightbox-ckzc .lightbox-content .table1 {
    border: 1px solid #cecece;
    margin-bottom: 10px; }
    .lightbox-ckzc .lightbox-content .table1 td {
      padding: 5px 10px; }
  .lightbox-ckzc .lightbox-content .table2 {
    margin-bottom: 10px; }
    .lightbox-ckzc .lightbox-content .table2 th {
      width: 100px;
      text-align: right; }
    .lightbox-ckzc .lightbox-content .table2 td {
      width: 200px;
      padding: 5px 10px;
      border: 1px solid #cecece; }

.table1-tjyqhf .tcol1 {
  width: 70px; }

.table1-yqhf .tcol1 {
  width: 200px; }
.table1-yqhf .tcol2 {
  width: 340px; }

.table2-yqhf .tcol1 {
  width: 60px; }

.table2-kgzc {
  border-top: 1px solid #eeeeee;
  width: 100%; }
  .table2-kgzc td, .table2-kgzc th {
    padding: 8px; }
  .table2-kgzc .tcol1 {
    width: 130px; }
  .table2-kgzc .tcol2 {
    width: 200px; }
  .table2-kgzc .tcol3 {
    width: 65px; }

.table1-kgzc .tcol1 {
  width: 100px; }

.table1-zcck .tcol1 {
  width: 200px; }
.table1-zcck .tcol2 {
  width: 360px; }

.table2-zcck .tcol1 {
  width: 70px; }

.mo-zclygl .block2 {
  width: 800px; }

.table1-zclygl .tcol1 {
  width: 200px; }
.table1-zclygl .tcol2 {
  width: 200px; }
.table1-zclygl .tcol3 {
  width: 200px; }

.table1-tfwh .tcol1 {
  width: 70px; }

.user-info {
  background-color: #fffcc5; }

.table1-pnrmyd {
  width: 100%; }
  .table1-pnrmyd .tcol2 {
    width: 130px; }
  .table1-pnrmyd td {
    border-bottom: 1px solid #cecece;
    padding: 10px; }
  .table1-pnrmyd a {
    color: #333333; }

.mo-pnrmyd .block1 {
  margin-bottom: 15px; }
  .mo-pnrmyd .block1 center {
    margin: 30px 0; }
.mo-pnrmyd .block2 {
  border-bottom: 0; }
  .mo-pnrmyd .block2 .block-head {
    position: relative;
    border-bottom: 1px solid #cecece; }
    .mo-pnrmyd .block2 .block-head .time {
      font-weight: bold;
      position: absolute;
      right: 40px;
      top: 7px; }
.mo-pnrmyd .user-info {
  padding: 10px 20px; }

.mo-tjzc .gray-title, .mo-tjzc .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-tjzc .block-head {
  border-bottom: 1px solid #cecece; }

.mo-ddgl .table-b2 {
  border-top: 1px solid #cecece; }
.mo-ddgl .block1 {
  margin-bottom: 20px; }
  .mo-ddgl .block1 .center {
    padding: 10px; }
.mo-ddgl div.center {
  margin: 10px; }
.mo-ddgl .block2 .block-head {
  margin-bottom: 10px;
  border-bottom: 1px solid #cecece; }
.mo-ddgl .table-b3 {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }

.mo-tjdd .block {
  margin-bottom: 15px; }
.mo-tjdd .gray-title, .mo-tjdd .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-tjdd .block-head {
  border-bottom: 1px solid #cecece; }
.mo-tjdd table {
  width: 100%; }
.mo-tjdd input.text {
  width: 115px; }
.mo-tjdd select {
  background-color: white;
  width: 120px; }

.table1-pnrcjdd {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }

.mo-pnrcjdd .metas {
  padding: 5px; }
  .mo-pnrcjdd .metas .col2 {
    float: right; }
.mo-pnrcjdd .block1 {
  margin-bottom: 15px;
  padding: 2px; }
  .mo-pnrcjdd .block1 .col2 {
    margin-left: 510px;
    padding-right: 20px;
    float: none;
    line-height: 24px; }
    .mo-pnrcjdd .block1 .col2 center {
      margin: 10px 0; }
.mo-pnrcjdd .block2 .col1 {
  width: 510px;
  border-right: 1px solid #cecece;
  height: 250px; }
  .mo-pnrcjdd .block2 .col1 center {
    margin: 25px 0; }
.mo-pnrcjdd .block2 .col2 {
  line-height: 24px;
  margin-left: 510px;
  padding: 5px 20px;
  float: none; }

.mo-jptj .block2 {
  border-top: 0; }

.mo-jptj .xblock {
  margin-bottom: 10px; }

.mo-jptj select {
  width: 130px; }
.mo-jptj .dropdown {
  float: right;
  position: relative;
  height: 20px; }
.mo-jptj .box {
  position: absolute;
  width: 100px;
  height: 200px;
  overflow-y: scroll;
  top: 20px;
  right: 0;
  display: none;
  line-height: 26px;
  padding: 0 10px;
  border: 1px solid #cecece; }

.mo-fpxxcx .gray-title, .mo-fpxxcx .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-fpxxcx .block-head {
  border-bottom: 1px solid #cecece; }
.mo-fpxxcx p {
  padding: 10px; }
.mo-fpxxcx .table-b2 {
  border-top: 1px solid #cecece; }

.mo-tjdd textarea {
  width: 400px;
  height: 100px;
  margin-bottom: 10px; }

.table3-tjdd th {
  text-align: right; }
.table3-tjdd td {
  line-height: 18px;
  vertical-align: baseline;
  padding: 5px; }

.table4-tjdd {
  border-bottom: 1px solid #cecece; }

.mo-ddxq .block7 .tcol2, .mo-tjdd .block7 .tcol2 {
  width: 200px; }
.mo-ddxq .block7 .tcol3, .mo-tjdd .block7 .tcol3 {
  width: 200px; }
.mo-ddxq .block7 table, .mo-tjdd .block7 table {
  width: 100%; }
  .mo-ddxq .block7 table td, .mo-tjdd .block7 table td {
    padding: 10px;
    border: 1px solid #cecece; }
  .mo-ddxq .block7 table th, .mo-tjdd .block7 table th {
    font-weight: bold;
    background-color: #f6f6f6; }
.mo-ddxq .block9 table, .mo-tjdd .block9 table {
  width: 800px; }
.mo-ddxq .xblock p, .mo-tjdd .xblock p {
  padding-bottom: 10px; }
.mo-ddxq .block, .mo-tjdd .block {
  margin-bottom: 10px; }
  .mo-ddxq .block p, .mo-tjdd .block p {
    line-height: 20px;
    padding: 5px 20px; }
.mo-ddxq .gray-title, .mo-tjdd .gray-title, .mo-ddxq .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-ddxq .block-head, .mo-tjdd .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-tjdd .block-head {
  border-bottom: 1px solid #cecece; }
.mo-ddxq .block3 .lightblue-bg, .mo-tjdd .block3 .lightblue-bg, .mo-ddxq .block3 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-ddxq .block3 th, .mo-tjdd .block3 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-tjdd .block3 th, .mo-ddxq .block3 .mo-jptj .box, .mo-jptj .mo-ddxq .block3 .box, .mo-tjdd .block3 .mo-jptj .box, .mo-jptj .mo-tjdd .block3 .box {
  border-top: 1px solid #cecece; }
.mo-ddxq .block4 .lightblue-bg, .mo-tjdd .block4 .lightblue-bg, .mo-ddxq .block4 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-ddxq .block4 th, .mo-tjdd .block4 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-tjdd .block4 th, .mo-ddxq .block4 .mo-jptj .box, .mo-jptj .mo-ddxq .block4 .box, .mo-tjdd .block4 .mo-jptj .box, .mo-jptj .mo-tjdd .block4 .box {
  border-bottom: 1px solid #cecece; }
  .mo-ddxq .block4 .lightblue-bg label, .mo-tjdd .block4 .lightblue-bg label, .mo-ddxq .block4 .lightbox-ckzc .lightbox-content .table2 th label, .lightbox-ckzc .lightbox-content .table2 .mo-ddxq .block4 th label, .mo-tjdd .block4 .lightbox-ckzc .lightbox-content .table2 th label, .lightbox-ckzc .lightbox-content .table2 .mo-tjdd .block4 th label, .mo-ddxq .block4 .mo-jptj .box label, .mo-jptj .mo-ddxq .block4 .box label, .mo-tjdd .block4 .mo-jptj .box label, .mo-jptj .mo-tjdd .block4 .box label {
    padding-right: 40px; }

.table2-ddxq th {
  background-color: #f6f6f6;
  border-right: 1px solid #cecece; }

.table4-ddxq {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 500px; }
  .table4-ddxq td {
    padding: 5px; }

.table5-ddxq {
  border-bottom: 1px solid #cecece; }

.table3-ddxq {
  width: 600px; }
  .table3-ddxq th {
    text-align: right; }
  .table3-ddxq th, .table3-ddxq td {
    padding: 10px; }

.mo-hbcx .block1 {
  margin-bottom: 20px; }
.mo-hbcx .block2 {
  border: none; }
.mo-hbcx .table-b4 {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }
.mo-hbcx .block1 .center {
  padding: 10px; }
.mo-hbcx .more-h {
  position: absolute;
  background-color: #ebf8fe;
  display: block;
  right: 0;
  top: 5px;
  border: 2px solid #377ac0;
  border-bottom: 0;
  text-align: center;
  width: 130px;
  height: 28px;
  line-height: 30px; }

.mo-xxzc .table-b4 {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }
.mo-xxzc .block1 {
  margin-bottom: 20px; }
  .mo-xxzc .block1 .center {
    margin: 10px 0; }

.mo-fdgl .block2 {
  border-top: 0; }
.mo-fdgl .xblock {
  margin-bottom: 10px; }
  .mo-fdgl .xblock .button {
    padding: 2px 8px;
    border: 1px solid #336699;
    background-color: #cfe6fd; }

.mo-zctj .gray-title, .mo-zctj .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-zctj .block-head {
  border-bottom: 1px solid #cecece; }
.mo-zctj .block-i {
  padding: 5px 10px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #cecece; }
.mo-zctj table th {
  white-space: nowrap;
  text-align: right; }
.mo-zctj table td {
  padding: 5px;
  vertical-align: baseline; }
.mo-zctj .block-i1 p {
  padding-left: 40px;
  padding-top: 10px; }
.mo-zctj .block-i2 .text {
  width: 100px; }
.mo-zctj .block-i2 td {
  white-space: nowrap; }
.mo-zctj .block-i3 {
  border: none; }
.mo-zctj textarea {
  width: 400px;
  height: 50px;
  margin-bottom: 5px; }
.mo-zctj .center {
  margin: 15px 0; }

.dancheng-ajax-wrapper {
  background-color: #ebf8fe;
  text-align: right;
  line-height: 40px;
  border: 2px solid #377ac0;
  border-bottom: 3px solid #377ac0;
  margin-bottom: 20px; }
  .dancheng-ajax-wrapper span {
    padding-right: 20px; }

.dancheng-ajax-info, .wangfan-ajax-info {
  border-bottom: 1px dashed #377ac0; }

.wangfan-ajax-wrapper {
  float: right;
  width: 400px;
  background-color: #ebf8fe;
  text-align: right;
  line-height: 40px;
  border: 2px solid #377ac0;
  border-bottom: 3px solid #377ac0;
  margin-bottom: 20px; }
  .wangfan-ajax-wrapper span {
    padding-right: 45px; }

.table1-tjyqhf .tcol1 {
  width: 70px; }

.table1-yqhf .tcol1 {
  width: 200px; }
.table1-yqhf .tcol2 {
  width: 340px; }

.table2-yqhf .tcol1 {
  width: 60px; }

.table2-kgzc {
  border-top: 1px solid #eeeeee;
  width: 100%; }
  .table2-kgzc td, .table2-kgzc th {
    padding: 8px; }
  .table2-kgzc .tcol1 {
    width: 130px; }
  .table2-kgzc .tcol2 {
    width: 200px; }
  .table2-kgzc .tcol3 {
    width: 65px; }

.table1-kgzc .tcol1 {
  width: 100px; }

.table1-zcck .tcol1 {
  width: 200px; }
.table1-zcck .tcol2 {
  width: 360px; }

.table2-zcck .tcol1 {
  width: 70px; }

.mo-zclygl .block2 {
  width: 800px; }

.table1-zclygl .tcol1 {
  width: 200px; }
.table1-zclygl .tcol2 {
  width: 200px; }
.table1-zclygl .tcol3 {
  width: 200px; }

.table1-tfwh .tcol1 {
  width: 70px; }

.user-info {
  background-color: #fffcc5; }

.table1-pnrmyd {
  width: 100%; }
  .table1-pnrmyd .tcol2 {
    width: 130px; }
  .table1-pnrmyd td {
    border-bottom: 1px solid #cecece;
    padding: 10px; }
  .table1-pnrmyd a {
    color: #333333; }

.mo-pnrmyd .block1 {
  margin-bottom: 15px; }
  .mo-pnrmyd .block1 center {
    margin: 30px 0; }
.mo-pnrmyd .block2 {
  border-bottom: 0; }
  .mo-pnrmyd .block2 .block-head {
    position: relative;
    border-bottom: 1px solid #cecece; }
    .mo-pnrmyd .block2 .block-head .time {
      font-weight: bold;
      position: absolute;
      right: 40px;
      top: 7px; }
.mo-pnrmyd .user-info {
  padding: 10px 20px; }

.mo-tjzc .gray-title, .mo-tjzc .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-tjzc .block-head {
  border-bottom: 1px solid #cecece; }

.mo-ddgl .table-b2 {
  border-top: 1px solid #cecece; }
.mo-ddgl .block1 {
  margin-bottom: 20px; }
  .mo-ddgl .block1 .center {
    padding: 10px; }
.mo-ddgl div.center {
  margin: 10px; }
.mo-ddgl .block2 .block-head {
  margin-bottom: 10px;
  border-bottom: 1px solid #cecece; }
.mo-ddgl .table-b3 {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }

.mo-tjdd .block {
  margin-bottom: 15px; }
.mo-tjdd .gray-title, .mo-tjdd .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-tjdd .block-head {
  border-bottom: 1px solid #cecece; }
.mo-tjdd table {
  width: 100%; }
.mo-tjdd input.text {
  width: 115px; }
.mo-tjdd select {
  background-color: white;
  width: 120px; }

.table1-pnrcjdd {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }

.mo-pnrcjdd .metas {
  padding: 5px; }
  .mo-pnrcjdd .metas .col2 {
    float: right; }
.mo-pnrcjdd .block1 {
  margin-bottom: 15px;
  padding: 2px; }
  .mo-pnrcjdd .block1 .col2 {
    margin-left: 510px;
    padding-right: 20px;
    float: none;
    line-height: 24px; }
    .mo-pnrcjdd .block1 .col2 center {
      margin: 10px 0; }
.mo-pnrcjdd .block2 .col1 {
  width: 510px;
  border-right: 1px solid #cecece;
  height: 250px; }
  .mo-pnrcjdd .block2 .col1 center {
    margin: 25px 0; }
.mo-pnrcjdd .block2 .col2 {
  line-height: 24px;
  margin-left: 510px;
  padding: 5px 20px;
  float: none; }

.console-screen {
  width: 510px;
  margin-right: 20px; }
  .console-screen center {
    margin: 15px 0; }
  .console-screen textarea {
    line-height: 16px;
    color: #999999;
    width: 500px;
    height: 240px;
    background-color: black;
    font-family: monospace; }

.mo-jptj .block2 {
  border-top: 0; }

.mo-jptj .xblock {
  margin-bottom: 10px; }

.mo-jptj select {
  width: 130px; }
.mo-jptj .dropdown {
  float: right;
  position: relative;
  height: 20px; }
.mo-jptj .box {
  position: absolute;
  width: 100px;
  height: 200px;
  overflow-y: scroll;
  top: 20px;
  right: 0;
  display: none;
  line-height: 26px;
  padding: 0 10px;
  border: 1px solid #cecece; }

.mo-fpxxcx .gray-title, .mo-fpxxcx .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-fpxxcx .block-head {
  border-bottom: 1px solid #cecece; }
.mo-fpxxcx p {
  padding: 10px; }
.mo-fpxxcx .table-b2 {
  border-top: 1px solid #cecece; }

.mo-tjdd textarea {
  width: 400px;
  height: 100px;
  margin-bottom: 10px; }

.table3-tjdd th {
  text-align: right; }
.table3-tjdd td {
  line-height: 18px;
  vertical-align: baseline;
  padding: 5px; }

.table4-tjdd {
  border-bottom: 1px solid #cecece; }

.mo-ddxq .block7 .tcol2, .mo-tjdd .block7 .tcol2 {
  width: 200px; }
.mo-ddxq .block7 .tcol3, .mo-tjdd .block7 .tcol3 {
  width: 200px; }
.mo-ddxq .block7 table, .mo-tjdd .block7 table {
  width: 100%; }
  .mo-ddxq .block7 table td, .mo-tjdd .block7 table td {
    padding: 10px;
    border: 1px solid #cecece; }
  .mo-ddxq .block7 table th, .mo-tjdd .block7 table th {
    font-weight: bold;
    background-color: #f6f6f6; }
.mo-ddxq .block9 table, .mo-tjdd .block9 table {
  width: 800px; }
.mo-ddxq .xblock p, .mo-tjdd .xblock p {
  padding-bottom: 10px; }
.mo-ddxq .block, .mo-tjdd .block {
  margin-bottom: 10px; }
  .mo-ddxq .block p, .mo-tjdd .block p {
    line-height: 20px;
    padding: 5px 20px; }
.mo-ddxq .gray-title, .mo-tjdd .gray-title, .mo-ddxq .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-ddxq .block-head, .mo-tjdd .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-tjdd .block-head {
  border-bottom: 1px solid #cecece; }
.mo-ddxq .block3 .lightblue-bg, .mo-tjdd .block3 .lightblue-bg, .mo-ddxq .block3 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-ddxq .block3 th, .mo-tjdd .block3 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-tjdd .block3 th, .mo-ddxq .block3 .mo-jptj .box, .mo-jptj .mo-ddxq .block3 .box, .mo-tjdd .block3 .mo-jptj .box, .mo-jptj .mo-tjdd .block3 .box {
  border-top: 1px solid #cecece; }
.mo-ddxq .block4 .lightblue-bg, .mo-tjdd .block4 .lightblue-bg, .mo-ddxq .block4 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-ddxq .block4 th, .mo-tjdd .block4 .lightbox-ckzc .lightbox-content .table2 th, .lightbox-ckzc .lightbox-content .table2 .mo-tjdd .block4 th, .mo-ddxq .block4 .mo-jptj .box, .mo-jptj .mo-ddxq .block4 .box, .mo-tjdd .block4 .mo-jptj .box, .mo-jptj .mo-tjdd .block4 .box {
  border-bottom: 1px solid #cecece; }
  .mo-ddxq .block4 .lightblue-bg label, .mo-tjdd .block4 .lightblue-bg label, .mo-ddxq .block4 .lightbox-ckzc .lightbox-content .table2 th label, .lightbox-ckzc .lightbox-content .table2 .mo-ddxq .block4 th label, .mo-tjdd .block4 .lightbox-ckzc .lightbox-content .table2 th label, .lightbox-ckzc .lightbox-content .table2 .mo-tjdd .block4 th label, .mo-ddxq .block4 .mo-jptj .box label, .mo-jptj .mo-ddxq .block4 .box label, .mo-tjdd .block4 .mo-jptj .box label, .mo-jptj .mo-tjdd .block4 .box label {
    padding-right: 40px; }

.table2-ddxq th {
  background-color: #f6f6f6;
  border-right: 1px solid #cecece; }

.table4-ddxq {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 500px; }
  .table4-ddxq td {
    padding: 5px; }

.table5-ddxq {
  border-bottom: 1px solid #cecece; }

.table3-ddxq {
  width: 600px; }
  .table3-ddxq th {
    text-align: right; }
  .table3-ddxq th, .table3-ddxq td {
    padding: 10px; }

.mo-hbcx .block1 {
  margin-bottom: 20px; }
.mo-hbcx .block2 {
  border: none; }
.mo-hbcx .table-b4 {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }
.mo-hbcx .block1 .center {
  padding: 10px; }
.mo-hbcx .more-h {
  position: absolute;
  background-color: #ebf8fe;
  display: block;
  right: 0;
  top: 5px;
  border: 2px solid #377ac0;
  border-bottom: 0;
  text-align: center;
  width: 130px;
  height: 28px;
  line-height: 30px; }

.mo-xxzc .table-b4 {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }
.mo-xxzc .block1 {
  margin-bottom: 20px; }
  .mo-xxzc .block1 .center {
    margin: 10px 0; }

.mo-fdgl .block2 {
  border-top: 0; }
.mo-fdgl .xblock {
  margin-bottom: 10px; }
  .mo-fdgl .xblock .button {
    padding: 2px 8px;
    border: 1px solid #336699;
    background-color: #cfe6fd; }

.mo-zctj .gray-title, .mo-zctj .mo-ddgl .block2 .block-head, .mo-ddgl .block2 .mo-zctj .block-head {
  border-bottom: 1px solid #cecece; }
.mo-zctj .block-i {
  padding: 5px 10px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #cecece; }
.mo-zctj table th {
  white-space: nowrap;
  text-align: right; }
.mo-zctj table td {
  padding: 5px;
  vertical-align: baseline; }
.mo-zctj .block-i1 p {
  padding-left: 40px;
  padding-top: 10px; }
.mo-zctj .block-i2 .text {
  width: 100px; }
.mo-zctj .block-i2 td {
  white-space: nowrap; }
.mo-zctj .block-i3 {
  border: none; }
.mo-zctj textarea {
  width: 400px;
  height: 50px;
  margin-bottom: 5px; }
.mo-zctj .center {
  margin: 15px 0; }
