@import 'vars';
$skin_folder:$imgpath;
$cbg:#e2e9ea;
$chead:#3a6ea5 url(#{$skin_folder}/head.jpg) 100% 100% no-repeat;

$bc1:#bec6c7;

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.red{
    color:$c61;
}
.gray{
    color:$c13;
}
.redb{
    @extend .red;
    font-weight:bold;
}
.blue{
    color:$c22;
}
.lightblue-bg{
    background-color:$c25;
}

body{
    font-size:12px;
    background-color:$cbg;
    min-width:1200px;
}

.gray-title{
    background:url(#{$skin_folder}/gray-title.png) repeat-x;
    ul{
        overflow:hidden;
        padding:0;
        margin:0;
        margin-bottom:-1px;
        list-style:none;
        padding-left:20px;
        font-weight:bold;
        padding-top:3px;
        li{
            line-height:30px;
            margin:0;
            float:left;
            cursor:pointer;
            padding:0 20px;
        }
        .current{
            @extend .blue;
            border:1px solid $c44;
            border-bottom:0;
            background-color:#fff;
        }
    }  
}

$i:12;
@while $i<=24{
    .f#{$i}{
        font-size:#{$i}px;
    }
    $i:$i+2;
}

.skins{
    position:absolute;
    top: 76px;
    right: 14px;
}

.col{
    float:left;
}

.change-style{
    display:block;
    width:10px;
    height:9px;
    margin-right:4px;
    float:left;
}

.head{
    background:$chead;
    height:95px;
    min-width:960px;
}

.area{
    border:1px solid $bc1;
    background-color:$c0;
}

.logo{
    padding-top:15px;
    float:left;
    margin:0;
    width:170px;
    text-align:center;
    background:url(#{$skin_folder}/logo-border.png) 100% 50% no-repeat;
    span{
        display:none;
    }
    a{
        background:url(#{$skin_folder}/logo.png) no-repeat;
        display:block; 
        margin:0 auto;
        width:114px;
        height:69px;
    }
}

.nav-top{
    margin-left:180px;
}

.menu-quick{
    color:$c0;
    padding:25px 0 0 20px;
    height:34px;
    a{
        color:$c0;
    }
}

.menu-main{
    height:36px;
    ul{
        padding:0;
        list-style:none;
        margin:0;
    }
    li{
        margin:0;
        width:97px;
        height:36px;
        float:left;
    }
    a{
        line-height:40px;
        text-align:center;
        display:block;
        color:$c0;
        &:hover {text-decoration:none; }
        font-size:14px;
        background:url(#{$skin_folder}/menu-main.png) no-repeat;
    }
    .current a{
        color:$c22;
        background:url(#{$skin_folder}/menu-main-h.png) no-repeat;
    }
}

a{
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
    &.button{
        text-decoration:none;
    }
}

.body{
    padding:10px;
}

.sidebar{
    height:100%;
    float:left; 
    width:158px;
    .links{
        margin:250px 15px 20px 30px;
        span{
            display:block;
        }
        a{
            color:$c11;
        }
    }
}

.breadcrumb{
    margin-left:180px;
    height:24px;
    a{
        color:$c11;
    }
}

.content{
    margin-left:175px;
    padding:10px;
    overflow:hidden;
}

.menu-sidebar{
    dl{
        margin:10px 10px 15px;
    }
    dt{
        padding-bottom: 5px;
        margin-bottom: 10px;
        &.current{
            color:$c11; 
        } 
        @extend .f14;
        font-weight:bold;
        border-bottom:1px solid $c41;
        position:relative;
        .arrow1{
            right:0;
            position:absolute;
            top:6px;
        }
    }
    dd{
        margin:2px 0;
        a.current{
            color:$c11; 
            font-weight:bold;
            background-color:$c42;
            border-radius:5px;
            &:hover{
                text-decoration:none;    
            }
        }

    }
    a{
        padding:4px 0 4px 18px;
        display:block;
        color:$c11;
        &:hover{
            color:$c11;
        }
    }
}

.hide-sidebar{
    .breadcrumb,.content{
        margin-left:0;
    }
}

///////////////////
.lightbox table{height:100%;width:100%}
.lightbox td{vertical-align:middle}
.lightbox-content{
    background-color:$c0;
    width:400px;
    margin:0 auto;
    padding:1px;
    position:relative;
}

.lightbox-body{
    border:1px solid $c44;
    border-top:0;
    padding:10px 30px 30px 30px;
}

.lightbox-head{
    border:1px solid $c44;
    border-bottom:0;
    background-color:$c42; 
    h3{
        @extend .f14;
        line-height:30px;
        padding-left:20px;
        margin:0; 
    }
}

.lightbox{
    display:none;
    line-height:20px;
    overflow:hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    zoom: 1;
    _position: absolute;
}
i.arrow1{
    background:url(#{$skin_folder}/arrow1.png) no-repeat;
    display:block;
    width:13px;
    height:7px;
}

i.arrow5{
    background:url(#{$skin_folder}/arrow5.png) no-repeat;
    display:block;
    width:9px;
    height:5px;
    position:absolute;
    top: 97px;
    left: 85px;
}

i.arrow5h{
    top:2px;
    background:url(#{$skin_folder}/arrow5h.png) no-repeat;
}

i.arrow4{
    background:url(#{$skin_folder}/arrow4.png) no-repeat;
    display:block;
    width:5px;
    height:9px;
    position:absolute;
    top: 300px;
    left: 174px;
}

i.arrow4h{
    left: 5px;
    background:url(#{$skin_folder}/arrow4h.png) no-repeat;
}

@for $i from 1 through 5{
    i.icon#{$i}{
        padding:1px 10px;
        background:url(#{$skin_folder}/icon#{$i}.png) $center;
    }
}

i{
    font-style:normal;
    zoom:1;
    @extend b;
}

b{
    font-weight:normal;
}

td{
    word-wrap:break-word;
    word-break:break-all;
}

th{
    @extend b;
    @extend td;
    vertical-align:top;
    text-align:left;
}

u,s{
    text-decoration:none;
}

.button{
    border:none;
    background:none;
    display:inline-block;
    text-align:center;
    padding:0;
}

.button1{
    color:$c11 !important;
    width:73px;
    height:23px;
    line-height:23px;
}

.button2{
    @extend .f14;
    font-weight:bold;
    color:$c11 !important;
    width:111px;
    height:29px;
    line-height:29px;
}

.button3{
    @extend .f16;
    font-weight:bold;
    color:$c11 !important;
    width:176px;
    height:37px;
    line-height:37px;
}

@for $i from 1 through 4{
    .button#{$i}{
        background-image:url(#{$skin_folder}/button#{$i}.png); 
    }
}

input.text,textarea,select{
    border:1px solid $bc1;
    background:none;
}

select,input.text{
    background-color:$c0;
    padding:2px;
}

input.checkbox,input.radio{
    vertical-align:text-bottom;
}

.title{
    margin:0;
    color:$c11;
    margin-bottom:10px;
}

h1.title{
    @extend .f14;
}

h2.title{
    @extend .f12;
}

.table-b1{
    width:100%;
    tr{
        border-top:1px solid $c42; 
    }
    td{
        padding:5px 0;
        vertical-align:baseline;
    }
    p{
        margin-bottom:5px;
    }
    input.text{
        width:120px; 
        margin:0;
        padding:3px 2px;
    }
    textarea{
        line-height:18px;
        padding:3px 2px;
        width:300px;    
        height:100px;
    }

}

input.text1{
    width:60px !important; 
}
input.text2{
    width:240px !important; 
}
input.text3{
    width:360px !important; 
}

p{
    margin:0;
}

.table-count{
    background-color:$c42; 
    margin:5px 0;
    padding:10px;
    border:1px solid $bc1;
}

.pagination{
    border-top:1px solid $c42;
    border-bottom:1px solid $c42;
    background-color:$c43;   
    margin-top:20px;
    padding:10px;
    text-align:center;
    a{
        padding:0 5px;
        color:$c12; 
    }
    .current{
        @extend .red; 
        font-weight:bold;
    }
}

.table-buttons{
    margin-top:40px;
    margin-bottom:10px;
    .button{
        background-color:$c24; 
        border-radius:3px;
        color:$c22;
        border:none;
    }
}

.table-b2{
    width:100%;
    .thead{
        background-color:$c43; 
        td{
            border:1px solid $bc1; 
            white-space:nowrap;
        }
    }
    td{
        padding:5px; 
        vertical-align:inherit;
    }
    tr{
        border-bottom:1px solid $bc1; 
    }
}

.table-b3{
    width:100%;
    td{
        vertical-align:baseline;
        padding:10px;
        border:1px solid $c44; 
    }
    th{
        white-space:nowrap;
        vertical-align:baseline;
        width:100px;
        background-color:$c43;
        border:1px solid $c44; 
    }
}

.table-b4{
    @extend .table-b3;
}

.table-b5{
    img{
        vertical-align:middle; 
        margin-bottom:5px;
    }
    td{
        padding:5px 10px; 
    }
    width:100%;
    border-top:1px solid $c44; 
    .thead{
        @extend .gray-title;
        td{
            line-height:30px;
            padding:0 0 0 10px;
            border:1px solid $c44; 
            font-weight:bold;
        }
    }
    .info-row td{
        padding:0; 
    }
    .info{
        span{
            padding-right:20px; 
        }
        padding:0 20px;
        margin-bottom:20px;
        border-bottom:3px solid $c26;
        background-color:$c43;
        line-height:40px;
        .btn{
            float:right; 
            height:20px;
        }
    }
    .loaded .info{
        display:none; 
    }
}

i.close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:7px;
}

.center{
    text-align:center;
}

h3.gray-title{
    @extend .f12;
    line-height:34px;
    padding-left:20px;
    margin:0;
}

tr.even{
    background-color:$c25; 
}

.block{
    border:1px solid $c44; 
}

.center{
    text-align:center;
}

.console-screen{
    center{
        margin:15px 0; 
    }
    width:510px;
    margin-right:20px;
    textarea{
        line-height:16px;
        color:$c13;
        width:500px;
        height:240px;
        background-color:$c1; 
        font-family:monospace;
    }
}
