$imgpath:'../img';

$center:no-repeat 50% 50%;

$c0:#fff;
//Black
$c1:#000;
$c11:#333;
$c12:#666;
$c13:#999;

//Blue
$c21:#369;
$c22:#36c;
$c23:#38ace8;
$c24:#cfe6fd;
$c25:#EBF8FE;
$c26:#377AC0;


//Green
$c31:#693;
$c32:#9c6;
$c33:#cf9;
$c34:#0b0;

//Gray
$c41:#d9e4ea;
$c42:#eee;
$c43:#f6f6f6;
$c44:#cecece;

//Red
$c61:#f00;
$c62:#c30;
$c63:#f90;

//Yellow
$c51:#fffcc5;

