body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../销售统计_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:14px;
    top:18px;
    width:1124px;
    height:39px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1124px;
    height:39px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:1120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../销售统计_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:178px;
    top:64px;
    width:480px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../销售统计_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:1002px;
    top:170px;
    width:108px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:40px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../销售统计_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:16px;
    top:20px;
    width:180px;
    height:28px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:34px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:658px;
    top:72px;
    width:109px;
    height:28px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:6px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:730px;
    top:75px;
    width:88px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:830px;
    top:74px;
    width:68px;
    height:28px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:34px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:898px;
    top:77px;
    width:82px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:971px;
    top:117px;
    width:50px;
    height:28px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:34px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:25px;
    top:109px;
    width:75px;
    height:28px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:34px;
}

.u17 {
    position:absolute;
    left:2px;
    top:6px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:90px;
    top:112px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:377px;
    top:111px;
    width:67px;
    height:28px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:34px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:445px;
    top:114px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:195px;
    top:111px;
    width:68px;
    height:28px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:34px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:263px;
    top:114px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:23px;
    top:145px;
    width:75px;
    height:28px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:34px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../销售统计_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:99px;
    top:145px;
    width:178px;
    height:28px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:34px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:18px;
    top:67px;
    width:70px;
    height:28px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:34px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:95px;
    top:70px;
    width:73px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:586px;
    top:149px;
    width:80px;
    height:28px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:656px;
    top:152px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:772px;
    top:151px;
    width:80px;
    height:28px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:844px;
    top:154px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:306px;
    top:146px;
    width:94px;
    height:28px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:34px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../销售统计_files/u27_normal.png');
}

.u40_container {
    position:absolute;
    left:390px;
    top:146px;
    width:178px;
    height:28px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:34px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:993px;
    top:75px;
    width:80px;
    height:28px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:1053px;
    top:78px;
    width:85px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:760px;
    top:116px;
    width:100px;
    height:28px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:852px;
    top:119px;
    width:109px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_normal {
    background-image: url('../销售统计_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:1021px;
    top:119px;
    width:89px;
    height:28px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:34px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:16px;
    top:0px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:16px;
    top:0px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:16px;
    top:0px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:16px;
    top:0px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:16px;
    top:0px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:16px;
    top:0px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:16px;
    top:0px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../销售统计_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:10px;
    top:302px;
    width:1116px;
    height:33px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1116px;
    height:33px;
}

.u75 {
    position:absolute;
    left:2px;
    top:8px;
    width:1112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u76 {
    position:absolute;
    left:10px;
    top:345px;
    width:725px;
    height:82px
}

.u77_normal {
    background-image: url('../销售统计_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:39px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:45px;
}

.u78 {
    position:absolute;
    left:2px;
    top:12px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../销售统计_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:104px;
    top:0px;
    width:114px;
    height:39px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:45px;
}

.u80 {
    position:absolute;
    left:2px;
    top:12px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../销售统计_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:218px;
    top:0px;
    width:112px;
    height:39px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:45px;
}

.u82 {
    position:absolute;
    left:2px;
    top:12px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../销售统计_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:330px;
    top:0px;
    width:84px;
    height:39px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:45px;
}

.u84 {
    position:absolute;
    left:2px;
    top:12px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../销售统计_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:414px;
    top:0px;
    width:100px;
    height:39px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:45px;
}

.u86 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../销售统计_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:514px;
    top:0px;
    width:106px;
    height:39px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:45px;
}

.u88 {
    position:absolute;
    left:2px;
    top:12px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../销售统计_files/u85_normal.png');
}

.u89_container {
    position:absolute;
    left:620px;
    top:0px;
    width:100px;
    height:39px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:45px;
}

.u90 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../销售统计_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:39px;
    width:104px;
    height:38px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:44px;
}

.u92 {
    position:absolute;
    left:2px;
    top:11px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../销售统计_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:104px;
    top:39px;
    width:114px;
    height:38px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:44px;
}

.u94 {
    position:absolute;
    left:2px;
    top:11px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../销售统计_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:218px;
    top:39px;
    width:112px;
    height:38px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:44px;
}

.u96 {
    position:absolute;
    left:2px;
    top:11px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../销售统计_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:330px;
    top:39px;
    width:84px;
    height:38px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:44px;
}

.u98 {
    position:absolute;
    left:2px;
    top:11px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../销售统计_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:414px;
    top:39px;
    width:100px;
    height:38px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:44px;
}

.u100 {
    position:absolute;
    left:2px;
    top:11px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../销售统计_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:514px;
    top:39px;
    width:106px;
    height:38px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:44px;
}

.u102 {
    position:absolute;
    left:2px;
    top:3px;
    width:102px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../销售统计_files/u99_normal.png');
}

.u103_container {
    position:absolute;
    left:620px;
    top:39px;
    width:100px;
    height:38px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:44px;
}

.u104 {
    position:absolute;
    left:2px;
    top:11px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../销售统计_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:10px;
    top:421px;
    width:1125px;
    height:35px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1125px;
    height:35px;
}

.u106 {
    position:absolute;
    left:2px;
    top:10px;
    width:1121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../销售统计_files/u6_normal.png');
}

.u107_container {
    position:absolute;
    left:14px;
    top:304px;
    width:180px;
    height:28px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:34px;
}

.u108 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../销售统计_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:1145px;
    top:304px;
    width:110px;
    height:251px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:251px;
}

.u110 {
    position:absolute;
    left:2px;
    top:118px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u111_container {
    position:absolute;
    left:1040px;
    top:274px;
    width:86px;
    height:28px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:34px;
}

.u112 {
    position:absolute;
    left:2px;
    top:6px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:14px;
    top:269px;
    width:84px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

