{% include 'user.html' %}

{% include 'customer.html' %}

{% include 'outlet.html' %}

{% include 'department.html' %}

<script type="text/javascript">

$(function(){
    var ac_search_customer_window = new PopWindow('.ac-search-customer',{
        title:'选择客户',
        template:'#ac-search-customer-template'
    }).init();

    ac_search_customer_window.bind('open',function(){
    new GridTable('#customer-grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"xxx",
            c4:"xxx"
        }], 
        rowTemplate: kendo.template($("#search-customer-row-template").html())
    }).init(); 
    });

    var ac_select_outlet_window = new PopWindow('.ac-select-outlet',{
        title:'选择营业点',
        template:'#ac-select-outlet-template'
    }).init();

    ac_select_outlet_window.bind('open',function(){
    new GridTable('#outlet-grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"xxx",
            c4:"xxx"
        }], 
        rowTemplate: kendo.template($("#select-outlet-row-template").html())
    }).init(); 
    });

    var ac_search_user_window = new PopWindow('.ac-search-user',{
        title:'选择用户',
        template:'#ac-search-user-template'
    }).init();

    ac_search_user_window.bind('open',function(){
    new GridTable('#user-grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"xxx",
            c4:"xxx"
        }], 
        rowTemplate: kendo.template($("#search-user-row-template").html())
    }).init(); 
    });

    var ac_select_department_window = new PopWindow('.ac-select-department',{
        title:'选择部门',
        template:'#ac-select-department-template'
    }).init();

    ac_select_department_window.bind('open',function(){
    new GridTable('#department-grid-table',{
         dataSource: [{
            c1:222,
            c2:333,
            c3:"xxx",
            c4:"xxx"
        }], 
        rowTemplate: kendo.template($("#select-department-row-template").html())
    }).init(); 
    });


});

</script>


    </div>

</div>

<div id="extFooter">
    <div>
<p>
<a href="javascript:void(0);">关于我们</a>&nbsp;|
<a href="javascript:void(0);">微博</a>&nbsp;|
<a href="javascript:void(0);">服务条款</a>&nbsp;|
<a href="javascript:void(0);">隐私政策</a>&nbsp;|
</p>
<p>客户服务热线:400-720-6666</p>
    </div>
</div>
</body>
</html>
