body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../保险单管理_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:900px;
    height:700px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:906px;
    height:706px;
}

.u1 {
    position:absolute;
    left:2px;
    top:342px;
    width:896px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:900px;
    height:700px
}

.u2_original {
    background-image: url('../保险单管理_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:820px;
    height:300px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:826px;
    height:306px;
}

.u3 {
    position:absolute;
    left:2px;
    top:142px;
    width:816px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:10px;
    width:820px;
    height:300px
}

.u4_original {
    background-image: url('../保险单管理_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:16px;
    top:20px;
    width:807px;
    height:59px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:807px;
    height:59px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:803px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:16px;
    top:20px;
    width:807px;
    height:59px
}

.u6_original {
    background-image: url('../保险单管理_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:-20px;
    top:320px;
    width:807px;
    height:28px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:807px;
    height:28px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:803px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:-20px;
    top:320px;
    width:807px;
    height:28px
}

.u8 {
    position:absolute;
    left:119px;
    top:40px;
    width:191px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_text_sketch {
    font-family: '应用字体';
}

.u9 {
    position:absolute;
    left:412px;
    top:39px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_text_sketch {
    font-family: '应用字体';
}

.u10 {
    position:absolute;
    left:590px;
    top:39px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_text_sketch {
    font-family: '应用字体';
}

#u11 {
    position:absolute;
    left:30px;
    top:357px;
    width:784px;
    height:278px
}

.u11_table {
    background-image: url('../保险单管理_files/u11_table.png');
}

.u11_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:788px;
    height:282px;
}

.u12_original {
    background-image: url('../保险单管理_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px
}

.u14_original {
    background-image: url('../保险单管理_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:25px
}

.u16_original {
    background-image: url('../保险单管理_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:300px;
    top:0px;
    width:284px;
    height:25px
}

.u18_original {
    background-image: url('../保险单管理_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:584px;
    top:0px;
    width:195px;
    height:25px
}

.u20_original {
    background-image: url('../保险单管理_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:156px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:156px
}

.u22_original {
    background-image: url('../保险单管理_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:156px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:100px;
    top:25px;
    width:200px;
    height:156px
}

.u24_original {
    background-image: url('../保险单管理_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:156px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:300px;
    top:25px;
    width:284px;
    height:156px
}

.u26_original {
    background-image: url('../保险单管理_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:156px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:152px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:584px;
    top:25px;
    width:195px;
    height:156px
}

.u28_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:181px;
    width:100px;
    height:23px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:0px;
    top:181px;
    width:100px;
    height:23px
}

.u30_original {
    background-image: url('../保险单管理_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:100px;
    top:181px;
    width:200px;
    height:23px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:100px;
    top:181px;
    width:200px;
    height:23px
}

.u32_original {
    background-image: url('../保险单管理_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:300px;
    top:181px;
    width:284px;
    height:23px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:300px;
    top:181px;
    width:284px;
    height:23px
}

.u34_original {
    background-image: url('../保险单管理_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:584px;
    top:181px;
    width:195px;
    height:23px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:584px;
    top:181px;
    width:195px;
    height:23px
}

.u36_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:204px;
    width:100px;
    height:23px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:0px;
    top:204px;
    width:100px;
    height:23px
}

.u38_original {
    background-image: url('../保险单管理_files/u30_original.png');
}

.u38_container {
    position:absolute;
    left:100px;
    top:204px;
    width:200px;
    height:23px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:100px;
    top:204px;
    width:200px;
    height:23px
}

.u40_original {
    background-image: url('../保险单管理_files/u32_original.png');
}

.u40_container {
    position:absolute;
    left:300px;
    top:204px;
    width:284px;
    height:23px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:300px;
    top:204px;
    width:284px;
    height:23px
}

.u42_original {
    background-image: url('../保险单管理_files/u34_original.png');
}

.u42_container {
    position:absolute;
    left:584px;
    top:204px;
    width:195px;
    height:23px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:584px;
    top:204px;
    width:195px;
    height:23px
}

.u44_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:227px;
    width:100px;
    height:23px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:0px;
    top:227px;
    width:100px;
    height:23px
}

.u46_original {
    background-image: url('../保险单管理_files/u30_original.png');
}

.u46_container {
    position:absolute;
    left:100px;
    top:227px;
    width:200px;
    height:23px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:100px;
    top:227px;
    width:200px;
    height:23px
}

.u48_original {
    background-image: url('../保险单管理_files/u32_original.png');
}

.u48_container {
    position:absolute;
    left:300px;
    top:227px;
    width:284px;
    height:23px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:300px;
    top:227px;
    width:284px;
    height:23px
}

.u50_original {
    background-image: url('../保险单管理_files/u34_original.png');
}

.u50_container {
    position:absolute;
    left:584px;
    top:227px;
    width:195px;
    height:23px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:584px;
    top:227px;
    width:195px;
    height:23px
}

.u52_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:250px;
    width:100px;
    height:23px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:0px;
    top:250px;
    width:100px;
    height:23px
}

.u54_original {
    background-image: url('../保险单管理_files/u30_original.png');
}

.u54_container {
    position:absolute;
    left:100px;
    top:250px;
    width:200px;
    height:23px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:100px;
    top:250px;
    width:200px;
    height:23px
}

.u56_original {
    background-image: url('../保险单管理_files/u32_original.png');
}

.u56_container {
    position:absolute;
    left:300px;
    top:250px;
    width:284px;
    height:23px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:300px;
    top:250px;
    width:284px;
    height:23px
}

.u58_original {
    background-image: url('../保险单管理_files/u34_original.png');
}

.u58_container {
    position:absolute;
    left:584px;
    top:250px;
    width:195px;
    height:23px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:584px;
    top:250px;
    width:195px;
    height:23px
}

#u60 {
    position:absolute;
    left:20px;
    top:90px;
    width:659px;
    height:97px
}

.u60_table {
    background-image: url('../保险单管理_files/u60_table.png');
}

.u60_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:663px;
    height:101px;
}

.u61_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:23px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:23px
}

.u63_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u63_container {
    position:absolute;
    left:75px;
    top:0px;
    width:75px;
    height:23px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:75px;
    top:0px;
    width:75px;
    height:23px
}

.u65_original {
    background-image: url('../保险单管理_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:150px;
    top:0px;
    width:36px;
    height:23px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:150px;
    top:0px;
    width:36px;
    height:23px
}

.u67_original {
    background-image: url('../保险单管理_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:186px;
    top:0px;
    width:51px;
    height:23px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:186px;
    top:0px;
    width:51px;
    height:23px
}

.u69_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:237px;
    top:0px;
    width:67px;
    height:23px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:237px;
    top:0px;
    width:67px;
    height:23px
}

.u71_original {
    background-image: url('../保险单管理_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:304px;
    top:0px;
    width:70px;
    height:23px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:304px;
    top:0px;
    width:70px;
    height:23px
}

.u73_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u73_container {
    position:absolute;
    left:374px;
    top:0px;
    width:67px;
    height:23px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:374px;
    top:0px;
    width:67px;
    height:23px
}

.u75_original {
    background-image: url('../保险单管理_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:441px;
    top:0px;
    width:56px;
    height:23px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:441px;
    top:0px;
    width:56px;
    height:23px
}

.u77_original {
    background-image: url('../保险单管理_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:497px;
    top:0px;
    width:57px;
    height:23px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:497px;
    top:0px;
    width:57px;
    height:23px
}

.u79_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u79_container {
    position:absolute;
    left:554px;
    top:0px;
    width:100px;
    height:23px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:554px;
    top:0px;
    width:100px;
    height:23px
}

.u81_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:23px;
    width:75px;
    height:23px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:0px;
    top:23px;
    width:75px;
    height:23px
}

.u83_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u83_container {
    position:absolute;
    left:75px;
    top:23px;
    width:75px;
    height:23px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:75px;
    top:23px;
    width:75px;
    height:23px
}

.u85_original {
    background-image: url('../保险单管理_files/u65_original.png');
}

.u85_container {
    position:absolute;
    left:150px;
    top:23px;
    width:36px;
    height:23px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:150px;
    top:23px;
    width:36px;
    height:23px
}

.u87_original {
    background-image: url('../保险单管理_files/u67_original.png');
}

.u87_container {
    position:absolute;
    left:186px;
    top:23px;
    width:51px;
    height:23px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:186px;
    top:23px;
    width:51px;
    height:23px
}

.u89_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u89_container {
    position:absolute;
    left:237px;
    top:23px;
    width:67px;
    height:23px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:237px;
    top:23px;
    width:67px;
    height:23px
}

.u91_original {
    background-image: url('../保险单管理_files/u71_original.png');
}

.u91_container {
    position:absolute;
    left:304px;
    top:23px;
    width:70px;
    height:23px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:304px;
    top:23px;
    width:70px;
    height:23px
}

.u93_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u93_container {
    position:absolute;
    left:374px;
    top:23px;
    width:67px;
    height:23px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:374px;
    top:23px;
    width:67px;
    height:23px
}

.u95_original {
    background-image: url('../保险单管理_files/u75_original.png');
}

.u95_container {
    position:absolute;
    left:441px;
    top:23px;
    width:56px;
    height:23px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:441px;
    top:23px;
    width:56px;
    height:23px
}

.u97_original {
    background-image: url('../保险单管理_files/u77_original.png');
}

.u97_container {
    position:absolute;
    left:497px;
    top:23px;
    width:57px;
    height:23px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:497px;
    top:23px;
    width:57px;
    height:23px
}

.u99_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u99_container {
    position:absolute;
    left:554px;
    top:23px;
    width:100px;
    height:23px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:554px;
    top:23px;
    width:100px;
    height:23px
}

.u101_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:46px;
    width:75px;
    height:23px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:0px;
    top:46px;
    width:75px;
    height:23px
}

.u103_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u103_container {
    position:absolute;
    left:75px;
    top:46px;
    width:75px;
    height:23px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:75px;
    top:46px;
    width:75px;
    height:23px
}

.u105_original {
    background-image: url('../保险单管理_files/u65_original.png');
}

.u105_container {
    position:absolute;
    left:150px;
    top:46px;
    width:36px;
    height:23px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:150px;
    top:46px;
    width:36px;
    height:23px
}

.u107_original {
    background-image: url('../保险单管理_files/u67_original.png');
}

.u107_container {
    position:absolute;
    left:186px;
    top:46px;
    width:51px;
    height:23px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:186px;
    top:46px;
    width:51px;
    height:23px
}

.u109_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u109_container {
    position:absolute;
    left:237px;
    top:46px;
    width:67px;
    height:23px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:237px;
    top:46px;
    width:67px;
    height:23px
}

.u111_original {
    background-image: url('../保险单管理_files/u71_original.png');
}

.u111_container {
    position:absolute;
    left:304px;
    top:46px;
    width:70px;
    height:23px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:304px;
    top:46px;
    width:70px;
    height:23px
}

.u113_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u113_container {
    position:absolute;
    left:374px;
    top:46px;
    width:67px;
    height:23px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:374px;
    top:46px;
    width:67px;
    height:23px
}

.u115_original {
    background-image: url('../保险单管理_files/u75_original.png');
}

.u115_container {
    position:absolute;
    left:441px;
    top:46px;
    width:56px;
    height:23px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:441px;
    top:46px;
    width:56px;
    height:23px
}

.u117_original {
    background-image: url('../保险单管理_files/u77_original.png');
}

.u117_container {
    position:absolute;
    left:497px;
    top:46px;
    width:57px;
    height:23px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:497px;
    top:46px;
    width:57px;
    height:23px
}

.u119_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u119_container {
    position:absolute;
    left:554px;
    top:46px;
    width:100px;
    height:23px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:554px;
    top:46px;
    width:100px;
    height:23px
}

.u121_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:69px;
    width:75px;
    height:23px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:0px;
    top:69px;
    width:75px;
    height:23px
}

.u123_original {
    background-image: url('../保险单管理_files/u61_original.png');
}

.u123_container {
    position:absolute;
    left:75px;
    top:69px;
    width:75px;
    height:23px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:75px;
    top:69px;
    width:75px;
    height:23px
}

.u125_original {
    background-image: url('../保险单管理_files/u65_original.png');
}

.u125_container {
    position:absolute;
    left:150px;
    top:69px;
    width:36px;
    height:23px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:150px;
    top:69px;
    width:36px;
    height:23px
}

.u127_original {
    background-image: url('../保险单管理_files/u67_original.png');
}

.u127_container {
    position:absolute;
    left:186px;
    top:69px;
    width:51px;
    height:23px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:186px;
    top:69px;
    width:51px;
    height:23px
}

.u129_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u129_container {
    position:absolute;
    left:237px;
    top:69px;
    width:67px;
    height:23px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:237px;
    top:69px;
    width:67px;
    height:23px
}

.u131_original {
    background-image: url('../保险单管理_files/u71_original.png');
}

.u131_container {
    position:absolute;
    left:304px;
    top:69px;
    width:70px;
    height:23px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:304px;
    top:69px;
    width:70px;
    height:23px
}

.u133_original {
    background-image: url('../保险单管理_files/u69_original.png');
}

.u133_container {
    position:absolute;
    left:374px;
    top:69px;
    width:67px;
    height:23px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:374px;
    top:69px;
    width:67px;
    height:23px
}

.u135_original {
    background-image: url('../保险单管理_files/u75_original.png');
}

.u135_container {
    position:absolute;
    left:441px;
    top:69px;
    width:56px;
    height:23px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:441px;
    top:69px;
    width:56px;
    height:23px
}

.u137_original {
    background-image: url('../保险单管理_files/u77_original.png');
}

.u137_container {
    position:absolute;
    left:497px;
    top:69px;
    width:57px;
    height:23px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:497px;
    top:69px;
    width:57px;
    height:23px
}

.u139_original {
    background-image: url('../保险单管理_files/u28_original.png');
}

.u139_container {
    position:absolute;
    left:554px;
    top:69px;
    width:100px;
    height:23px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:554px;
    top:69px;
    width:100px;
    height:23px
}

.u141 {
    position:absolute;
    left:710px;
    top:65px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u141_text_sketch {
    font-family: '应用字体';
}

.u142 {
    position:absolute;
    left:720px;
    top:100px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u142_text_sketch {
    font-family: '应用字体';
}

