<div class="sidebar area">
  <div class="menu-sidebar">
    {% for x in data['sidebar'] %}
    <dl>
      <dt class="menu-title"><a href="javascript:;">{{x[0]}}</a>
      <i class="arrow1"></i>
      </dt>
      <dd class="menu-item">
      <dl>
        {% if len(x) > 1 %}
        {% for x in x[1] %}
        <dd>
        <a {% if data['title']==x[0] %}
          class="current" 
          {% end %} 
          href="{{x[1]}}.html">{{x[0]}}</a>
        </dd>
        {% end %}
        {% end %}
      </dl> 
      </dd>
    </dl>
    {% end %}
  </div>
</div>
