body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../查看政策详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:6px;
    top:8px;
    width:1044px;
    height:39px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1044px;
    height:39px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:1040px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:14px;
    top:18px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../查看政策详情_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:32px;
    top:56px;
    width:1113px;
    height:378px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1113px;
    height:378px;
}

.u4 {
    position:absolute;
    left:2px;
    top:181px;
    width:1109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../查看政策详情_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:161px;
    top:165px;
    width:306px;
    height:27px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:306px;
    height:27px;
}

.u6 {
    position:absolute;
    left:2px;
    top:6px;
    width:302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:80px;
    top:170px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../查看政策详情_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:54px;
    top:58px;
    width:127px;
    height:24px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:24px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:161px;
    top:166px;
    width:121px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:56px;
    top:65px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../查看政策详情_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:35px;
    top:362px;
    width:209px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../查看政策详情_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:447px;
    top:287px;
    width:128px;
    height:21px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:21px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../查看政策详情_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:585px;
    top:282px;
    width:109px;
    height:31px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:567px;
    top:1820px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_normal {
    background-image: url('../查看政策详情_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:28px;
    top:420px;
    width:99px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../查看政策详情_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:33px;
    top:441px;
    width:90px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../查看政策详情_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:105px;
    top:311px;
    width:120px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../查看政策详情_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:35px;
    top:311px;
    width:70px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../查看政策详情_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:225px;
    top:311px;
    width:70px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../查看政策详情_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:94px;
    top:92px;
    width:166px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../查看政策详情_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:161px;
    top:116px;
    width:518px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:524px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:514px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../查看政策详情_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:161px;
    top:143px;
    width:259px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../查看政策详情_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:6px;
    top:44px;
    width:1144px;
    height:46px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1150px;
    height:52px;
}

.u36 {
    position:absolute;
    left:2px;
    top:15px;
    width:1140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../查看政策详情_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:160px;
    top:166px;
    width:138px;
    height:21px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:27px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../查看政策详情_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:160px;
    top:193px;
    width:295px;
    height:21px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:27px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../查看政策详情_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:158px;
    top:220px;
    width:295px;
    height:21px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:27px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../查看政策详情_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:158px;
    top:220px;
    width:352px;
    height:21px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:358px;
    height:27px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:348px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../查看政策详情_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:117px;
    top:420px;
    width:127px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../查看政策详情_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:120px;
    top:441px;
    width:155px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../查看政策详情_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:96px;
    top:287px;
    width:138px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../查看政策详情_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:84px;
    top:92px;
    width:72px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:156px;
    top:92px;
    width:36px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../查看政策详情_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:376px;
    top:92px;
    width:53px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../查看政策详情_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:347px;
    top:331px;
    width:362px;
    height:21px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:368px;
    height:27px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:358px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../查看政策详情_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:293px;
    top:311px;
    width:189px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../查看政策详情_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:247px;
    top:285px;
    width:71px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../查看政策详情_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:320px;
    top:286px;
    width:377px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:383px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:373px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u65_container {
    position:absolute;
    left:248px;
    top:92px;
    width:36px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../查看政策详情_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:192px;
    top:92px;
    width:56px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u69_container {
    position:absolute;
    left:340px;
    top:92px;
    width:36px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../查看政策详情_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:284px;
    top:92px;
    width:57px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../查看政策详情_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:430px;
    top:92px;
    width:37px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../查看政策详情_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:119px;
    top:331px;
    width:141px;
    height:21px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:27px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../查看政策详情_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:46px;
    top:463px;
    width:67px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u79_container {
    position:absolute;
    left:119px;
    top:463px;
    width:36px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../查看政策详情_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:114px;
    top:481px;
    width:63px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u83_container {
    position:absolute;
    left:60px;
    top:481px;
    width:36px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../查看政策详情_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:54px;
    top:503px;
    width:196px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../查看政策详情_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:60px;
    top:523px;
    width:117px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../查看政策详情_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:56px;
    top:390px;
    width:146px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../查看政策详情_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:80px;
    top:170px;
    width:180px;
    height:14px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:14px;
}

.u92 {
    position:absolute;
    left:2px;
    top:-1px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../查看政策详情_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:84px;
    top:64px;
    width:191px;
    height:28px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:191px;
    height:28px;
}

.u94 {
    position:absolute;
    left:2px;
    top:6px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:80px;
    top:47px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../查看政策详情_files/u37_normal.png');
}

.u96_container {
    position:absolute;
    left:160px;
    top:43px;
    width:138px;
    height:21px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:27px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../查看政策详情_files/u77_normal.png');
}

.u98_container {
    position:absolute;
    left:46px;
    top:543px;
    width:67px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:26px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u100_container {
    position:absolute;
    left:119px;
    top:543px;
    width:36px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../查看政策详情_files/u77_normal.png');
}

.u102_container {
    position:absolute;
    left:44px;
    top:563px;
    width:67px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../查看政策详情_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:117px;
    top:563px;
    width:131px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../查看政策详情_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:33px;
    top:581px;
    width:80px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../查看政策详情_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:119px;
    top:581px;
    width:239px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:245px;
    height:26px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:235px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../查看政策详情_files/u77_normal.png');
}

.u110_container {
    position:absolute;
    left:44px;
    top:606px;
    width:67px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u112_container {
    position:absolute;
    left:117px;
    top:606px;
    width:36px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../查看政策详情_files/u77_normal.png');
}

.u114_container {
    position:absolute;
    left:44px;
    top:626px;
    width:67px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:26px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../查看政策详情_files/u53_normal.png');
}

.u116_container {
    position:absolute;
    left:117px;
    top:626px;
    width:36px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:538px;
    top:670px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u119 {
    position:absolute;
    left:33px;
    top:420px;
    width:510px;
    height:229px
}

.u120_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u122_container {
    position:absolute;
    left:78px;
    top:0px;
    width:427px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:20px;
    width:78px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u126_container {
    position:absolute;
    left:78px;
    top:20px;
    width:427px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:40px;
    width:78px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u130_container {
    position:absolute;
    left:78px;
    top:40px;
    width:427px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:60px;
    width:78px;
    height:20px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u134_container {
    position:absolute;
    left:78px;
    top:60px;
    width:427px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:80px;
    width:78px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u138_container {
    position:absolute;
    left:78px;
    top:80px;
    width:427px;
    height:20px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:100px;
    width:78px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u142_container {
    position:absolute;
    left:78px;
    top:100px;
    width:427px;
    height:20px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:120px;
    width:78px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u146_container {
    position:absolute;
    left:78px;
    top:120px;
    width:427px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u148_container {
    position:absolute;
    left:0px;
    top:140px;
    width:78px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u150_container {
    position:absolute;
    left:78px;
    top:140px;
    width:427px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u152_container {
    position:absolute;
    left:0px;
    top:160px;
    width:78px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u154_container {
    position:absolute;
    left:78px;
    top:160px;
    width:427px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../查看政策详情_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:180px;
    width:78px;
    height:24px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:30px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../查看政策详情_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:78px;
    top:180px;
    width:427px;
    height:24px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:30px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../查看政策详情_files/u120_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:204px;
    width:78px;
    height:20px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../查看政策详情_files/u122_normal.png');
}

.u162_container {
    position:absolute;
    left:78px;
    top:204px;
    width:427px;
    height:20px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:26px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../查看政策详情_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:182px;
    top:300px;
    width:128px;
    height:21px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:27px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../查看政策详情_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:56px;
    top:246px;
    width:100px;
    height:21px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:27px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../查看政策详情_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:288px;
    top:246px;
    width:92px;
    height:21px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:27px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../查看政策详情_files/u25_normal.png');
}

.u170_container {
    position:absolute;
    left:60px;
    top:352px;
    width:70px;
    height:20px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u171 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../查看政策详情_files/u25_normal.png');
}

.u172_container {
    position:absolute;
    left:280px;
    top:352px;
    width:70px;
    height:20px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../查看政策详情_files/u23_normal.png');
}

.u174_container {
    position:absolute;
    left:140px;
    top:352px;
    width:120px;
    height:20px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u175 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../查看政策详情_files/u176_normal.png');
}

.u176_container {
    position:absolute;
    left:360px;
    top:352px;
    width:140px;
    height:20px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u177 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

