body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../添加入库_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:91px;
    top:157px;
    width:589px;
    height:193px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:589px;
    height:193px;
}

.u1 {
    position:absolute;
    left:2px;
    top:88px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../添加入库_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:334px;
    top:159px;
    width:150px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../添加入库_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:520px;
    top:190px;
    width:80px;
    height:22px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:28px;
}

.u5 {
    position:absolute;
    left:2px;
    top:3px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../添加入库_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:550px;
    top:298px;
    width:80px;
    height:22px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:28px;
}

.u7 {
    position:absolute;
    left:2px;
    top:3px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:470px;
    top:193px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:179px;
    top:190px;
    width:12px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:179px;
    top:243px;
    width:12px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:508px;
    top:190px;
    width:12px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

