{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-pnrcjdd">
            <div class="metas clearfix">
                <div class="col col1">
                    请使用RT结果<span class="red">及QTE信息</span>快速创单，如实提交RT信息
                </div>
                <div class="col col2">
                    授权指令：<span class="red">RMRMKLFKDSJL</span>
                </div>
            </div>
            <div class="block block1">
                <div class="block-body clearfix">
                    <div class="console-screen col col1">
                        <form action="#" method="post">
                            <textarea name="">
                                FDKLJFKJLF<br>
                                KFJDKLJ CKJLFDKJL<br>
                                <span class="red">KJ@KJL$K</span>
                            </textarea>
                            <center>
                                <input type="submit" class="submit button button2" value="立即提交" name="" />
                                <input type="reset" class="reset button button2" name="" value="清空结果" />
                            </center>
                        </form>
                    </div>
                    <div class="col col2">
                        <center>例如：REKLJFKDLFKDSJL</center>
                        <p class="red">温馨提示：</p>
                        <p>
                            1.请使用您的黑屏系统，调取PNR内容，再执行PATA指令，将其全部内容复制，并粘帖到左边的黑色输入框内； 
                        </p>
                        <p>
                            2.复制的内容必须从RT编码开始复制到QTE/航空公司（如：QTE/MU），结果的所有内容； 
                        </p>
                    </div>
                </div>
            </div>

            <div class="block block2">
                <div class="block-body clearfix">
                    <div class="col col1">
                        <h3 class="gray-title center">
                            PNR记录编号创建订单 
                        </h3>
                        <form action="提交PNR订单.html" method="post">
                            <table cellspacing="0" class="table1-pnrcjdd table-b3">
                                <tr>
                                    <th>请选择成人或儿童</th>
                                    <td>
                                        <label>
                                            <input type="radio" class="radio" value="" name="" />
                                            成人
                                        </label>
                                        <label>
                                            <input type="radio" class="radio" value="" name="" />
                                            儿童
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>请输入PNR编号</th>
                                    <td>
                                        <input type="text" class="text" value="" name="" />
                                    </td>
                                </tr>
                            </table>
                            <center>
                                <input type="submit" onclick="location.href='提交PNR订单.html';return false;" class="submit button button2" value="提交PNR订单" name="" />
                            </center>
                        </form>
                    </div>
                    <div class="col col2">
                        <p>
                            <strong>注意事项：</strong>
                        </p>
                        <p>
                            1.请确认您的PNR中不包含共享航班，由于共享航班问题产生的纠纷本平台概不负责。请确保导入旅客API信息准确无误。 
                        </p>
                        <p>
                            2.请勿在订票系统无任何可销售的低舱位或者航班超售的情况下，通过违规手段获取航空公司的低舱位，如因此产生的所有损失和赔偿，由采购商自行承担。平台方不承担任何责任。 
                        </p>
                        <p class="blue">
                            3.现已支持QTE面价、特价、SOTO行程导入！导入后如需修改API信息，需在线下自行操作。 
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% include '../partial/footer.html' %}
