{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-cpdd mo-ddgl">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">
                        {{data['title']}}
                    </h3>
                </div>
                <div class="block-body">
                    <table frame=void cellspacing="0" class="table1-cpdd table-b3">
                        <tr>
                            <th>查询类型</th>
                            <td colspan=3>
                                <label>
                                    票号
                                    <input type="text" class="text" value="" name="" />
                                </label>
                                <label>
                                    PNR编号
                                    <input type="text" class="text" value="" name="" />
                                </label>
                                <label>
                                    乘客姓名
                                    <input type="text" class="text" value="" name="" />
                                </label>
                                <label>
                                    订单编号
                                    <input type="text" class="text" value="" name="" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                锁单筛选
                            </th>
                            <td>
                                <label>
                                <input type="radio" class="radio" value="" name="" />
                                所有订单
                                </label>
                                <label>
                                <input type="radio" class="radio" value="" name="" />
                                锁定订单
                                </label>
                                <label>
                                <input type="radio" class="radio" value="" name="" />
                                未锁定订单
                                </label>
                            </td>
                            {% if usergroup!='gys' %}
                            <th>日期范围</th>
                            <td>
                                <span id="beginNode">
                                <input type="text" class="text datepicker" value="" name="" />
                                </span>
                                至
                                <span id="endNode">
                                <input type="text" class="text datepicker" value="" name="" />
                                </span>
                            </td>
                            {% end %}
                        </tr>
                    </table>
                    <p class="center">
                        <input type="button" class="button button2" value="立即查询" name="" />
                    </p>
                </div>
            </div>

            <div class="block block2">
                {% if usergroup!='gys' %}
                <div class="block-head">
                    <ul>
                        <li class="current">
                        <span>全部订单</span>
                        </li>
                        <li>
                        <span>审核中</span>
                        </li>
                        <li>
                        <span>审核退回</span>
                        </li>
                        <li>
                            <span>取消订单</span>
                        </li>
                        <li>
                            <span>待支付</span>
                        </li>
                        <li>
                            <span>出票中</span>
                        </li>
                        <li>
                            <span>出票完成</span>
                        </li>
                        <li>
                            <span>当日订单</span>
                        </li>
                        <li>
                            <span>暂不能出票</span>
                        </li>
                    </ul>
                </div>
                {% end %}
                <div class="block-body">
                    <table frame="void" cellspacing="0" class="table2-cpdd table-b2">
                        <tr class="thead">
                            <td>订单编号</td>
                            <td>订单状态</td>
                            <td>乘机人</td>
                            <td>PNR</td>
                            <td>票号</td>
                            <td>行程</td>
                            <td>航班日期</td>
                            <td>总金额</td>
                            <td>税金</td>
                            <td>返点返款</td>
                            <td>预订时间</td>
                            <td>备注</td>
                            {% if usergroup=="gys"  %}
                            <td>操作</td>
                            {% end %}
                        </tr>
                        <tr class="odd">
                            <td><a target="_blank" href="订单详情.html">32132132</a></td>
                            <td>订单详情</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                            </tr>
                        <tr class="even">
                            <td><a target="_blank" href="改签处理.html">32132132</a></td>
                            <td>改签处理</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                        </tr>
                        <tr class="odd">
                            <td><a target="_blank" href="出票处理.html">32132132</a></td>
                            <td>出票处理</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                            </tr>
                            <tr class="even">
                            <td><a target="_blank" href="预定审核.html">32132132</a></td>
                            <td>预订审核</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                            </tr>
                            <tr class="odd">
                            <td><a target="_blank" href="改签审核.html">32132132</a></td>
                            <td>改签审核</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                            </tr>
                            <tr class="even">
                            <td><a target="_blank" href="退票审核.html">32132132</a></td>
                            <td>退票审核</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                            </tr>
                            <tr class="odd">
                            <td><a target="_blank" href="退票处理.html">32132132</a></td>
                            <td>退票处理</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                            </tr>
                            <tr class="even">
                            <td><a target="_blank" href="废票处理.html">32132132</a></td>
                            <td>废票处理</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td class="red">xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xxxxxxxx</td>
                            {% if usergroup=="gys"  %}
                            <td width=80>
                                <input type="button" class="button button1" value="锁定" name="" />
                            </td>
                            {% end %}
                            </tr>
                    </table>

                </div>
            </div>

                    {% include 'partial/pagination.html' %}


        </div>

    </div>
</div>

{% include '../partial/footer.html' %}
