{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-fdgl mo-ddgl">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">
                        国际返点订单 
                    </h3>
                </div>
                <div class="block-body">
                    <table frame=void cellspacing="0" class="table1 table-b4">
                        <tr>
                            <th>政策返点类型</th>
                            <td>
                                <select name="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <th>出发地点</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                            <th>航空公司</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>政策类型</th>
                            <td>
                                <select name="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <th>到达地点</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                            <th>舱位</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>政策状态</th>
                            <td>
                                <select name="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <th>
                                政策开始日期 
                            </th>
                            <td>
                                <input type="text" class="text datepicker" value="" name="" />
                            </td>
                            <th>
                                政策结束日期 
                            </th>
                            <td>
                                <input type="text" class="text datepicker" value="" name="" />
                            </td>
                        </tr>
                    </table>
                    <p class="center">
                        <input type="button" class="button button2" value="查询" name="" />
                    </p>
                </div>
            </div>

            <div class="xblock">
                <input type="button" class="button button5" value="挂起" name="" />
                <input type="button" class="button button5" value="启用" name="" />
                <input type="button" class="button button5" onclick="location.href='政策添加.html'" value="新增" name="" />
                <input type="button" class="button button5" value="删除" name="" />
                <input type="button" class="button button5" value="修改" name="" />
                <input type="button" class="button button5" value="复制并新增" name="" />
                <input type="button" class="button button5" value="批量设置授权号" name="" />
                <input type="button" class="button button5" value="全部挂起" name="" />
                <input type="button" class="button button5" value="全部启用" name="" />
                <input type="button" class="button button5" value="查询结果挂起" name="" />
                <input type="button" class="button button5" value="查询结果启用" name="" />
            </div>

            <div class="block block2">
                    <table frame="void" cellspacing="0" class="table2-cpdd table-b2">
                        <tr class="thead">
                            <td>
                           <input type="checkbox" class="checkbox" value="" name="" />
                            </td>
                            <td>政策类型</td>
                            <td>政策状态</td>
                            <td>航空公司</td>
                            <td>返点类型</td>
                            <td>有效期</td>
                            <td>舱位</td>
                            <td>始发城市</td>
                            <td>目的城市</td>
                            <td>基本代理费</td>
                            <td>奖励扣率</td>
                            <td>奖励金额</td>
                        </tr>
                        {% for x in range(10) %}
                        {% if x%2==0 %}
                        <tr class="odd">
                        {% else  %}
                        <tr class="even">
                        {% end %}
                            <td>
                           <input type="checkbox" class="checkbox" value="" name="" />
                            </td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                        </tr>
                        {% end %}
                    </table>

            </div>

                    {% include 'partial/pagination.html' %}


        </div>

    </div>
</div>

{% include '../partial/footer.html' %}
