{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-hbcx">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">国际航班查询</h3>
                </div>
                <div class="block-body">
                    <table frame=void cellspacing="0" class="table-b4">
                        <tr>
                            <th>航班类型</th>
                            <td colspan=5>
                                <label>
                                    <input type="radio" class="radio" value="" name="" />
                                    单程
                                </label>
                                <label>
                                    <input type="radio" class="radio" value="" name="" />
                                    往返
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>出发城市</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                            <th>到达城市</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                            <th>出发日期</th>
                            <td>
                                <input type="text" class="text datepicker" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>航空公司</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                            <th>乘客类型</th>
                            <td>
                                <select name="">
                                    <option value="">不限</option>
                                </select>
                            </td>
                            <th>舱位等级</th>
                            <td>
                                <select name="">
                                    <option value="">不限</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <p class="center">
                        <input type="button" class="button button2" value="搜索" name="" />
                    </p>
                </div>
            </div>

            <div class="block block2">
                <div class="block-body">
                    <table frame="void" cellspacing="0" class="table-b5">
                        <tr class="thead">
                            <td>航空公司</td>
                            <td>航班</td>
                            <td>机型</td>
                            <td>起降机场</td>
                            <td>起降时间</td>
                            <td>飞行时间</td>
                            <td>舱位</td>
                            <td>剩余座位</td>
                            <td>操作</td>
                        </tr>
                        {% for x in range(6) %}
                        {% if x%2==0 %}
                        <tr>
                            <td>
                                <img src="{{static_url('img/flights/')}}dongfang.png" alt="" />
                                东方航空
                            </td>
                            <td>KA858</td>
                            <td>空客kj</td>
                            <td>上海-香港</td>
                            <td>07:00-09:20</td>
                            <td>2小时</td>
                            <td>经济</td>
                            <td>2</td>
                            <td>
                                <span class="more">
                                    更多舱位
                                </span>
                                <i class="arrow6"></i>
                            </td>
                        </tr>
                        {% else  %}
                        <tr class="info-row">
                            <td colspan=9>
                                <div class="info">
                                <span class="blue">
                                    退改签 
                                </span>
                                <span>
                                    票面价：
                                    <b class="red">1400</b>
                                </span>
                                <span>
                                    代理费：
                                    0%
                                </span>
                                <span>
                                    奖励：
                                    0.0%+120
                                </span>
                                <span>
                                    佣金：
                                    <b class="red">
                                        120 
                                    </b>
                                </span>
                                <span>
                                    税金：599 
                                </span>
                                <span>
                                    结算价：
                                    <b class="redb">
                                        1180 
                                    </b>
                                </span>
                                <span class="btn">
                                    <input type="button" class="button button1" value="预订" name="" />
                                </span>
                            
                                </div>
                            </td>
                        </tr>
                        {% end %}
                        {% end %}
                    </table>
                </div>
            
            </div>

                    {% include 'partial/pagination.html' %}
        </div>

    </div>
</div>
{% include '../partial/footer.html' %}
