{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-zcdr">
            <div class="block">
                <h3 class="gray-title">
                    国际特价政策导入 
                </h3>
                <p>
                <label>
                    选择文件导入地址
                    <span class="red">*</span>
                </label>
                <input type="file" class="file" value="" name="" />
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="#">模版下载</a>
                </p>
                <p class="red">
                *新导入的政策会覆盖原有的政策，请谨慎操作！ 
                </p>
            </div>
        </div>
    </div>
</div>
{% include '../partial/footer.html' %}

