{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-hbcx">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">{{data['title']}}</h3>
                </div>
                <div class="block-body">
                    <form action="/" id="aspnetForm" name="aspnetForm" method="post">
                    <table frame=void cellspacing="0" class="table-b4">
                        <tr>
                            <th>航班类型</th>
                            <td>
                                <label>
                                    <input type="radio" class="radio radio_is_single is_single" value="1" checked name="IS_SINGLE" />
                                    单程
                                </label>
                                <label>
                                    <input type="radio" class="radio radio_is_single is_double" value="0" name="IS_SINGLE" />
                                    往返
                                </label>
                            </td>
                            <th>乘客类型</th>
                            <td>
                                <select name="">
                                    <option value="">不限</option>
                                </select>
                            </td>
                            <th>舱位等级</th>
                            <td>
                                <select name="">
                                    <option value="">不限</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>出发城市</th>
                            <td>
                                <input type="text" id="depcity" class="text suggest depcity suggest-city" value="" />
                                <input type="hidden" class='depcity_hidden' value=""  name="DEPCITY" />
                            </td>
                            <th>到达城市</th>
                            <td>
                                <input type="text"  id="arrcity" class="text suggest arrcity suggest-city" value="" />
                                <input type="hidden" class='arrcity_hidden' value=""  name="ARRCITY" />
                            </td>
                            <th>航空公司</th>
                            <td>
                                <input type="text" class="text suggest airlines" value="" />
                                <input type="hidden" class='airlines_hidden' value="" name="AIRLINES" />
                            </td>
                        </tr>
                        <tr>
                            <th>出发日期</th>
                            <td>
                                <input type="text" class="text datepicker" value="" id="DEPDATE" name="DEPDATE" />
                            </td>
                            <th>返程日期</th>
                            <td colspan=3>
                                <input type="text" class="text datepicker disabled" disabled value="" name="ARRDATE" />
                            </td>
                        </tr>
                    </table>
                    <p class="center">
                        <input type="button" data-url='ajax/J_Hbcx_DataTable.html' class="button button2 J_Hbcx_Search" value="搜索" name="" />
                    </p>
                </form>
                </div>
            </div>

            <div class="block block2">
                <div class="block-body" id="J_Hbcx_DataTable">

                </div>
            
            </div>

                    {% include 'partial/pagination.html' %}
        </div>

    </div>
</div>
<script type="text/template" id="TSXX-template">
<div class="lightbox lightbox-1 lightbox{@uid@}" data-lightboxid="TSXX">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content">
                    <i class="close" rel="close">×</i> 
    <div class="lightbox-head">
        <h3>提示信息</h3>
    </div>
    <div class="lightbox-body">
<p>{@response@}</p>
        <p>&nbsp;</p>
        <p class="gray">
            以上退改签规定以航空公司为准，或致电退改热线咨询 
        </p>
        <p>&nbsp;</p>
        <p class="center">
            <input type="button" class="button button1 submit" value="确定" name="" rel="close" />
            <input type="button" class="button button1" value="取消" name="" rel="close" />
        </p>
    </div>
                </div>
            
            </td>
        </tr>
    </table>
</div>
</script>

{% include '../partial/footer.html' %}
