{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-khcx">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">{{data['title']}}</h3>
                </div>
                <div class="block-body">
                    <div class="block-i">
                    <span>请输入客户简称或拼音首字母</span>
                    <input type="text" class="text" value="" name="" />
                    <input type="button" class="button" value="查询" name="" />
                    </div>
                    <div class="block-i">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '../partial/footer.html' %}
