{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-tjdd">
            <form action="bbb" method="post" id="aspnetForm" name="aspnetForm">
                <div class="xblock">
                    <p align="right">
                    <span>航班及舱位查询</span>
                    <i class="icon4">&nbsp;</i> 
                    <span>预订提交信息</span>
                    <i class="icon4">&nbsp;</i> 
                    <span class="blue">审核中</span>
                    <i class="icon4">&nbsp;</i> 
                    <span>在线支付</span>
                    <i class="icon4">&nbsp;</i> 
                    <span>供票商出票</span>
                    <i class="icon4">&nbsp;</i> 
                    <span>出票完成</span>
                    </p>
                    <p>
                    <i class="icon5"></i>
                    <strong class="blue f14">国际机票预定单</strong>
                    <span class="red">订单号：[120421412]</span>
                    </p>
                </div>
                <div class="block block1">
                    <fieldset id="hbxx_field" name="LC">
                        <h3 class="gray-title">航班信息</h3>
                        <table frame=void cellspacing="0" class="table1-tjdd table-b2">
                            <tr class="thead">
                                <td>航班日期</td>
                                <td>出发地</td>
                                <td>到达地</td>
                                <td>航空公司</td>
                                <td>航班号</td>
                                <td>起飞时间</td>
                                <td>到达时间</td>
                                <td>舱位</td>
                            </tr>
                            <tr>
                                <td>2012-12-11</td>
                                <td>上海浦东</td>
                                <td>香港</td>
                                <td>东方航空</td>
                                <td>MU555</td>
                                <td>17:00</td>
                                <td>19:22</td>
                                <td>R</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>

                <div class="block block2">
                        <h3 class="gray-title">费用明细</h3>
                        <table frame=void cellspacing="0" style="border-bottom:1px;" class="table2-tjdd table-b2">
                            <tr class="thead">
                                <td>&nbsp;</td>
                                <td>单张运价</td>
                                <td>代理费（%）</td>
                                <td>奖励（%）</td>
                                <td>奖励金额</td>
                                <td>供应商开票费</td>
                                <td>单张票结算价</td>
                                <td>税费</td>
                                <td>单张机票小计</td>
                            </tr>
                            <tr>
                                <td>
                                    <input checked type="radio" id="pop" class="radio" value="" name="PolicyID" />
                                </td>
                                <td>
                                    111</td>
                                <td>2</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>11421</td>
                                <td>512</td>
                                <td>21421</td>
                            </tr>
                        </table>
                        <p align=right>
                        <a href="javascript:;" class="show-lightbox" data-lightboxid='GDZC'> >>查看更多政策 </a>
                        </p>
                </div>

                <div class="block block3">
                    <fieldset id="cjrxx-field" name="AII">
                        <h3 class="gray-title">乘机人信息</h3>
                        <p>
                        <span class="red">人数</span>
                        <span class="CustomerCount">1人</span>
                        <a href="javascript:;" class="CustomerAdd">增加乘客</a>
                        </p>
                        <div class="group-item">
                            <table frame=void cellspacing="0" class="table3-tjdd lightblue-bg">
                                <tr>
                                    <th>
                                        英文姓名：
                                    </th>
                                    <td>
                                        <input type="text" class="text" value="123" name="SurName" />
                                    </td>
                                    <th>乘客类型：</th>
                                    <td>
                                        <select name="" class="select_pas_type">
                                            <option value="0">成人</option>
                                            <option value="1">儿童</option>
                                            <option value="2">学生</option>
                                        </select>
                                    </td>
                                    <th>性别：</th>
                                    <td>
                                        <select name="">
                                            <option value="">男</option>
                                            <option value="">女</option>
                                        </select>
                                    </td>
                                    <td rowspan=2>
                                        <label>
                                            <input type="checkbox" class="checkbox" checked value="" name="pic" />
                                            加为常旅客
                                        </label><br>
                                        <label>
                                            <input type="checkbox" class="checkbox" checked value="" name="Insurance" />
                                            购买平安航空险（8元/份）
                                        </label><br>
                                        <span class="blue">
                                            阅读规则 
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        证件类型：  
                                    </th>
                                    <td>
                                        <select name="">
                                            <option value="">护照</option>
                                        </select>
                                    </td>
                                    <th>
                                        证件有效期： 
                                    </th>
                                    <td>
                                        <input type="text" class="text datepicker" value="" name="data-ss" />
                                    </td>
                                    <th>出生日期</th>
                                    <td>
                                        <input type="text" class="text datepicker" value="123" name="viaaa" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>国籍：</th>
                                    <td>
                                        <select name="">
                                            <option value="">中国</option>
                                        </select>
                                    </td>
                                    <th>证件号码：</th>
                                    <td>
                                        <input type="text" class="text" value="" name="" />
                                    </td>
                                    <td colspan=3>
                                        <table class="hidden uploads-box" cellspacing="0">
                                            <tr>
                                                <th>上传签证</th>
                                                <td>
                                                    <input type="file" class="file" value="" name="" />
                                                </td>
                                                <th>上传护照</th>
                                                <td>
                                                    <input type="file" class="file" value="" name="" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>

                <div class="block block4">
                    <fieldset name="yii">
                        <h3 class="gray-title">
                            联系人信息
                        </h3>
                        <p class="lightblue-bg">
                        <label>
                            姓名 
                            <input type="text" class="text" value="" name="" />
                        </label>
                        <label>
                            联系电话 
                            <input type="text" class="text" value="" name="" />
                        </label>
                        <label>
                            联系地址 
                            <input type="text" class="text text3" value="" name="vvv12" />
                        </label>
                        </p>
                        <p>
                        <label>
                            <input type="checkbox" class="checkbox rp-fp-checkbox" value="" name="RQ-FP" />
                            是否需要发票
                        </label>
                        </p>
                        <div class="rq-fp">
                            <p>
                            <label>
                                <input type="radio" checked class="radio fp-one fp-ismul" value="" name="FP-ISMUL" />
                                <u>一人一张发票</u>
                            </label>
                            <label>
                                <input type="radio" class="radio fp-mul fp-ismul" value="" name="FP-ISMUL" />
                                <u>多人一张发票</u>
                            </label>
                            </p>
                            <div class="group-items" rel="Invoices">
                                <div class="fpone-one">
                                    <div class="group-item">
                                        <p class="fp-row">
                                        <span>
                                            旅客姓名：
                                            <input type="text" class="text" value="123" name="PASSENGER_NAME" />
                                        </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                            <u>发票抬头</u> 
                                            <input type="text" class="text text2" value="" name="INVOICE_TITLE" />
                                        </span>
                                    </p></div>
                                </div>



                                <div class="fpone-mul hidden">

                                    <div class="group-item disabled">
                                        <p class="fp-row">
                                        <span>
                                            旅客姓名：
                                            <input type="text" class="text" value="" name="PASSENGER_NAME" />
                                        </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                            <u>发票抬头</u> 
                                            <input type="text" class="text text2" value="" name="INVOICE_TITLE" />
                                        </span>
                                    </p></div>

                                </div>
                            </div>


                            <p>
                            <u>发票派送方式</u>
                            <label>
                                <input type="radio" class="radio psfs pszq" value="自取" name="INVOICE_SEND_TYPE" checked />
                                自取
                            </label>
                            <label>
                                <input type="radio" class="radio psfs psdf" value="到付" name="INVOICE_SEND_TYPE" />
                                到付
                            </label>
                            </p>

                            <div class="psfs_box_zq">
                                <p>
                                自取地址：上海不夜城699号 
                                </p>
                                <input type="hidden" class="text" value="上海不夜城699号" name="GET_INVOICE_ADDRESS" />
                            </div>
                            <div class="psfs_box_df hidden">
                                <p>
                                <span>
                                    <u>联 系 人</u>
                                    <input type="text" class="text" value="" name="CONTACT"/>
                                    &nbsp;&nbsp;
                                </span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>
                                    <u>联系方式</u>
                                    <input type="text" class="text text2" value="" name="CONTACT_PHONE" />
                                </span>
                                </p>
                                <p>
                                <u>到付地址</u>
                                <input type="text" class="text text3" value="" name="SEND_ADDRESS" />
                                </p>
                                <p>
                                <u>自取地址</u>
                                <input type="text" class="text text3" value="" name="GET_INVOICE_ADDRESS" />
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="block block5">
                    <fieldset>
                        <h3 class="gray-title">支付信息</h3>
                        <table frame=void cellspacing="0" class="table4-tjdd table-b3">
                            <tr class="thead">
                                <td>机票价格</td>
                                <td><span class="SingleTicketPrice">1000</span>元/张</td>
                                <td>乘机人数</td>
                                <td><span class="CustomerCount">1</span>人</td>
                                <td>保险费用</td>
                                <td><span class="CustomerTotalInsurance">8</span>元  ( 8元/份 )</td>
                                <td>购买保险人数</td>
                                <td><span class="CustomerInsuranceCount">1</span>人</td>
                            </tr>
                        </table>
                        <p>
                        订单总金额
                        <span class='red'><b class="TotalPrice">1231</b>元</span>
                        订单总金额计算方式：订单人数×单张机票价格+购买保险人数×保险费用
                        </p>
                    </fieldset>
                </div>

                <div class="block block5">
                        <h3 class="gray-title">
                        退改签规定
                        </h3>
                        <p>
                        <textarea name=""></textarea>
                        </p>
                    </div>

                <div class="block block5">
                    <fieldset>
                        <h3 class="gray-title">
                            备注信息 
                        </h3>
                        <p>
                        <span class="red">注：</span>
                        如特殊要求或开婴儿票、儿童票、学生票请在备注里面说明
                        </p>
                        <p>
                        <textarea name=""></textarea>
                        </p>
                    </fieldset>
                </div>

                <div class="center">
                    <input type="button" class="button button3 show-lightbox" data-url="#" value="确认无误，下订单" name="" data-lightboxid="CPQR" />
                </div>


            </form>
        </div>

    </div>
</div>

<div class="lightbox lightbox-1" id="gdzc_lightbox" data-lightboxid="GDZC">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content" style="width:800px">
                    <i class="close" rel="close">×</i> 
                    <div class="lightbox-head">
                        <h3>政策查看</h3>
                    </div>
                    <div class="lightbox-body">
                        <table cellspacing="0" class="table-b2">
                            <tr class="thead">
                                <td></td>
                                <td>单张运价</td>
                                <td>代理费（%）</td>
                                <td>奖励扣率（%）</td>
                                <td>奖励金额</td>
                                <td>供应商开票费</td>
                                <td>单张票运算价</td>
                                <td>税费</td>
                                <td>单张票小计</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" class="radio" value="" name="PolicyID" />
                                </td>
                                <td>1200</td>
                                <td>3</td>
                                <td>3</td>
                                <td>100</td>
                                <td>0</td>
                                <td>1500</td>
                                <td>140</td>
                                <td>3500</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" class="radio" value="" name="PolicyID" />
                                </td>
                                <td>1200</td>
                                <td>3</td>
                                <td>3</td>
                                <td>100</td>
                                <td>0</td>
                                <td>1500</td>
                                <td>140</td>
                                <td>1600</td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                        <p class="center">
                        <input type="button" class="button button1 confirm" value="确定" name="" rel="close" />
                        <input type="button" class="button button1" value="取消" name="" rel="close" />
                        </p>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>


<script type="text/template" id="TOTAL-template">
    <div class="lightbox lightbox-2 lightbox{% raw '{{' %}uid}}" data-lightboxid="CPQR">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content">
                    <i class="close" rel="close">×</i> 
                    <div class="lightbox-head">
                        <h3>出票确认</h3>
                    </div>
                    <div class="lightbox-body">
                        <p>
                        <strong>
                            订单信息
                        </strong>
                        <br> 
                        2012年7月6日上海到香港东方航空123132航班
                        </p>
                        <p>&nbsp;</p>
                        <p>
                        <strong>
                            乘客信息
                        </strong>
                        <br> 
                        姓名 成人（儿童） 护照号码 机票款 税金
                        </p>
                        <p>&nbsp;</p>
                        <p>
                        票款全部费用<b class="red TotalPrice">1231</b>元（包含票款，税金等） 
                        </p>
                        <p>&nbsp;</p>
                        <p class="center">
                        <input type="button" class="button button1 submit" value="确定" name="" />
                        <input type="button" class="button button1" value="取消" name="" rel="close" />
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</script>

{% include '../partial/footer.html' %}
