{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-jptj mo-ddgl">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">
                        机票统计 
                    </h3>
                </div>
                <div class="block-body">
                    <table frame=void cellspacing="0" class="table-b4">
                        <tr>
                            <th>
                                日期类型
                            </th>
                            <td>
                                <select name="">
                                <option value=开票日>开票日</option> <option value=乘机日>乘机日</option> <option selected value=全部>全部</option>
                                </select>
                            </td>
                            <th>日期</th>
                            <td colspan=3>
                                从
                                <input type="text" class="text datepicker start_date" value="" name="" />
                                至
                                <input type="text" class="text datepicker end_date" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>机票状态</th>
                            <td>
                                <select name="">
 <option value=已出票>已出票</option> <option value=已退票>已退票</option> <option selected value=已废票>已废票</option> <option value=已退款>已退款</option> <option value=全部>全部</option> <option value=已改签>已改签</option>
                                </select>
                            </td>
                            <th>付款状态</th>
                            <td>
                                <select name="">
 <option value=已付款>已付款</option> <option selected value=未付款>未付款</option> <option value=全部>全部</option>
                                </select>
                            </td>
                            <th>机票类型</th>
                            <td>
                                <select name="">
 <option selected value=散客机票>散客机票</option> <option value=特价机票>特价机票</option> <option value=团队机票>团队机票</option> <option value=k位机票>k位机票</option> <option value=全部>全部</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>客户名称</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                            <th>出发城市</th>
                            <td>
                                <input type="text" class="text suggest depcity suggest-city" value="" />
                                <input type="hidden" class='depcity_hidden' value=""  name="DEPCITY" />
                            </td>
                            <th>到达城市</th>
                            <td>
                                <input type="text" class="text suggest arrcity suggest-city" value="" />
                                <input type="hidden" class='arrcity_hidden' value=""  name="ARRCITY" />
                            </td>
                        </tr>
                        <tr>
                            <th>操作人</th>
                            <td>
                                <select name="">
                                    <option value="">xxx</option>
                                </select>
                            </td>
                            <th>航空公司</th>
                            <td>
                                <input type="text" class="text suggest airlines" value="" />
                                <input type="hidden" class='airlines_hidden' value="" name="AIRLINES" />
                            </td>
                            <th>舱位</th>
                            <td>
                                <input type="text" class="text" value="" name="" />
                            </td>
                        </tr>
                        <tr>
                            <th>支付方式</th>
                            <td>
                                <select name="">
 <option selected value=支付宝>支付宝</option> <option value=财付通>财付通</option> <option value=网银>网银</option> <option value=汇付天下>汇付天下</option> <option value=招商银行>招商银行</option> <option value=全部>全部</option>
                                </select>
                            </td>
                            <td colspan=4></td>
                        </tr>
                    </table>
                    <p class="center">
                        <input type="button" class="button button2" value="搜索" name="" />
                    </p>
                </div>
            </div>

            <div class="xblock clearfix">
                <div class="dropdown">
                    <span class="blue">列表项设置
                        <i class="icon6"></i>
                    </span>
                    <div class="box">
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                总金额
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                订单个数
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                出票张数
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                佣金
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                废票张数
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                退票张数
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                改签张数
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                积分
                            </label>
                        </p>

                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                在线支付金额
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" value="" name="" />
                                账户余额支付金额
                            </label>
                        </p>
                        <p class="center">
                            <input type="button" class="button button1" value="确定" name="" />
                        </p>
                    </div>
                </div>
                <a href="#" class="button button1">详情下载</a>
            </div>

            <div class="block block2">
                <div class="block-body">
                    <table frame="void" cellspacing="0" class="table-b2">
                        <tr class="thead">
                            <td>出票城市</td>
                            <td>人数</td>
                            <td>开票时间</td>
                            <td>操作人</td>
                            <td>操作时间</td>
                            <td>支付方式</td>
                            <td>支付形式</td>
                            <td>订单金额</td>
                            <td>操作</td>
                        </tr>
                        {% for x in range(10) %}
                        {% if x%2==0 %}
                        <tr class="odd">
                            {% else  %}
                            <tr class="even">
                                {% end %}
                                <td>上海</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>xxxxxxxx</td>
                            </tr>
                            {% end %}
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
    {% include '../partial/footer.html' %}
