{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-khcx">
            <div class="block block1">
                <div class="block-head">
                    <h3 class="gray-title">{{data['title']}}</h3>
                </div>
                <div class="block-body">
                    {% if usergroup=='yys' %}
                    <div class="block-i">
                        <p>
                    <span>请输入客户简称或拼音首字母</span>
                    <input type="text" class="text" value="" name="" />
                    <input type="button" class="button button1" value="查询" name="" />
                        </p>
                    </div>
                    <div class="block-i">
                        <table frame=void cellspacing="0" class="table-b2">
                            <tr class="thead">
                                <td>选择</td>
                                <td>客户简称</td>
                                <td>创建人</td>
                                <td>联系人</td>
                                <td>联系电话</td>
                                <td>余额</td>
                                <td>积分</td>
                                <td>卡号</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" class="radio" value="" name="" />
                                </td>
                                <td>XJ</td>
                                <td>777</td>
                                <td>联系人</td>
                                <td>021-2313131</td>
                                <td>777</td>
                                <td>9999</td>
                                <td>12313213</td>
                            </tr>
                        </table>
                    </div>
                    {% end %}
                    <div class="block-i">
                        <table cellspacing="0" class="table-b3" frame=void>
                                <tr>
                                <th>请选择OFFICE号：</th>
                                <td>
                                    <select name="">
                                        <option value="">DEFAULT</option>
                                        <option value="">SHA255</option>
                                        <option value="">YEEFARE</option>
                                    </select>
                                </td>
                                </tr>
                                <tr>
                                    <th>
                                        请输入PNR： 
                                    </th>
                                    <td>
                                        <input type="text" class="text" value="" name="" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        联系人： 
                                    </th>
                                    <td>
                                        <input type="text" class="text" value="" name="" />
                                    </td>
                                </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                        <input type="button" class="button button2" value="PNR信息提取" name="" />
                                        </td>
                                    </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '../partial/footer.html' %}
