{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-ddxq mo-khcx-ddxq-new mo-khcx-ddxq">
            <div class="xblock">
                <p>
                <span>
                    <label>票号</label>
                    <input type="text" class="text" value="" name="" />
                </span>
                <input type="button" class="button button1" value="搜索" name="" />
                </p>
            </div>
            {% if usergroup=='yys' %}
            <div class="xblock block">
                <h3 class="gray-title">建单信息</h3>
                <table cellspacing="0" class="table-b4" frame=void>
                    <tr>
                        <th>客户名称</th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            联系人                   
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            联系电话                   
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            结算方式
                        </th>
                        <td>
                            <select name=""></select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            建单营业点                   
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            出票营业点                   
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            操作员 
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            订单类型 
                        </th>
                        <td>
                            <select name=""></select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            外部订单号 
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            扩展字段 
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            特殊产品代码
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            特殊卡号 
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            客户订单号
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>旅行天数</th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                        <th>
                            账户可用余额 
                        </th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                    </tr>
                </table>
            </div>
            {% end %}

            <div class="block block1">
                <h3 class="gray-title">航班信息</h3>
                <table frame=void cellspacing="0" class="table1-ddxq table-b2">
                    <tr class="thead">
                        <td>航班日期</td>
                        <td>出发地</td>
                        <td>到达地</td>
                        <td>航空公司</td>
                        <td>航班号</td>
                        <td>起飞时间</td>
                        <td>到达时间</td>
                        <td>舱位</td>
                    </tr>
                    <tr>
                        <td>2012-12-11</td>
                        <td>上海浦东</td>
                        <td>香港</td>
                        <td>东方航空</td>
                        <td>MU555</td>
                        <td>17:00</td>
                        <td>19:22</td>
                        <td>R</td>
                    </tr>
                </table>
            </div>

            <div class="block block3">
                <h3 class="gray-title clearfix">
                    乘客信息
                    <span style="float:right;font-weight:normal">
                        温馨提示：供票工作时间
                        <b class="red">
                            8:00 - 22:00 （废票请在21:30前提交） 
                        </b>
                    </span>
                </h3>
                <table frame=void cellspacing="0" class="table-b3">
                    <tr>
                        <th>PNR记录编号</th> 
                        <td><span>WWWW01</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>大编：MSKJFK</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>退票中</span></td>
                    </tr>
                    <tr>
                        <th>客票使用条件</th>
                        <td>
                            退票 不允许：
                            改签去程不得该：
                            特别说明：以上XXXXXXXXXXXXXXXX
                        </td>
                    </tr>
                </table>
                <table frame=void style="border-top:1px" cellspacing="0" class="table-b2">
                    <tr class="thead">
                        <th>英文姓名</th>
                        <th>性别</th>
                        <th>乘客类型</th>
                        <th>证件类型</th>
                        <th>证件号码</th>
                        <th>证件有效期</th>
                        <th>出生日期</th>
                        <th>乘客类别</th>
                        <th>国籍</th>
                        <th>票号</th>
                        <td>签证图片</td>
                        <td>护照图片</td>
                    </tr>
                    <tr>
                        <td>HEPING</td>
                        <td>男</td>
                        <td>成人</td>
                        <td>护照</td>
                        <td>123132</td>
                        <td>2012-10-14</td>
                        <td>1990-10-10</td>
                        <td>留学生</td>
                        <td>中国</td>
                        <td>11111</td>
                        <td>
                        <a href="#">查看签证</a>
                        </td>
                        <td>
                        <a href="#">查看护照</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="block block2">
                <h3 class="gray-title">费用明细</h3>
                <table frame=void cellspacing="0" class="table2-ddxq table-b2">
                    <tr class="thead">
                        <td>乘客姓名</td>
                        <td>运价</td>
                        <td>代理费用（%）</td>
                        <td>奖励扣率（%）</td>
                        <td>奖励金额</td>
                        <td>税收金额</td>
                        <td>保险金额</td>
                        <td>单张结算价</td>
                    </tr>
                    <tr>
                        <td>heping/fs</td>
                        <td>2</td>
                        <td>2</td>
                        <td>111</td>
                        <td class="red">2</td>
                        <td>0</td>
                        <td>0</td>
                        <td class="redb">11421</td>
                    </tr>
                    <tr>
                        <th>
                            其他费用
                        </th>
                        <td>
                            婴儿1111元
                        </td>
                        <th>
                            订单总金额 
                        </th>
                        <td colspan=7>11111111元</td>
                    </tr>
                </table>
            </div>


            <div class="block block4">
                <h3 class="gray-title">联系人信息</h3>
                <table frame=void cellspacing="0"  class="table-b3">
                    <tr>
                        <th>姓名</th>
                        <td>啊飞</td>
                        <th>联系电话</th>
                        <td>1231421421</td> 
                        <th>联系地址</th>
                        <td>上海</td>
                    </tr>
                </table>
            </div>

            <div class="block manipulate">
                <h3 class="gray-title">退废票详细</h3>
                <table frame=void cellspacing="0"  class="table-b2">
                    <colgroup>
                        <col width=100></col>
                        <col width=100></col>
                        <col width=100></col>
                        <col width=100></col>
                        <col></col>
                    </colgroup>
                    <tr class="thead">
                        <td>票号</td>
                        <td>实付金额</td>
                        <td>扣款金额</td>
                        <td>实退金额</td>
                        <td>退废票原因</td>
                    </tr>
                    <td>
                        <input type="text" class="text text9" value="" name="" />
                    </td>
                    <td>
                        12313元
                    </td>
                    <td>
                        <input type="text" class="text text9 Price2" value="" name="" />
                    </td>
                    <td>
                        <input type="text" class="text text9 Price3" value="" name="" />
                    </td>
                    <td>
                        <input type="text" class="text text9" value="" name="" />
                    </td>
                </table>
            </div>

            <div class="block clearfix block-12">
                <h3 class="gray-title">备注信息</h3>
                <p>
                <textarea name="" rows=5 cols=60></textarea>
                </p>
            </div>

            <div class="block block6">
                <h3 class="gray-title">
                    订单处理状态
                </h3>
                <table frame=void cellspacing="0" class="table-b3">
                    <tr>
                        <th>订单状态</th>
                        <td>xxx</td>
                    </tr>
                    <tr>
                        <th>预定时间</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>支付时间</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>出票时间</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>申请退票时间</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>退票完成时间</th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="block block7">
                <h3 class="gray-title">
                    订单备注 
                </h3>
                <table frame=void cellspacing="0">
                    <colgroup>
                        <col class="tcol1"></col>
                        <col class="tcol2"></col>
                        <col class="tcol3"></col>
                    </colgroup>
                    <tr>
                        <th>备注信息</th>
                        <th>时间</th>
                        <th>操作员</th>
                    </tr>
                    <tr>
                        <td>请尽快说法</td>
                        <td>2012-09-09  19:11</td>
                        <td>小名 </td>
                    </tr>
                    <tr>
                        <td>请尽快说法</td>
                        <td>2012-09-09  19:11</td>
                        <td>小名 </td>
                    </tr>
                </table>
            </div>

            <div class="center">
                <input type="button" class="button button2" value="保存" name="" onclick="location.href='客户查询订单详情退废票.html'" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>

            <div class="center">
                <input type="button" class="button button2" value="价格计算" name="" />
                <input type="button" class="button button2" value="取消退废票" name="" />
                <input type="button" class="button button2" value="提交" name="" />
                <input type="button" class="button button2" value="修改" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>

            <div class="center">
                <input type="button" class="button button2" value="价格计算" name="" />
                <input type="button" class="button button2" value="退回" name="" />
                <input type="button" class="button button2" value="完成退废票" name="" />
                <input type="button" class="button button2" value="修改" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>

        </div>

    </div>
</div>

<div class="lightbox lightbox1" data-lightboxid="SQTFP">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content">
                    <i class="close">×</i>
                    <div class="lightbox-head">
                        <h3>申请退废票</h3>
                    </div>
                    <div class="lightbox-body">
                        <p>
                        申请退废票，请及时取消座位！ 
                        </p>
                        <p>&nbsp;</p>
                        <p class="center">
                        <input type="button" class="button button1 close" value="确定" name="" />
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>



{% include '../partial/footer.html' %}
