{% include '../partial/header.html' %}
<div class="body clearfix">
    {% include 'partial/sidebar.html' %}
    {% include 'partial/breadcrumb.html' %}
    <div class="content area">
        <div class="mo-ddxq">
            <div class="xblock">
                {% if data['title']!=u'改签处理'  %}
                <p align="right">
                <span>航班及舱位查询</span>
                <i class="icon4">&nbsp;</i> 
                <span>预订提交信息</span>
                <i class="icon4">&nbsp;</i> 
                <span class="blue">审核中</span>
                <i class="icon4">&nbsp;</i> 
                <span>在线支付</span>
                <i class="icon4">&nbsp;</i> 
                <span>供票商出票</span>
                <i class="icon4">&nbsp;</i> 
                <span>出票完成</span>
                </p>
                {% end %}

                {% if data['title']==u'改签处理'  %}
                <p align="right">
                <span>改签申请</span>
                <i class="icon4">&nbsp;</i> 
                <span>改签审核中</span>
                <i class="icon4">&nbsp;</i> 
                <span>支付</span>
                <i class="icon4">&nbsp;</i> 
                <span class="blue">改签中</span>
                <i class="icon4">&nbsp;</i> 
                <span>改签成功</span>
                </p>
                {% end %}
                <p>
                <i class="icon5"></i>
                <strong class="blue f14">国际机票预定单</strong>
                <span class="red">订单号：[120421412]</span>
                </p>
            </div>
            <div class="block block1">
                <h3 class="gray-title">
                    {% if usergroup!='gys' %}原{%end%}航班信息</h3>
                <table frame=void cellspacing="0" class="table1-ddxq table-b2">
                    <tr class="thead">
                        <td>航班日期</td>
                        <td>出发地</td>
                        <td>到达地</td>
                        <td>航空公司</td>
                        <td>航班号</td>
                        <td>起飞时间</td>
                        <td>到达时间</td>
                        <td>舱位</td>
                    </tr>
                    <tr>
                        <td>2012-12-11</td>
                        <td>上海浦东</td>
                        <td>香港</td>
                        <td>东方航空</td>
                        <td>MU555</td>
                        <td>17:00</td>
                        <td>19:22</td>
                        <td>R</td>
                    </tr>
                </table>
            </div>

            <div class="block block3">
                <h3 class="gray-title clearfix">
                    乘客信息
                    <span style="float:right;font-weight:normal">
                        温馨提示：供票工作时间
                        <b class="red">
                            8:00 - 22:00 （非票请在21:30前提交） 
                        </b>
                    </span>
                </h3>
                <table frame=void cellspacing="0" class="table-b3">
                    <tr>
                        <th>PNR记录编号</th> 
                        <td>WWWW01 大编：MSKJFK 改签中</td>
                    </tr>
                    <tr>
                        <th>客票使用条件</th>
                        <td>
                            退票 不允许：
                            改签去程不得该：
                            特别说明：以上XXXXXXXXXXXXXXXX
                        </td>
                    </tr>
                </table>
                <table frame=void style="border-top:1px" cellspacing="0" class="table-b2">
                    <tr class="thead">
                        <th>英文姓名</th>
                        <th>性别</th>
                        <th>乘客类型</th>
                        <th>证件类型</th>
                        <th>证件号码</th>
                        <th>证件有效期</th>
                        <th>出生日期</th>
                        <th>乘客类别</th>
                        <th>国籍</th>
                        <th>票号</th>
                    </tr>
                    <tr>
                        <td>HEPING</td>
                        <td>男</td>
                        <td>成人</td>
                        <td>护照</td>
                        <td>123132</td>
                        <td>2012-10-14</td>
                        <td>1990-10-10</td>
                        <td>留学生</td>
                        <td>中国</td>
                        <td>11111</td>
                    </tr>
                </table>
            </div>
            <div class="block block2">
                <h3 class="gray-title">费用明细</h3>
                <table frame=void cellspacing="0" class="table2-ddxq table-b2">
                    <tr class="thead">
                        <td>运价</td>
                        <td>代理费用（%）</td>
                        <td>奖励扣率（%）</td>
                        <td>奖励金额</td>
                        <td>税收金额</td>
                        <td>保险金额</td>
                        <td>交易手续费</td>
                        <td>单张结算价</td>
                        <td>其他费用</td>
                        <td>运价来源</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>111</td>
                        <td class="red">2</td>
                        <td>0</td>
                        <td>0</td>
                        <td class="redb">11421</td>
                        <td>512</td>
                        <td>21421</td>
                        <td>DEP</td>
                    </tr>
                    <tr>
                        <th>
                            订单总金额 
                        </th>
                        <td colspan=9>
                            审核中  
                        </td>
                    </tr>
                </table>
            </div>


            <div class="block block4">
                <h3 class="gray-title">联系人信息</h3>
                <table frame=void cellspacing="0"  class="table-b3">
                    <tr>
                        <th>姓名</th>
                        <td>啊飞</td>
                        <th>联系电话</th>
                        <td>1231421421</td> 
                        <th>联系地址</th>
                        <td>上海</td>
                    </tr>
                </table>
            </div>

            <div class="block10 block">
                <h3 class="gray-title">发票信息</h3>
                <table frame=void cellspacing="0" class="table-b3">
                    <tr>
                        <th>发票金额</th>
                        <td>
                            111
                            元
                        </td>
                        <th>发票抬头</th> 
                        <td>
                            上海不也成
                        </td>
                    </tr>
                    <tr>
                        <th>发票派送方式</th>
                        <td>
                            自取
                        </td>
                        <th>自取地址</th>
                        <td>
                            上海普陀区 
                        </td>
                    </tr>
                    <tr>
                        <th>支付方式</th>
                        <td>
                            到付 
                        </td>
                        <th>联系人</th>
                        <td>
                            啊飞
                        </td>
                    </tr>
                    <tr>
                        <th>联系电话</th>
                        <td>
                            21313213
                        </td>
                        <th>派送地址</th>
                        <td>
                            上海上海上海
                        </td>
                    </tr>
                </table>
            </div>

            <div class="block block5">
                <h3 class="gray-title">支付信息</h3>
                <table frame=void style="border-bottom:1px"  cellspacing="0" class="table-b3">
                    <tr>
                        <th>机票价格</td>
                        <td>2173/张</td>
                        <th>乘机人数</td>
                        <td>1人</td>
                        <th>保险费用</td>
                        <td>8元/份</td>
                        <th>购买保险人数</td>
                        <td>0人</td>
                    </tr>
                </table>
                <p>
                订单总金额
                <span class="redb">2173元</span>
                订单总金额计算方式：订单人数×单张机票价格+购买保险人数×保险费用
                </p>
            </div>

            {% if data['title']==u'改签处理' %}
            <div class="block block8">
                <h3 class="gray-title">
                    改签航班信息 
                </h3>
                <table frame=void cellspacing="0" class="table-b2">
                    <tr class="thead">
                        <td>航班日期</td>
                        <td>出发地</td>
                        <td>到达地</td>
                        <td>航空公司</td>
                        <td>航班号</td>
                        <td>起飞时间</td>
                        <td>到达时间</td>
                        <td>舱位</td>
                    </tr>
                    <tr>
                        <td>xx</td>
                        <td>xx</td>
                        <td>xx</td>
                        <td>xx</td>
                        <td>xx</td>
                        <td>xx</td>
                        <td>xx</td>
                        <td>xx</td>
                    </tr>
                </table>
            </div>

            <div class="block block9">
                <h3 class="gray-title">
                    改签航班信息 
                </h3>
                <table frame=void cellspacing="0" class="table-b4">
                    <tr>
                        <th>改签订单编号</th>
                        <td>1111</td>
                        <th>改签补款</th>
                        <td>192元（包含xxx）</td>
                        <th>改签票号（提取票号）
                            <b class="red">*</b>
                        </th>
                        <td>
                            11111111 
                        </td>
                    </tr>
                </table>
            </div>
            {% end %}

            <div class="block block6">
                <h3 class="gray-title">
                    订单处理状态
                </h3>
                <p>
                订单状态：改签完成 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                预订时间：2012-05-15 10:00 
                </p>
            </div>

            <div class="block block7">
                <h3 class="gray-title">
                    订单备注 
                </h3>
                <table frame=void cellspacing="0">
                    <colgroup>
                        <col class="tcol1"></col>
                        <col class="tcol2"></col>
                        <col class="tcol3"></col>
                    </colgroup>
                    <tr>
                        <th>备注信息</th>
                        <th>时间</th>
                        <th>操作员</th>
                    </tr>
                    <tr>
                        <td>请尽快说法</td>
                        <td>2012-09-09  19:11</td>
                        <td>小名 </td>
                    </tr>
                    <tr>
                        <td>请尽快说法</td>
                        <td>2012-09-09  19:11</td>
                        <td>小名 </td>
                    </tr>
                </table>
            </div>

            {% if usergroup!='gys' %}
            <div class="center">
                <input type="button" class="button button2 show-lightbox" data-lightboxid="SQTFP" value="申请退废票" name="" />
                <input type="button" class="button button2 show-lightbox" data-lightboxid="SQGQ" value="申请改签" name="" />
                <input type="button" class="button button2" value="取消订单" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>
            {% elif data['title']==u'改签处理' %}
            <div class="center">
                <input type="button" class="button button2" value="确认改签" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>
            {% elif data['title']==u'出票处理' %}

            <div class="block11 block">
                <h3 class="gray-title">备注</h3>
                <table cellspacing="0" class="table-b6">
                    <tr>
                        <th>备注</th>
                        <td>
                            <textarea name="" style="width:400px;height:50px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="center">
                <input type="button" class="button button2" value="出票失败" name="" />
                <input type="button" class="button button2" value="确认出票" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>
            {% elif data['title']==u'预定审核' %}

            <div class="block11 block">
                <h3 class="gray-title">预订审核</h3>
                <table cellspacing="0" class="table-b6">
                    <tr>
                        <th>收费项目</th>
                        <td>
                            <select name="">
                                <option value="">婴儿票</option>
                                <option value="">其他</option>
                            </select>
                        </td>
                        <th>收费金额</th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                    </tr>
                    <tr>
                        <th>回复</th>
                        <td>
                            <select name="">
                                <option value="">pnr信息错误</option>
                                <option value="">儿童票价出问题</option>
                                <option value="">座位已满</option>
                                <option value="">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>备注</th>
                        <td>
                            <textarea name="" style="width:400px;height:50px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="center">
                <input type="button" class="button button2" value="审核退回" name="" />
                <input type="button" class="button button2" value="审核通过" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>

            {% elif data['title']==u'改签审核' %}

            <div class="block11 block">
                <h3 class="gray-title">改签审核</h3>
                <table cellspacing="0" class="table-b6">
                    <tr>
                        <th>改签补款</th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                    </tr>
                    <tr>
                        <th>回复</th>
                        <td>
                            <select name="">
                                <option value="">pnr信息错误</option>
                                <option value="">儿童票价出问题</option>
                                <option value="">座位已满</option>
                                <option value="">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>备注</th>
                        <td>
                            <textarea name="" style="width:400px;height:50px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="center">
                <input type="button" class="button button2" value="审核退回" name="" />
                <input type="button" class="button button2" value="审核通过" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>
            {% elif data['title']==u'退票审核' %}

            <div class="block11 block">
                <h3 class="gray-title">退票审核</h3>
                <table cellspacing="0" class="table-b6">
                    <tr>
                        <th>扣款金额</th>
                        <td>
                            <input type="text" class="text" value="" name="" />
                        </td>
                    </tr>
                    <tr>
                        <th>回复</th>
                        <td>
                            <select name="">
                                <option value="">pnr信息错误</option>
                                <option value="">儿童票价出问题</option>
                                <option value="">座位已满</option>
                                <option value="">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>退回原因</th>
                        <td>
                            <textarea name="" style="width:400px;height:50px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="center">
                <input type="button" class="button button2" value="审核退回" name="" />
                <input type="button" class="button button2" value="审核通过" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>

            {% elif data['title']==u'退票处理' %}
            <div class="block11 block">
                <h3 class="gray-title">退票处理</h3>
                <table cellspacing="0" class="table-b6">
                    <tr>
                        <th>回复</th>
                        <td>
                            <select name="">
                                <option value="">pnr信息错误</option>
                                <option value="">儿童票价出问题</option>
                                <option value="">座位已满</option>
                                <option value="">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>退回原因</th>
                        <td>
                            <textarea name="" style="width:400px;height:50px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="center">
                <input type="button" class="button button2" value="订单退回" name="" />
                <input type="button" class="button button2" value="提交财务退款" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>

            {% elif data['title']==u'废票处理' %}
            <div class="block11 block">
                <h3 class="gray-title">废票处理</h3>
                <table cellspacing="0" class="table-b6">
                    <tr>
                        <th>废票手续费</th>
                        <td>20/张
                            <a href="#" class="button">修改废票手续费</a>
                            <!-- <input type="button" class="button button2" value="修改废票手续费" name="" /> -->
                        </td>
                    </tr>
                    <tr>
                        <th>备注</th>
                        <td>
                            <textarea name="" style="width:400px;height:50px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="center">
                <input type="button" class="button button2" value="订单退回" name="" />
                <input type="button" class="button button2" value="提交财务退款" name="" />
                <input type="button" class="button button2" value="关闭" name="" />
            </div>
            {% end %}

        </div>

    </div>
</div>

<div class="lightbox lightbox1" data-lightboxid="SQTFP">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content">
                    <i class="close" rel="close">×</i>
                    <div class="lightbox-head">
                        <h3>申请退废票</h3>
                    </div>
                    <div class="lightbox-body">
                        <p>
                        申请退废票，请及时取消座位！ 
                        </p>
                        <p>&nbsp;</p>
                        <p class="center">
                        <input type="button" class="button button1" value="确定" name="" rel="close" />
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="lightbox lightbox2" data-lightboxid="SQGQ">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content">
                    <i class="close" rel="close">×</i>
                    <div class="lightbox-head">
                        <h3>申请改签</h3>
                    </div>
                    <p class="lightblue-bg"> 你要改的是**，订单号：××××，2130-231-321 你要改的是**，订单号：××××，2130-231-321</p>
                    <div class="lightbox-body">
                        <table cellspacing="0">
                            <tr>
                                <th>改签票号</th>
                                <td>
                                    <input type="text" class="text" value="" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th>航班类型</th>
                                <td>
                                    <label>
                                        <input type="radio" class="radio" value="" name="" />
                                        单程
                                    </label>
                                    <label>
                                        <input type="radio" class="radio" value="" name="" />
                                        返程
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    出发日期 
                                </th>
                                <td>
                                    <input type="text" class="text" value="" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    返回日期 
                                </th>
                                <td>
                                    <input type="text" class="text" value="" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th>航班号</th>
                                <td>
                                    <input type="text" class="text" value="" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th>舱位</th>
                                <td>
                                    <input type="text" class="text" value="" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th>航程</th>
                                <td>
                                    <input type="text" class="text" value="" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th>改签信息</th>
                                <td>
                                    <textarea name=""></textarea>
                                </td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                        <p class="center">
                        <input type="button" class="button button1" value="申请改签" name="" />
                        <input type="button" class="button button1" value="取消" name="" rel="close" />
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


{% include '../partial/footer.html' %}
