<script type="text/x-kendo-template" id="ac-search-user-template">
<div class="row">
<ul class="flat-list">
    <li>
    <label class="vertical-head">登录名：</label>
    <input style="width:100px">
    </li>
    <li>
    <label class="vertical-head">姓名：</label>
    <input style="width:100px">
    </li>
    <li>
    <label class="vertical-head">部门名称：</label>
    <input style="width:80px">
    <button data-options="{
        title:'选择部门',
        template:'ac-select-department-template'
    }" class="btns btn-search ac-select-department">查询</button>
    </li>
    <li>&nbsp;</li>
    <li style="width:100%;text-align:right;">
    <button class="btns btn-orange-s">查询</button>
    </li>
</ul>
</div>

<div class="row">
    <table class="grid-table" id="user-grid-table">
    <tr class="thead">
    <th>登录名</th>
    <th>姓名</th>
    <th>部门</th>
    <th>是否已注销</th>
    <th>电话</th>
    </tr>
    </table> 
</div>

<div class="row" style="text-align:right;">
<button class="btns button_1_2">提 交</button> 
<button class="btns button_2_2">取 消</button> 
</div>
</script>

<script type="text/x-kendo-template"  id="search-user-row-template">
    <tr>
        # kendo.logToConsole(data) #
        <td>#= data.c1 #</td>
        <td>#= data.c1 #</td>
        <td>#= data.c2 #</td>
        <td>#= data.c3 #</td>
        <td>#= data.c4 #</td>
    </tr>
</script>
