body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:20px;
    top:20px;
    width:610px;
    height:88px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../待开发票列表_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:329px;
    top:56px;
    width:47px;
    height:38px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:38px;
}

.u2 {
    position:absolute;
    left:2px;
    top:11px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../待开发票列表_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:75px;
    top:60px;
    width:210px;
    height:30px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:36px;
}

.u4 {
    position:absolute;
    left:2px;
    top:7px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../待开发票列表_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:982px;
    top:230px;
    width:343px;
    height:136px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:142px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:339px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../待开发票列表_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:1055px;
    top:283px;
    width:120px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:1186px;
    top:234px;
    width:40px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../待开发票列表_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:20px;
    top:114px;
    width:946px;
    height:279px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:946px;
    height:279px;
}

.u11 {
    position:absolute;
    left:2px;
    top:132px;
    width:942px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../待开发票列表_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:120px;
    top:105px;
    width:20px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../待开发票列表_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:230px;
    top:105px;
    width:20px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../待开发票列表_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:340px;
    top:105px;
    width:20px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:7px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../待开发票列表_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:33px;
    top:119px;
    width:86px;
    height:17px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:23px;
}

.u19 {
    position:absolute;
    left:2px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../待开发票列表_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:140px;
    top:118px;
    width:96px;
    height:17px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:23px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

