<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
<!-- <script src="/static/js/livereload.js?host=192.168.56.101"></script> -->
<script src="/static/js/livereload.js?host=192.168.139.13"></script>
</head>
<body>
<div class="example yui3-skin-sam">
    <div id="simple"></div>
    <div id="labels"></div>
</div>
<script type="text/javascript">

    YUI().use('node','datasource','datatable',function(Y){
        var data = [
        {
            Title : "ga_3475",
            Phone : "gadget",
        },
        {
            Title   : "sp_9980",
            Phone : "sprocket",
        },
        {
            Title: "wi_0650",
            Phone: "widget",
        }
        ];

        /* myDataSource = new Y.DataSource.Local({source:data}); */

        myDataSource = new Y.DataSource.Get({
            // source: "http://192.168.56.101:8888/jsonp/test?"
            // source: "jsonp/test?"
        });

        myDataSource.plug(Y.Plugin.DataSourceJSONSchema, {
            schema: {
                resultListLocator: "query.results.Result",
                resultFields: [ "Title", "Phone" ]
            }
        });


        simple = new Y.DataTable({
            columns: ["Title", "Phone"],
            summary: "Price sheet for inventory parts",
            caption: "Example table with simple columns"
        });

        simple.plug(Y.Plugin.DataTableDataSource, { datasource: myDataSource});

        simple.render("#simple");
        simple.datasource.load();

        Y.one('body').on('click',function(){
            simple.datasource.load({
                callback:{
                    success:function(e){
                        simple.datasource.onDataReturnInitializeTable(e);
                    } 
                } 
            });
            /* myDataSource.sendRequest({callback:{ */
            /*     success:function(){ */
            /*     }  */
            /* }}); */
        })

    })  
</script>
</body>
</html>
