<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
<script src="/static/js/livereload.js?host=192.168.1.200"></script>
</head>
<body>
<div class="example yui3-skin-sam">
    <div id="simple"></div>
    <div id="labels"></div>
</div>
<form action="/" id="fm1" method="post">
    <h3 id="form-status"></h3>
    <p class="formmgr-message-text"></p>
    <input type="text" class="text yiv-required" value="" name="email" />
    <input type="button" class="button" value="validate" name="" />
</form>
<script type="text/javascript">

    YUI().use('node','datasource','datatable',function(Y){

        var data = [
        {
            Title : "ga_3475",
            Phone : "gadget",
        },
        {
            Title   : "sp_9980",
            Phone : "sprocket",
        },
        {
            Title: "wi_0650",
            Phone: "widget",
        }
        ];

        /* myDataSource = new Y.DataSource.Local({source:data}); */

        myDataSource = new Y.DataSource.Get({
            //source: "http://192.168.56.101:8888/jsonp/test?"
            source: "jsonp/test?"
        });

        myDataSource.plug(Y.Plugin.DataSourceJSONSchema, {
            schema: {
                resultListLocator: "query.results.Result",
                resultFields: [ "Title", "Phone" ]
            }
        });


        simple = new Y.DataTable({
            columns: ["Title", "Phone"],
            summary: "Price sheet for inventory parts",
            caption: "Example table with simple columns"
        });

    simple.plug(Y.Plugin.DataTableDataSource, { datasource: myDataSource});

        simple.render("#simple");
        simple.datasource.load();

        Y.one('body').on('click',function(){
            simple.datasource.load({
                callback:{
                    success:function(e){
                        simple.datasource.onDataReturnInitializeTable(e);
                    } 
                } 
            });
            /* myDataSource.sendRequest({callback:{ */
            /*     success:function(){ */
            /*     }  */
            /* }}); */
        })
function node_extend_testNS(){}

        node_extend_testNS.NS = 'testNS'

        node_extend_testNS.prototype.hello = function(){
        }

        Y.one('body').plug(node_extend_testNS).testNS.hello();


    });



YUI().use('gallery-aui-form-validator', function(Y) {
	// Creating a basic Validator with the form below
	var validator1 = new Y.FormValidator({
		boundingBox: '#fm1',
 
		rules: {
			email: {
				required: true
			}
        },
        strings:{
             required:"fdsfa"
        }

	});
    Y.log(validator1)
 
	// Listening to validation events
	validator1.on('validateField', function(event) {
		// Fires when a field is evaluated
	});
	validator1.on('validField', function(event) {
		// Fires when a field contains valid data
	});
 
	validator1.on('errorField', function(event) {
		// Fires when a field contains invalid data
	});
 
});
</script>
</body>
</html>
