body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../查询三字码_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:350px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:356px;
}

.u1 {
    position:absolute;
    left:2px;
    top:167px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:350px
}

.u2_original {
    background-image: url('../查询三字码_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:780px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:10px;
    width:780px;
    height:100px
}

.u4 {
    position:absolute;
    left:290px;
    top:50px;
    width:143px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_text_sketch {
    font-family: '应用字体';
}

.u5 {
    position:absolute;
    left:20px;
    top:20px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:170px;
    top:50px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:170px;
    top:81px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:290px;
    top:80px;
    width:150px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_text_sketch {
    font-family: '应用字体';
}

.u9 {
    position:absolute;
    left:480px;
    top:75px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_text_sketch {
    font-family: '应用字体';
}

.u10_original {
    background-image: url('../查询三字码_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:120px;
    width:780px;
    height:130px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:786px;
    height:136px;
}

.u11 {
    position:absolute;
    left:2px;
    top:57px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:10px;
    top:120px;
    width:780px;
    height:130px
}

.u12_original {
    background-image: url('../查询三字码_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:70px;
    top:140px;
    width:657px;
    height:97px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:657px;
    height:97px;
}

.u13 {
    position:absolute;
    left:2px;
    top:40px;
    width:653px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:70px;
    top:140px;
    width:657px;
    height:97px
}

.u14 {
    position:absolute;
    left:10px;
    top:271px;
    width:510px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

