/*
http://a.tbcdn.cn/??
apps/et/common/widgets/suggest/css/trip-autocomplete.css
*author : Shuke.cl
*trip-autocomplete.css
*/
.yui3-acinput , .yui3-trip-submit , .yui3-acinput-icon{background: url(#) no-repeat;}
.yui3-acinput-box{position: relative;display: inline-block;float:left;}
.yui3-acinput-icon{position: absolute;right:5px;height:15px;width:20px;top:5px;background-position: 0 0;}
.yui3-acinput {
    border: 1px solid #a1a1a1;
    padding: 2px;
    line-height: 22px;
    height: 22px;
    background-position: 100% 100%;
    zoom: 1;
}
.yui3-aclist-input{
    outline: none;
}
.yui3-acinput-focus{border-color: #85bee5;}
.yui3-aclist {position: absolute}
.yui3-aclist-hidden {visibility: hidden}
.yui3-aclist .highlight{color:#f60;}
.yui3-aclist-aria {left: -9999px;position: absolute}
.yui3-aclist-list {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	border: 1px solid #85bee5;
	border-right-color: #3485c0;
	border-bottom-color: #3485c0;
}
.yui3-aclist-item {
	cursor: pointer;
	list-style: none;
	clear:both;
  overflow:hidden;
  zoom:1;
  padding: 4px 5px;
	height:16px;
  line-height:normal;
  *display: inline;
}
/*.yui3-aclist-noresult {padding:3px 5px;line-height: 20px;}*/
.yui3-msg-box{
    border: 1px solid #ff7d26;
    background: #fff2e8; 
    padding: 3px;
    color: #666;
    position: relative;
    z-index: 10000;
    zoom:1;
    margin-bottom: -2px;

}
.yui3-aclist-item-active {
	outline: #afafaf dotted thin;
	background:#e3e3e3;
}
.yui3-aclist-content {
	margin-top: -2px;
	*position:relative;
	zoom:1;
	background: #fff;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3); /* Opera 10.5, IE 9.0 */
	*filter:progid:DXImageTransform.Microsoft.Shadow(color=#808080,direction=135,strength=2);
}
.yui3-aclist-item-hover {
	background: #9cd9ff;
	color:#fff;
}
.yui3-aclist-item-active {
	background: #9cd9ff;
	color: #fff;
	outline: 0
}
.yui3-aclist .yui3-highlight{
	color:#f60;
}
.yui3-aclist .ac-cityname {
	float:left;
}
.yui3-aclist .ac-citypy {
	float:right;
	font-family: 'arial';
  max-width:90px;
  overflow: hidden;
  height: 16px;
}
/*ÈÈÃÅ³ÇÊÐÑùÊ½*/
.yui3-acinput-hot-tit{color:#666;line-height: 20px;padding: 0 5px 5px ;}
.yui3-hot-city{padding:5px 0; background:#fff;overflow: hidden;zoom:1;position: relative;
	border: 1px solid #85bee5;
	border-right-color: #3485c0;
	border-bottom-color: #3485c0;}
.yui3-hot-city p{color:#999;line-height:20px;padding: 0 0 8px 0; }
.yui3-hot-city .tab-nav{overflow:hidden; zoom:1;position:relative;z-index:5;padding: 3px 5px 0;height:22px; }
.yui3-hot-city .tab-nav li{float:left;border:1px solid #85bee5;padding:0 5px;margin-right:3px;line-height:20px; cursor:pointer;background:#e1effe; }
.yui3-hot-city .tab-nav li.selected{border-bottom:1px solid #fff;background:#fff; }
.yui3-hot-city .tab-content{border-top:1px solid #85bee5;margin-top:-1px;padding:6px 0 6px;line-height:22px;zoom:1;position: relative;}
.yui3-hot-city .tab-content dt{float:left;padding-left:3px; color:#f30; text-indent: 5px;font-family:"Lucida console","consolas","courier new";line-height: 22px;font-size:14px;}
.yui3-hot-city .tab-content dd{margin-left:15px;overflow:hidden; zoom:1;}
.yui3-hot-city .tab-content dd span{float:left;padding-left:4px;text-align:center;width:66px;text-align: left; }
.yui3-hot-city span a ,.yui3-hot-city span a:visited{color:#404040;padding:0 2px;}
.yui3-hot-city span a:hover{}
.yui3-hot-city .hidden{display:none;}