body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../退款_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:769px;
    width:1128px;
    height:98px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1128px;
    height:98px;
}

.u1 {
    position:absolute;
    left:2px;
    top:41px;
    width:1124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../退款_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:17px;
    top:877px;
    width:1069px;
    height:98px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1069px;
    height:98px;
}

.u3 {
    position:absolute;
    left:2px;
    top:41px;
    width:1065px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../退款_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:7px;
    top:100px;
    width:1119px;
    height:195px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1119px;
    height:195px;
}

.u5 {
    position:absolute;
    left:2px;
    top:90px;
    width:1115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../退款_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:3px;
    top:295px;
    width:1123px;
    height:352px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1123px;
    height:352px;
}

.u7 {
    position:absolute;
    left:2px;
    top:168px;
    width:1119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../退款_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:705px;
    top:526px;
    width:6px;
    height:78px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u9 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../退款_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:811px;
    top:526px;
    width:6px;
    height:78px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u11 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../退款_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:736px;
    top:528px;
    width:37px;
    height:76px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:76px;
}

.u13 {
    position:absolute;
    left:2px;
    top:30px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:734px;
    top:536px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:753px;
    top:571px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../退款_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:892px;
    top:526px;
    width:6px;
    height:78px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u17 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../退款_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:923px;
    top:528px;
    width:167px;
    height:76px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:76px;
}

.u19 {
    position:absolute;
    left:2px;
    top:30px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../退款_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:908px;
    top:529px;
    width:83px;
    height:68px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:68px;
}

.u21 {
    position:absolute;
    left:2px;
    top:26px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:1041px;
    top:536px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../退款_files/u8_normal.png');
}

.u23_container {
    position:absolute;
    left:1003px;
    top:526px;
    width:6px;
    height:78px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:78px;
}

.u24 {
    position:absolute;
    left:2px;
    top:31px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../退款_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:631px;
    top:105px;
    width:80px;
    height:29px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:35px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../退款_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:239px;
    top:336px;
    width:137px;
    height:29px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:35px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../退款_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:411px;
    top:336px;
    width:137px;
    height:29px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:35px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../退款_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:313px;
    top:336px;
    width:98px;
    height:24px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:98px;
    height:24px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../退款_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:9px;
    top:1179px;
    width:1129px;
    height:62px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1129px;
    height:62px;
}

.u34 {
    position:absolute;
    left:2px;
    top:23px;
    width:1125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../退款_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:938px;
    top:411px;
    width:81px;
    height:77px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:81px;
    height:77px;
}

.u36 {
    position:absolute;
    left:2px;
    top:30px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../退款_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:843px;
    top:411px;
    width:95px;
    height:77px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:77px;
}

.u38 {
    position:absolute;
    left:2px;
    top:30px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../退款_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:951px;
    top:414px;
    width:66px;
    height:29px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u40 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../退款_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:951px;
    top:453px;
    width:66px;
    height:29px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../退款_files/u39_normal.png');
}

.u43_container {
    position:absolute;
    left:858px;
    top:410px;
    width:66px;
    height:29px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../退款_files/u39_normal.png');
}

.u45_container {
    position:absolute;
    left:858px;
    top:452px;
    width:66px;
    height:29px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../退款_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:411px;
    top:336px;
    width:100px;
    height:29px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:35px;
}

.u48 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../退款_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:9px;
    top:1253px;
    width:298px;
    height:34px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:40px;
}

.u50 {
    position:absolute;
    left:2px;
    top:9px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../退款_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:237px;
    top:917px;
    width:136px;
    height:23px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:29px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../退款_files/u39_normal.png');
}

.u53_container {
    position:absolute;
    left:1037px;
    top:415px;
    width:66px;
    height:29px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:35px;
}

.u54 {
    position:absolute;
    left:2px;
    top:6px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../退款_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:1024px;
    top:455px;
    width:98px;
    height:29px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:35px;
}

.u56 {
    position:absolute;
    left:2px;
    top:6px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../退款_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:359px;
    top:609px;
    width:166px;
    height:33px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:33px;
}

.u58 {
    position:absolute;
    left:2px;
    top:8px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../退款_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:307px;
    top:1219px;
    width:342px;
    height:34px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:348px;
    height:40px;
}

.u60 {
    position:absolute;
    left:2px;
    top:9px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../退款_files/u59_normal.png');
}

.u61_container {
    position:absolute;
    left:307px;
    top:1253px;
    width:342px;
    height:34px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:348px;
    height:40px;
}

.u62 {
    position:absolute;
    left:2px;
    top:9px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../退款_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:649px;
    top:1219px;
    width:443px;
    height:34px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:449px;
    height:40px;
}

.u64 {
    position:absolute;
    left:2px;
    top:9px;
    width:439px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../退款_files/u63_normal.png');
}

.u65_container {
    position:absolute;
    left:649px;
    top:1253px;
    width:443px;
    height:34px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:449px;
    height:40px;
}

.u66 {
    position:absolute;
    left:2px;
    top:9px;
    width:439px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../退款_files/u49_normal.png');
}

.u67_container {
    position:absolute;
    left:9px;
    top:1219px;
    width:298px;
    height:34px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:40px;
}

.u68 {
    position:absolute;
    left:2px;
    top:9px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../退款_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:71px;
    top:1033px;
    width:160px;
    height:34px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:40px;
}

.u70 {
    position:absolute;
    left:2px;
    top:9px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../退款_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:231px;
    top:1033px;
    width:819px;
    height:34px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:825px;
    height:40px;
}

.u72 {
    position:absolute;
    left:2px;
    top:9px;
    width:815px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../退款_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:755px;
    top:105px;
    width:195px;
    height:29px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:29px;
}

.u74 {
    position:absolute;
    left:2px;
    top:6px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../退款_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:19px;
    top:975px;
    width:1031px;
    height:58px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1031px;
    height:58px;
}

.u76 {
    position:absolute;
    left:2px;
    top:21px;
    width:1027px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../退款_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:222px;
    top:612px;
    width:132px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:30px;
}

.u78 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:540px;
    top:1369px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80_normal {
    background-image: url('../退款_files/u69_normal.png');
}

.u80_container {
    position:absolute;
    left:71px;
    top:1067px;
    width:160px;
    height:34px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:40px;
}

.u81 {
    position:absolute;
    left:2px;
    top:9px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../退款_files/u71_normal.png');
}

.u82_container {
    position:absolute;
    left:231px;
    top:1067px;
    width:819px;
    height:34px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:825px;
    height:40px;
}

.u83 {
    position:absolute;
    left:2px;
    top:9px;
    width:815px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../退款_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:351px;
    top:1067px;
    width:90px;
    height:34px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:40px;
}

.u85 {
    position:absolute;
    left:2px;
    top:9px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../退款_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:443px;
    top:1072px;
    width:49px;
    height:24px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:30px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../退款_files/u69_normal.png');
}

.u88_container {
    position:absolute;
    left:71px;
    top:1101px;
    width:160px;
    height:34px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:40px;
}

.u89 {
    position:absolute;
    left:2px;
    top:9px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../退款_files/u71_normal.png');
}

.u90_container {
    position:absolute;
    left:231px;
    top:1101px;
    width:819px;
    height:34px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:825px;
    height:40px;
}

.u91 {
    position:absolute;
    left:2px;
    top:9px;
    width:815px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../退款_files/u84_normal.png');
}

.u92_container {
    position:absolute;
    left:351px;
    top:1101px;
    width:90px;
    height:34px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:40px;
}

.u93 {
    position:absolute;
    left:2px;
    top:9px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../退款_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:443px;
    top:1106px;
    width:160px;
    height:24px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:30px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../退款_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:576px;
    top:841px;
    width:77px;
    height:23px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:29px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../退款_files/u69_normal.png');
}

.u98_container {
    position:absolute;
    left:71px;
    top:1135px;
    width:160px;
    height:34px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:40px;
}

.u99 {
    position:absolute;
    left:2px;
    top:9px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../退款_files/u71_normal.png');
}

.u100_container {
    position:absolute;
    left:231px;
    top:1135px;
    width:819px;
    height:34px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:825px;
    height:40px;
}

.u101 {
    position:absolute;
    left:2px;
    top:9px;
    width:815px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../退款_files/u84_normal.png');
}

.u102_container {
    position:absolute;
    left:351px;
    top:1135px;
    width:90px;
    height:34px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:40px;
}

.u103 {
    position:absolute;
    left:2px;
    top:9px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../退款_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:443px;
    top:1140px;
    width:39px;
    height:24px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:30px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../退款_files/u49_normal.png');
}

.u106_container {
    position:absolute;
    left:9px;
    top:1287px;
    width:298px;
    height:34px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:40px;
}

.u107 {
    position:absolute;
    left:2px;
    top:9px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../退款_files/u59_normal.png');
}

.u108_container {
    position:absolute;
    left:307px;
    top:1287px;
    width:342px;
    height:34px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:348px;
    height:40px;
}

.u109 {
    position:absolute;
    left:2px;
    top:9px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../退款_files/u63_normal.png');
}

.u110_container {
    position:absolute;
    left:649px;
    top:1287px;
    width:443px;
    height:34px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:449px;
    height:40px;
}

.u111 {
    position:absolute;
    left:2px;
    top:9px;
    width:439px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../退款_files/u51_normal.png');
}

.u112_container {
    position:absolute;
    left:17px;
    top:836px;
    width:136px;
    height:23px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:29px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../退款_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:1005px;
    top:729px;
    width:47px;
    height:14px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:20px;
}

.u115 {
    position:absolute;
    left:2px;
    top:-1px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../退款_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:672px;
    top:807px;
    width:134px;
    height:23px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:29px;
}

.u117 {
    position:absolute;
    left:2px;
    top:4px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../退款_files/u51_normal.png');
}

.u118_container {
    position:absolute;
    left:17px;
    top:775px;
    width:136px;
    height:23px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:29px;
}

.u119 {
    position:absolute;
    left:2px;
    top:3px;
    width:132px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../退款_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:653px;
    top:836px;
    width:90px;
    height:27px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:33px;
}

.u121 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_line {
    background-image: url('../退款_files/u122_line.png');
}

.u122_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:61px;
}

.u122 {
    position:absolute;
    left:973px;
    top:802px;
    width:10px;
    height:61px;
    
}

.u123_normal {
    background-image: url('../退款_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:993px;
    top:695px;
    width:133px;
    height:23px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:29px;
}

.u124 {
    position:absolute;
    left:2px;
    top:4px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_line {
    background-image: url('../退款_files/u125_line.png');
}

.u125_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:61px;
}

.u125 {
    position:absolute;
    left:423px;
    top:807px;
    width:10px;
    height:61px;
    
}

.u126_line {
    background-image: url('../退款_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:61px;
}

.u126 {
    position:absolute;
    left:568px;
    top:805px;
    width:10px;
    height:61px;
    
}

.u127_normal {
    background-image: url('../退款_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:443px;
    top:839px;
    width:126px;
    height:23px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:29px;
}

.u128 {
    position:absolute;
    left:2px;
    top:4px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../退款_files/u127_normal.png');
}

.u129_container {
    position:absolute;
    left:443px;
    top:809px;
    width:126px;
    height:23px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:29px;
}

.u130 {
    position:absolute;
    left:2px;
    top:4px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../退款_files/u96_normal.png');
}

.u131_container {
    position:absolute;
    left:576px;
    top:809px;
    width:77px;
    height:23px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:29px;
}

.u132 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../退款_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:11px;
    top:692px;
    width:1066px;
    height:31px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1066px;
    height:31px;
}

.u134 {
    position:absolute;
    left:2px;
    top:8px;
    width:1062px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../退款_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:9px;
    top:697px;
    width:108px;
    height:21px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:27px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../退款_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:15px;
    top:721px;
    width:151px;
    height:42px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:42px;
}

.u138 {
    position:absolute;
    left:2px;
    top:13px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u139_container {
    position:absolute;
    left:47px;
    top:728px;
    width:110px;
    height:31px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:37px;
}

.u140 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../退款_files/u137_normal.png');
}

.u141_container {
    position:absolute;
    left:271px;
    top:721px;
    width:151px;
    height:42px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:42px;
}

.u142 {
    position:absolute;
    left:2px;
    top:13px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u143_container {
    position:absolute;
    left:303px;
    top:728px;
    width:110px;
    height:31px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:37px;
}

.u144 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:199px;
    top:735px;
    width:89px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../退款_files/u137_normal.png');
}

.u146_container {
    position:absolute;
    left:505px;
    top:723px;
    width:151px;
    height:42px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:42px;
}

.u147 {
    position:absolute;
    left:2px;
    top:13px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u148_container {
    position:absolute;
    left:537px;
    top:730px;
    width:110px;
    height:31px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:37px;
}

.u149 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:433px;
    top:740px;
    width:89px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:679px;
    top:737px;
    width:248px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:424px;
    top:1369px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u153_normal {
    background-image: url('../退款_files/u153_normal.png');
}

.u153_container {
    position:absolute;
    left:821px;
    top:803px;
    width:70px;
    height:30px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u154 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../退款_files/u153_normal.png');
}

.u155_container {
    position:absolute;
    left:821px;
    top:833px;
    width:70px;
    height:30px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u156 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../退款_files/u153_normal.png');
}

.u157_container {
    position:absolute;
    left:891px;
    top:803px;
    width:70px;
    height:30px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u158 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../退款_files/u153_normal.png');
}

.u159_container {
    position:absolute;
    left:891px;
    top:833px;
    width:70px;
    height:30px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u160 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../退款_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:961px;
    top:803px;
    width:87px;
    height:30px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:36px;
}

.u162 {
    position:absolute;
    left:2px;
    top:7px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../退款_files/u161_normal.png');
}

.u163_container {
    position:absolute;
    left:961px;
    top:833px;
    width:87px;
    height:30px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:36px;
}

.u164 {
    position:absolute;
    left:2px;
    top:7px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../退款_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:657px;
    top:839px;
    width:154px;
    height:23px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:29px;
}

.u166 {
    position:absolute;
    left:2px;
    top:4px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:670px;
    top:1369px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u168_normal {
    background-image: url('../退款_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:506px;
    top:535px;
    width:61px;
    height:18px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:24px;
}

.u169 {
    position:absolute;
    left:2px;
    top:1px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../退款_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:400px;
    top:535px;
    width:98px;
    height:18px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:24px;
}

.u171 {
    position:absolute;
    left:2px;
    top:1px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../退款_files/u172_normal.png');
}

.u172_container {
    position:absolute;
    left:516px;
    top:574px;
    width:41px;
    height:18px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:24px;
}

.u173 {
    position:absolute;
    left:2px;
    top:1px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../退款_files/u174_normal.png');
}

.u174_container {
    position:absolute;
    left:499px;
    top:525px;
    width:7px;
    height:80px;
}

#u174_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:80px;
}

.u175 {
    position:absolute;
    left:2px;
    top:32px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../退款_files/u176_normal.png');
}

.u176_container {
    position:absolute;
    left:5px;
    top:494px;
    width:1121px;
    height:197px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1121px;
    height:197px;
}

.u177 {
    position:absolute;
    left:2px;
    top:90px;
    width:1117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../退款_files/u178_normal.png');
}

.u178_container {
    position:absolute;
    left:736px;
    top:657px;
    width:180px;
    height:27px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:33px;
}

.u179 {
    position:absolute;
    left:2px;
    top:6px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

