<table frame="void" cellspacing="0" class="table-b5">
    <colgroup>
<!-- <script type="text/javascript">
alert('1111')-->
    </script>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
        <col width=100></col>
        <col width=100></col>
        <col width=100></col>
    </colgroup>
    <tr class="thead">
        <td>航空公司</td>
        <td>航班</td>
        <td>机型</td>
        <td>起降机场</td>
        <td>起降时间</td>
        <td>飞行时间</td>
        <td>舱位</td>
        <td>剩余座位</td>
        <td>操作</td>
    </tr>
    {%for x in range(5)%}
    <tr class="data-row">
        <td>
            <span class="pubFlights_fe">1东方航空</span>
        </td>
        <td>KA858</td>
        <td>空客kj</td>
        <td>上海-香港</td>
        <td>07:00-09:20</td>
        <td>2小时</td>
        <td class="sit-type">经济</td>
        <td class="sit-count">2</td>
        <td style="position:relative;width:100px;text-align:center;">
            <span class="more" data-url="ajax/J_Hbcx_s.html" data-flightno='123'>
                更多舱位
            </span>
            <i class="arrow6"></i>
        </td>
    </tr>
    <tr class="meta-row">
        <td colspan=9>
            <div class="info">
                <span class="blue show-lightbox" data-cached="0" data-url="ajax/lightbox_hbcx.html" data-lightboxid="TSXX">
                    退改签123 
                </span>
                <span>
                    票面价：
                    <s class="red">1400</s>
                </span>
                <span>
                    代理费：
                    <s>0%</s>
                </span>
                <span>
                    奖励：
                    <s>0.0%+120</s>
                </span>
                <span>
                    佣金：
                    <s class="red">
                        120 
                    </s>
                </span>
                <span>
                    税金：<s>599</s> 
                </span>
                <span>
                    结算价：
                    <s class="redb">
                        1180 
                    </s>
                </span>
                <span class="btn">
                    <fieldset name="FiiiiiiightInfo" class="hidden">
                        <div class="group-item">
<input type="hidden" name="FromCity" value="" />
<input type="hidden" name="DestCity" value="" />
<input type="hidden" name="AirCo" value="" />
<input type="hidden" name="FlightNumer" value="" />
<input type="hidden" name="Class" value="" />
<input type="hidden" name="FromDate" value="" />
<input type="hidden" name="FromTime" value="" />
<input type="hidden" name="DestDate" value="" />
<input type="hidden" name="DestTime" value="" />
<input type="hidden" name="QueryDate" value="" />
                        </div>
                    </fieldset>
                    <fieldset name="FlightInfo" class="hidden">
                        <div class="group-item">
<input type="hidden" name="FromCity" value="" />
<input type="hidden" name="DestCity" value="" />
<input type="hidden" name="AirCo" value="" />
<input type="hidden" name="FlightNumer" value="" />
<input type="hidden" name="Class" value="" />
<input type="hidden" name="FromDate" value="" />
<input type="hidden" name="FromTime" value="" />
<input type="hidden" name="DestDate" value="" />
<input type="hidden" name="DestTime" value="" />
<input type="hidden" name="QueryDate" value="" />
                        </div>
                    </fieldset>
                    <input type="button" class="button button1 show-lightbox" data-cached=0 data-url="ajax/lightbox_hbcx.html" data-lightboxid="TSXX" value="预订" name="" data-buy='提交PNR订单.html?data_Price=1690&data_Tax=696&data_L=3_I201203231725055551_3016936_0&S_City=CAN&E_City=SIN&data-parmes=' data-params="CZ,CZ3596,SHA,CAN,0845,1105,B,2012-09-15,2012-09-15,1|CZ,CZ353,CAN,SIN,0835,1225,L,2012-09-16,2012-09-16,1" />
                </span>
            </div>
        </td>
    </tr>
    
    <tr class="data-row">
        <td>
            <span class="pubFlights_fe">1东方航空</span>
        </td>
        <td>KA858</td>
        <td>空客kj</td>
        <td>上海-香港</td>
        <td>07:00-09:20</td>
        <td>2小时</td>
        <td class="sit-type">经济</td>
        <td class="sit-count">2</td>
        <td style="position:relative;width:100px;text-align:center;">
            <span class="more" data-url="ajax/J_Hbcx_m.html" data-flightno='123'>
                更多舱位
            </span>
            <i class="arrow6"></i>
        </td>
    </tr><tr class="data-row">
        <td>
            <span class="pubFlights_fe">zz东方航空</span>
        </td>
        <td>KA858</td>
        <td>空客kj</td>
        <td>上海-香港</td>
        <td>07:00-09:20</td>
        <td>2小时</td>
        <td class="sit-type">经济</td>
        <td class="sit-count">2</td>
        <td style="position:relative;width:100px;text-align:center;">
            <span class="more" data-url="ajax/J_Hbcx_m.html" data-flightno='123'>
                更多舱位
            </span>
            <i class="arrow6"></i>
        </td>
    </tr>
    <tr class="data-row">
        <td>
            <span class="pubFlights_fe">2东方航空</span>
        </td>
        <td>KA858</td>
        <td>空客kj</td>
        <td>上海-香港</td>
        <td>07:00-09:20</td>
        <td>2小时</td>
        <td class="sit-type">经济</td>
        <td class="sit-count">2</td>
        <td style="position:relative;width:100px;text-align:center;">
            <span class="more" data-url="ajax/J_Hbcx_m.html" data-flightno='123'>
                更多舱位
            </span>
            <i class="arrow6"></i>
        </td>
    </tr>
    <tr class="data-row">
        <td>
            <span class="pubFlights_fe">3东方航空</span>
        </td>
        <td>KA858</td>
        <td>空客kj</td>
        <td>上海-香港</td>
        <td>07:00-09:20</td>
        <td>2小时</td>
        <td class="sit-type">经济</td>
        <td class="sit-count">2</td>
        <td style="position:relative;width:100px;text-align:center;">
            <span class="more" data-url="ajax/J_Hbcx_m.html" data-flightno='123'>
                更多去程舱位
            </span>
            <i class="arrow6"></i>
        </td>
    </tr>
    <tr class="data-row">
        <td>
            <span class="pubFlights_fe">4东方航空</span>
        </td>
        <td>KA858</td>
        <td>空客kj</td>
        <td>上海-香港</td>
        <td>07:00-09:20</td>
        <td>2小时</td>
        <td class="sit-type">经济</td>
        <td class="sit-count">2</td>
        <td style="position:relative;width:100px;text-align:center;">
            <span class="more" data-url="ajax/J_Hbcx_s.html" data-flightno='123'>
                更多回程舱位
            </span>
            <i class="arrow6"></i>
        </td>
    </tr>
    <tr class="meta-row">
        <td colspan=9>
            <div class="info">
                <span class="blue show-lightbox" data-url="ajax/lightbox_hbcx.html" data-lightboxid="TSXX">
                    退改签 
                </span>
                <span>
                    票面价：
                    <s class="red">1400</s>
                </span>
                <span>
                    代理费：
                    <s>0%</s>
                </span>
                <span>
                    奖励：
                    <s>0.0%+120</s>
                </span>
                <span>
                    佣金：
                    <s class="red">
                        120 
                    </s>
                </span>
                <span>
                    税金：<s>599</s> 
                </span>
                <span>
                    结算价：
                    <s class="redb">
                        1180 
                    </s>
                </span>
                <span class="btn">
                    <input type="button" class="button button1 show-lightbox" data-cached=0 data-url="ajax/lightbox_hbcx.html" data-lightboxid="TSXX" value="预订" name="" data-buy='提交PNR订单.html?data_Price=1690&data_Tax=696&data_L=3_I201203231725055551_3016936_0&S_City=CAN&E_City=SIN&data-parmes=' data-params="CZ,CZ3596,SHA,CAN,0845,1105,B,2012-09-15,2012-09-15,1|CZ,CZ353,CAN,SIN,0835,1225,L,2012-09-16,2012-09-16,1" />
                </span>
            </div>
        </td>
    </tr>
 {% end %}
</table>
