<div class="lightbox lightbox-1" data-lightboxid="TSXX">
    <table cellspacing="0">
        <tr>
            <td>
                <div class="lightbox-content">
                    <i class="close" rel="close">×</i> 
    <div class="lightbox-head">
        <h3>提示信息</h3>
    </div>
    <div class="lightbox-body">
        <p>
            退票：
            <span class="red">不允许</span>
        </p>
        <p>
            改签：
            <span class="red">去程不得改签，DKF</span>
        </p>
        <p>
            最短停留期：
            <span class="red">2-7天</span>
        </p>
        <p>&nbsp;</p>
        <p class="gray">
            以上退改签规定以航空公司为准，或致电退改热线咨询 
        </p>
        <p>&nbsp;</p>
        <p class="center">
            <input type="button" class="button button1" value="确定" name="" />
            <input type="button" class="button button1" value="取消" name="" rel="close" />
        </p>
    </div>
                </div>
            
            </td>
        </tr>
    </table>
</div>
