<div class="dacheng-ajax-wrapper">

{% for x in range(4) %}
<div class="dancheng-ajax-info">
                                <span class="blue">
                                    退改签 
                                </span>
                                <span>
                                    票面价：
                                    <b class="red">1400</b>
                                </span>
                                <span>
                                    代理费：
                                    0%
                                </span>
                                <span>
                                    奖励：
                                    0.0%+120
                                </span>
                                <span>
                                    佣金：
                                    <b class="red">
                                        120 
                                    </b>
                                </span>
                                <span>
                                    税金：599 
                                </span>
                                <span>
                                    结算价：
                                    <b class="redb">
                                        1180 
                                    </b>
                                </span>
                                <span>
                                    <b class="blue">
                                       经济 
                                    </b>
                                </span>
                                <span>
                                    >2 
                                </span>
                                <span class="btn">
                                    <input type="button" class="button button1" value="预订" name="" />
                                </span>
                            
                                </div>

                                {% end   %}
</div>
