body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:150px;
    top:83px;
    width:470px;
    height:432px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:309px;
    top:30px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../发票打印_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:220px;
    top:86px;
    width:140px;
    height:18px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:24px;
}

.u3 {
    position:absolute;
    left:2px;
    top:1px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../发票打印_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:420px;
    top:86px;
    width:140px;
    height:18px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:24px;
}

.u5 {
    position:absolute;
    left:2px;
    top:1px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../发票打印_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:220px;
    top:114px;
    width:140px;
    height:18px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:24px;
}

.u7 {
    position:absolute;
    left:2px;
    top:1px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../发票打印_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:420px;
    top:114px;
    width:140px;
    height:18px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:24px;
}

.u9 {
    position:absolute;
    left:2px;
    top:1px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:504px;
    top:200px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../发票打印_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:219px;
    top:200px;
    width:260px;
    height:18px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:24px;
}

.u12 {
    position:absolute;
    left:2px;
    top:1px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../发票打印_files/u2_normal.png');
}

.u13_container {
    position:absolute;
    left:220px;
    top:167px;
    width:140px;
    height:18px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:24px;
}

.u14 {
    position:absolute;
    left:2px;
    top:1px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../发票打印_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:501px;
    top:268px;
    width:87px;
    height:26px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:87px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:5px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../发票打印_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:220px;
    top:272px;
    width:259px;
    height:18px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:24px;
}

.u18 {
    position:absolute;
    left:2px;
    top:1px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../发票打印_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:224px;
    top:390px;
    width:253px;
    height:18px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:259px;
    height:24px;
}

.u20 {
    position:absolute;
    left:2px;
    top:1px;
    width:249px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:231px;
    top:358px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:504px;
    top:390px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:504px;
    top:426px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_normal {
    background-image: url('../发票打印_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:341px;
    top:84px;
    width:19px;
    height:22px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:22px;
}

.u25 {
    position:absolute;
    left:2px;
    top:3px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../发票打印_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:150px;
    top:506px;
    width:430px;
    height:44px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:436px;
    height:50px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../发票打印_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:220px;
    top:142px;
    width:200px;
    height:18px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:24px;
}

.u29 {
    position:absolute;
    left:2px;
    top:1px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

