<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="UTF-8">
  <title>{{ data['title'] }}</title>
  <link href="{{ static_url('css/normalize.css') }}" rel="stylesheet" />
  <link href="{{ static_url('css/b2b-modules.css') }}" rel="stylesheet" />
  <link href="{{ static_url('css/guoji.css') }}" rel="stylesheet" />
  <link href="{{ static_url('css/guonei.css') }}" rel="stylesheet" />
  <link href="{{ static_url('css/flights_logo.css') }}" rel="stylesheet" />
  <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/head.min.js') }}"></script>
  <script type="text/javascript" src="http://gnjp.10106266.com/js/guonei.js"></script>
</head>
<body>
<div class="head clearfix">
  <h1 class="logo">
    <a href="#"><span>天地行B2B交易平台</span></a>
  </h1>
  <div class="nav-top">
    <div class="menu-quick">
      <div class="mqr mqr1">
        <a href="#">站点首页</a> |
        <a href="#">个人设置</a> |
        <a href="#">帮助中心</a> |
        [<a href="#">退出</a>]
      </div>
      <div class="mqr mqr2">
        欢迎您！admin
        [<a href="#">{{ data['usergroup'] }}</a>]
      </div>
    </div>
    <div class="menu-main clearfix">
      <ul>
        <li>
        <a href="首页.html">国内机票</a>
        </li>
        <li class="current">
        <a href="首页.html">国际机票</a>
        </li>
        <li>
        <a href="首页.html">酒  店</a>
        </li>
        <li>
        <a href="首页.html">保  险</a>
        </li>
        <li>
        <a href="首页.html">政策管理</a>
        </li>
        <li>
        <a href="首页.html">财务管理</a>
        </li>
        <li>
        <a href="首页.html">统计报表</a>
        </li>
        <li>
        <a href="首页.html">系统管理</a>
        </li>
      </ul>
    </div>
  </div>
</div>
