body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../国际返点查询_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:15px;
    top:6px;
    width:1120px;
    height:397px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1120px;
    height:397px;
}

.u1 {
    position:absolute;
    left:2px;
    top:190px;
    width:1116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../国际返点查询_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:166px;
    top:172px;
    width:593px;
    height:28px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:593px;
    height:28px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:589px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../国际返点查询_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:114px;
    top:176px;
    width:58px;
    height:16px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:120px;
    top:176px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../国际返点查询_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:6px;
    top:413px;
    width:1125px;
    height:35px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1125px;
    height:35px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:1121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../国际返点查询_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:14px;
    top:176px;
    width:42px;
    height:21px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:21px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../国际返点查询_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:920px;
    top:210px;
    width:40px;
    height:28px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:28px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:280px;
    top:216px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../国际返点查询_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:262px;
    top:212px;
    width:100px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../国际返点查询_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:212px;
    top:175px;
    width:4px;
    height:16px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:4px;
    height:16px;
}

.u17 {
    position:absolute;
    left:2px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../国际返点查询_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:211px;
    top:178px;
    width:4px;
    height:18px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:4px;
    height:18px;
}

.u19 {
    position:absolute;
    left:2px;
    top:1px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../国际返点查询_files/u14_normal.png');
}

.u20_container {
    position:absolute;
    left:380px;
    top:212px;
    width:100px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../国际返点查询_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:631px;
    top:210px;
    width:70px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../国际返点查询_files/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:726px;
    top:211px;
    width:70px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../国际返点查询_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:796px;
    top:216px;
    width:72px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../国际返点查询_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:888px;
    top:216px;
    width:56px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../国际返点查询_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:954px;
    top:217px;
    width:57px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../国际返点查询_files/u30_normal.png');
}

.u32_container {
    position:absolute;
    left:1026px;
    top:217px;
    width:57px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../国际返点查询_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:710px;
    top:256px;
    width:230px;
    height:142px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:142px;
}

.u35 {
    position:absolute;
    left:2px;
    top:63px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../国际返点查询_files/u26_normal.png');
}

.u36_container {
    position:absolute;
    left:796px;
    top:269px;
    width:72px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../国际返点查询_files/u28_normal.png');
}

.u38_container {
    position:absolute;
    left:888px;
    top:269px;
    width:56px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../国际返点查询_files/u30_normal.png');
}

.u40_container {
    position:absolute;
    left:954px;
    top:270px;
    width:57px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../国际返点查询_files/u26_normal.png');
}

.u42_container {
    position:absolute;
    left:802px;
    top:349px;
    width:72px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../国际返点查询_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:1021px;
    top:256px;
    width:101px;
    height:142px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:142px;
}

.u45 {
    position:absolute;
    left:2px;
    top:63px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../国际返点查询_files/u28_normal.png');
}

.u46_container {
    position:absolute;
    left:892px;
    top:349px;
    width:56px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../国际返点查询_files/u30_normal.png');
}

.u48_container {
    position:absolute;
    left:954px;
    top:350px;
    width:57px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../国际返点查询_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:510px;
    top:215px;
    width:90px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../国际返点查询_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:72px;
    top:15px;
    width:100px;
    height:14px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:20px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-1px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:631px;
    top:80px;
    width:149px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55_normal {
    background-image: url('../国际返点查询_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:746px;
    top:114px;
    width:28px;
    height:22px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:22px;
}

.u56 {
    position:absolute;
    left:2px;
    top:3px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../国际返点查询_files/u55_normal.png');
}

.u57_container {
    position:absolute;
    left:298px;
    top:114px;
    width:28px;
    height:22px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:22px;
}

.u58 {
    position:absolute;
    left:2px;
    top:3px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../国际返点查询_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:1040px;
    top:270px;
    width:44px;
    height:110px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:110px;
}

.u60 {
    position:absolute;
    left:2px;
    top:47px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../国际返点查询_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:620px;
    top:252px;
    width:191px;
    height:138px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:191px;
    height:138px;
}

.u62 {
    position:absolute;
    left:2px;
    top:61px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../国际返点查询_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:520px;
    top:270px;
    width:90px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../国际返点查询_files/u63_normal.png');
}

.u65_container {
    position:absolute;
    left:524px;
    top:349px;
    width:90px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../国际返点查询_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:98px;
    top:142px;
    width:74px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../国际返点查询_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:550px;
    top:142px;
    width:310px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../国际返点查询_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:520px;
    top:275px;
    width:100px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../国际返点查询_files/u50_normal.png');
}

.u73_container {
    position:absolute;
    left:524px;
    top:359px;
    width:90px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:594px;
    top:175px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:674px;
    top:175px;
    width:87px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77_normal {
    background-image: url('../国际返点查询_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:140px;
    top:458px;
    width:210px;
    height:72px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:78px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:206px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:182px;
    top:14px;
    width:148px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:184px;
    top:80px;
    width:156px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:764px;
    top:174px;
    width:119px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82_normal {
    background-image: url('../国际返点查询_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:380px;
    top:470px;
    width:360px;
    height:170px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:176px;
}

.u83 {
    position:absolute;
    left:2px;
    top:77px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:560px;
    top:600px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:648px;
    top:600px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86_normal {
    background-image: url('../国际返点查询_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:380px;
    top:470px;
    width:360px;
    height:33px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:39px;
}

.u87 {
    position:absolute;
    left:2px;
    top:8px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../国际返点查询_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:430px;
    top:520px;
    width:220px;
    height:70px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:76px;
}

.u89 {
    position:absolute;
    left:2px;
    top:11px;
    width:216px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../国际返点查询_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:18px;
    top:178px;
    width:46px;
    height:16px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:22px;
}

.u91 {
    position:absolute;
    left:2px;
    top:0px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

