<script type="text/x-kendo-template" id="ac-search-customer-template">
<div class="row">
<ul class="flat-list">
    <li>
    <label class="vertical-head">客户简称：</label>
    <input style="width:100px">
    </li>
    <li>
    <label style="width:80px;" class="vertical-head">拼音索引：</label>
    <input style="width:100px">
    </li>
    <li>
    <label class="vertical-head">客户全称：</label>
    <input style="width:100px">
    </li>
    <li>
    <label style="width:80px;" class="vertical-head">银行账号：</label>
    <input style="width:100px">
    </li>
    <li>
    <label class="vertical-head">联系人：</label>
    <input style="width:100px">
    </li>
    <li>
    <label style="width:80px;" class="vertical-head">归属营业点：</label>
    <input style="width:80px">
    <button data-options="{
        title:'选择营业点',
        template:'ac-select-outlet-template'
    }" class="btns btn-search ac-select-outlet">查询</button>
    </li>
    <li style="width:100%;text-align:right;">
    <button style="margin-top:-5px;" class="btns btn-orange-s">查询</button>
    </li>
</ul>
</div>

    <div class="row">
    <table class="grid-table" id="customer-grid-table">
    <tr class="thead">
    <th>客户名称</th>
    <th>创建时间</th>
    <th>可用余额</th>
    <th>联系人</th>
    </tr>
    </table> 
    </div>

    <div class="row" style="text-align:right;">
    <button class="btns button_1_2">提 交</button> 
    <button class="btns button_2_2">取 消</button> 
    </div>
</div>
</script>

<script type="text/x-kendo-template"  id="search-customer-row-template">
<tr>
        # kendo.logToConsole(data) #
        <td>#= data.c1 #</td>
        <td>#= data.c2 #</td>
        <td>#= data.c3 #</td>
        <td>#= data.c4 #</td>
    </tr>
</script>

